---
layout: default
full_title: 全能保险柜官网-保险柜,保险箱,家用保险柜箱,保险柜十大品牌
---
%article#billboard
  .bb.active
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/b-5440.html" } B-5540
    .title
      %img{ src: "/assets/images/billboards/b-5440/title.png" }
    .subtitle
      %img{ src: "/assets/images/billboards/b-5440/subtitle.png" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/b5540_01.jpg" }
  .bb
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/bw-6960.html" } 风生水起BW-6960
    .title.one
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_text_01.png" }
    .subtitle
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/bw-6960_01.jpg" }
  .bb
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/kl-4045.html" } 可拉珍藏KL-4045
    .title.one
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_text_01.png" }
    .subtitle
    .image{ style: "top: 105px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/kl-4045_01.jpg" }
  .bb
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/gtx-5842.html" } 钢铁侠GTX-5842
    .title
      %img{ src: "/assets/images/billboards/gtx-5842/title.png" }
    .subtitle
      %img{ src: "/assets/images/billboards/gtx-5842/subtitle.png" }
    .image
      %img{ src: "/assets/images/billboards/gtx-5842/gtx-5842.jpg" }
  .bb
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/fg-6842br.html" } 风生水起FG-6842B
    .title.one
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-6842b_text_01.png" }
    .subtitle
    .image{ style: "top: 80px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/fg-6842b_01.jpg" }
#promo
  %ul
    %li
      %a{ class: "promo_01", title: "全能TV" }
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/cases/", class: "promo_02", title: "全能保险柜酒店工程案例" }
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/stores/", class: "promo_03", title: "全能保险柜销售网点" }
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/support/", class: "promo_04", title: "全能保险柜服务与支持" }
#newsslider.wide.sliderkit.newslider-minimal
  .left<
    %a{ href: "{{ site.www.qnnsafe.com }}/news/" }<> 新闻中心
  .sliderkit-panels
    {% for post in site.categories["news"] limit:300 %}
    .sliderkit-panel<
      = '〔{{ post.type }}〕'
      %a{ href: '{{ site.www.qnnsafe.com }}{{ post.url }}', title: '{{ post.title }}' }<> {{ post.title }}
      %span.date {{ post.date | date:"%Y年%m月%d日" }}
    {% endfor %}
    
