---
layout: default
---
%article#billboard
  .bb
    .link
      %a{ href: "/gtx-5842.html" } GTX-5842
    .title
      %img{ src: "/assets/images/billboards/gtx-5842/title.png" }
    .subtitle
      %img{ src: "/assets/images/billboards/gtx-5842/subtitle.png" }
    .image
      %img{ src: "/assets/images/billboards/gtx-5842/gtx-5842.jpg" }
#promo
  %ul
    %li
      %a{ href: "/", class: "promo_01" }
    %li
      %a{ href: "/", class: "promo_01" }
    %li
      %a{ href: "/", class: "promo_01" }
    %li
      %a{ href: "/", class: "promo_01" }
