---
layout: default
---
%article#billboard
  .bb
    .title
      %img{ src: "/assets/images/billboards/gtx-5842/title.png" }
    .subtitle
      %img{ src: "/assets/images/billboards/gtx-5842/subtitle.png" }
    .image
      %img{ src: "/assets/images/billboards/gtx-5842/gtx-5842.jpg" }
