---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能保险柜获电商慈善大奖
keywords: 保险柜
description: 全能保险柜获电商慈善大奖
---
%p 2014年1月12日，顺德区电子商务协会周年庆暨迎新晚会在大良礼堂内举行。区内200多家电商协会的会员企业，共1000多人参加。全能保险柜电商公司作为理事单位应邀组团观看了晚会表演表演。
%p 在晚会上，全能保险柜电商凭借2013年的优秀表现以及在慈善事业上的付出，获得电商协会的嘉奖，授予2013年度慈善大奖。
%p 据了解，在过去的一年里，全能保险柜连续多年向清远山区独树小学捐资助学外，还成为佛山市星宸自闭症儿童康复中心第一届爱心捐赠单位。此外，全能保险柜总经理李政一，捐助兰州拾金不昧的穷苦老人甘敬祖的事迹更是得到媒体一片赞誉。
%p 在新的一年，全能保险柜及全能电商公司将继续践行企业社会责任义务，做好慈善工作。  
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019501.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019502.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019503.jpg"}/ 
