---
layout: news_article
type: 企业动态
type_eng: enterprise-news

title: 全能核心代理商会议胜利召开
keywords: 保险柜
description: 全能核心代理商会议胜利召开
---
%p 2014年1月10日，来自全国各地的10余名核心代理商齐聚全能保险柜公司总部，与全能保险柜总经理李政一、销售部门的伙伴一道总结2013年工作，并对 2014年公司发展做了展望。
%p 会议中，李政一总经理就2013年公司在传统零售战线的发展情况做了总结，对在2013年取得优秀成绩的核心代理商们表示了祝贺。同时，表示在新的一年我们依然面临严峻的挑战，竞争对手不会停下来等待我们，我们只有不断改变，不断创新，方能立于不败之地，要以二次创业的精神迎难而上。在2014年，公司将继续依托广大代理商，继续深挖潜力，利用互联网思维推动线上线下联动式O2O项目发展。
%p 会上，与会的代理商们纷纷就自身发展过程中遇到的问题进行发言，并与公司的相关人员进行深入的交流与讨论，会议在一片热烈气氛中结束。
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019601.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019602.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019603.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019604.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019605.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019606.jpg"}/ 
%p< 
  %img{alt: "", src: "http://www.qnnsafe.com/images/news/id019607.jpg"}/ 
