---
layout: product_article
permalink: /cs-4021c.html

type: 安固
name: CS-4021C
title: CS-4021C
keywords: 保险柜
description: 全能保险柜安固系列CS-4021C保险柜的特殊设计双连动32MM粗壮门栓，不锈钢装饰面板结合重锁装置与防钻板设计，可填充复合材料，重量无敌。

specs: (高)1015&times;(宽)550&times;(深)550mm
thickness: 门5mm，箱体3mm
weight: 295公斤

images:
- cs-4021-01.jpg
- cs-02.jpg
- cs-03.jpg

features: |
  <img alt="保险柜CS-4021C功能特征" border="0" height="1142" src="%PRODIMGS%/cs-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜CS-4021C产品参数" border="0" height="113" src="%PRODIMGS%/cs-cpcs.jpg" width="538" />

---
