---
layout: product_article
permalink: /sjb-58br.html

type: 铁管家
name: SJB-58ⅢB/R
title: SJB-58ⅢB/R
keywords: 保险柜十大品牌
description: 家用保险柜系列铁管家SJB-58ⅢB/R保险柜高490mm，宽360mm，深360mm，净重50公斤，拥有双重保护，用户能自由设置密码。


images:
- sjb-58br.jpg


features: |
  <img alt="保险柜SJB-58ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱SJB-58ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
