---
layout: product_article
permalink: /fg-9150d.html

type: 钢将军
name: FG-9150D
title: FG-9150D
keywords: 保险柜
description: 全能保险柜刚将军系列FG-9150D保险柜高910mm，宽500mm，深450mm，净重124公斤，内结合活动板层，灵活重组箱内空间。

specs: (高)910&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体6mm
weight: 124公斤

images:
- fg-9150d-01.jpg
- fg-9150d-02.jpg
- fg-9150d-03.jpg

features: |
  <img alt="家用保险柜FG-9150D功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱FG-9150D产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
