---
layout: product_article
permalink: /sjb-43br.html

type: 铁管家
name: SJB-43ⅢB/R
title: SJB-43ⅢB/R
keywords: 家用保险柜
description: 家用保险柜系列铁管家SJB-43ⅢB/R保险柜采用德国顶尖工艺激光切割技术，高270mm，宽350mm，深300mm，净重26公斤。

specs: (高)270(宽)350(深)250mm
thickness: 门10mm，箱体4mm
weight: 26公斤

images:
- sjb-43br-01.jpg
- sjb-43br-01.jpg
- sjb-43br-01.jpg

features: |
  <img alt="保险箱SJB-43ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜SJB-43ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
