---
layout: product_article
permalink: /sjb-88br.html

type: 铁管家
name: SJB-88ⅢB/R
title: SJB-88ⅢB/R
keywords: 家用保险箱
description: 家用保险柜铁管家系列SJB-88IIIB/R高765mm，宽450mm，深400mm，净重88公斤，多重防护，全面符合国家3C认证标准。

specs: (高)765&times;(宽)450&times;(深)400mm
thickness: 门10mm，箱体6mm
weight: 88公斤

images:
- sjb-88-01.jpg
- sjb-88-02.jpg
- sjb-88-03.jpg

features: |
  <img alt="家用保险箱SJB-88ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱SJB-88ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
