---
layout: product_article
permalink: /sjb-40br.html

type: 铁管家
name: SJB-40ⅢB/R
title: SJB-40ⅢB/R
keywords: 保险箱
description: 全能家用保险箱系列铁管家SJB-40ⅢB/R保险柜高200mm，宽360mm，深300mm，净重20公斤，为您打造极致全能安全生活空间。

specs: (高)200(宽)360(深)300mm
thickness: 门8mm，箱体4mm
weight: 20公斤

images:
- sjb-40br-01.jpg
- sjb-40br-02.jpg
- sjb-40br-03.jpg

features: |
  <img alt="保险柜sjb-40br功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜sjb-40br产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
