---
layout: product_article
permalink: /tmjcg.html

type: 寄存柜
name: 条码寄存柜
title: 条码寄存柜
keywords: 保险箱
description: 保险柜十大品牌寄存柜系列条码寄存柜有方便携带，密码唯一性，大众实用性等特点，条码纸一经使用就会失效，简单操作，实用安全成倍提高。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- tmjcg-01.jpg
- tmjcg-02.jpg

features: |
  <img alt="保险柜条码寄存柜功能特征" border="0" height="1002" src="%PRODIMGS%/tmjcg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱条码寄存柜产品参数" border="0" height="237" src="%PRODIMGS%/tmjcg-cpcs.jpg" width="538" />

---
