---
layout: product_article
permalink: /fg-3542br.html

type: 钢将军
name: FG-3542B/R
title: FG-3542B/R
keywords: 家用保险箱
description: 家用保险箱系列刚将军FG-3542B/R保险柜高350mm，宽420mm，深320mm，智能化监控和双重型锁控系统，大家风范，完美搭配。

specs: (高)350&times;(宽)420&times;(深)320mm
thickness: 门10mm，箱体6mm
weight: 42公斤

images:
- fg-3542-01.jpg
- fg-3542-02.jpg
- fg-3542-03.jpg

features: |
  <img alt="家用保险箱fg-3542br功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱fg-3542br产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
