---
layout: product_article
permalink: /sjb-40hbr.html

type: 铁管家
name: SJB-40HⅢB/R
title: SJB-40HⅢB/R
keywords: 家用保险柜
description: 家用保险柜系列铁管家SJB-40HⅢB/R保险柜高380mm，宽300mm，深200mm，净重24公斤，符合国家3C认证标准。

specs: (高)380(宽)300(深)200mm
thickness: 门8mm，箱体4mm
weight: 24公斤

images:
- sjb-40h-01.jpg
- sjb-40h-02.jpg
- sjb-40h-03.jpg

features: |
  <img alt="家用保险柜SJB-40HⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱SJB-40HⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
