---
layout: product_article
permalink: /dm-2146zh.html

type: HOTSAFE客房柜
title: DM-2146ZH
keywords: 保险箱
description: 保险柜HOTSAFE客房柜系列DM-2146ZH高217mm，宽463mm，深400mm，全面优质喷漆表面处理技术，防锈耐刮花，刚柔并济。

specs: (高)217&times;(宽)463&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 17公斤

---
