---
layout: product_article
permalink: /mk-2043zh.html

type: HOTSAFE客房柜
name: MK-2043ZH
title: MK-2043ZH
keywords: 保险柜
description: 全能保险柜HOTSAFE客房柜系列MK-2043ZH全钢结构，多门栓设计，具备普通和特殊砖割工具破坏，坚固防撬，创造极致全能安全生活空间。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 15公斤

images:
- mk-2045zh-01.jpg
- mk-2045zh-02.jpg
- mk-2045zh-01.jpg

features: |
  <img alt="家用保险箱MK-2043ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200mm;(宽)450mm;(深)400mm
  厚度：门5mm，箱体2mm
  净重：15公斤

---
