---
layout: product_article
permalink: /tgg-5840br.html

type: 铁金钢
name: TGG-5840B/R
title: TGG-5840B/R
keywords: 保险柜
description: 保险柜十大品牌铁金刚系列TGG-5840B/R高580mm，宽400mm，深360mm，净重62公斤，采用智能化监控系统和双重型锁控系统。

specs: (高)580(宽)400(深)360mm
thickness: 门10mm，箱体6mm
weight: 62公斤

images:
- tgg5840-01.jpg
- tgg5840-02.jpg
- tgg5840-03.jpg

features: |
  <img alt="家用保险箱TGG-5840B/R功能特征" border="0" height="1130" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜TGG-5840B/R产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
