---
layout: product_article
permalink: /frd-21.html

type: 抽屉式
name: FRD-21
title: FRD-21
keywords: 保险柜十大品牌
description: 家用保险箱抽屉式系列FRD-21保险柜高845mm，宽525mm，深780mm，净重168公斤，顶级防火防磁抽屉式文件柜，绿色环保设计。

specs: (高)845(宽)525(深)780mm
thickness: 门1.2mm，箱体0.8mm
weight: 168公斤

images:
- frd-01.jpg
- frd-02.jpg
- frd-03.jpg
- frd-04.jpg

features: |
  <p style="line-height: 300%">
  <b>1、顶级防火防磁抽屉式文件柜，绿色环保设计</b>
  <p style="line-height: 300%">
  <b>2、配备机械、电子密码锁、报警器兼备防盗功能</b>
  <p style="line-height: 300%">
  <b>3、集防潮、防尘、防射频、防热等多项辅助功能于一身</b>
  <p style="line-height: 300%">
  <b>4、适用于商务、保密系统</b>
  <p style="line-height: 300%">
  <img alt="家用保险柜FRD-21功能特征" border="0" height="431" src="%PRODIMGS%/frd-gn.jpg" width="333" />

spec_details: |
  <img alt="家用保险箱FRD-21产品参数" border="0" height="142" src="%PRODIMGS%/frd-cpcs.jpg" width="538" />

---
