---
layout: product_article
permalink: /tmjcg.html

type: 寄存柜
name: 条码寄存柜
title: 条码寄存柜
keywords: 保险箱
description: 保险柜十大品牌寄存柜系列条码寄存柜有方便携带，密码唯一性，大众实用性等特点，条码纸一经使用就会失效，简单操作，实用安全成倍提高。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
