---
layout: product_article
permalink: /bp-6747.html

type: 油站投币柜
name: BP-6747
title: BP-6747
keywords: 保险箱
description: 家用保险柜油站投币柜系列BP-6747保险柜高674mm，宽474mm，深420mm，净重125公斤，其BP系列为中油碧辟指定用柜。

specs: (高)674&times;(宽)474&times;(深)420mm
thickness: 门10mm，箱体8mm
weight: 125公斤

---
