---
layout: product_article
permalink: /hg-2740.html

type: 新皇冠
name: HG-2740
title: HG-2740
keywords: 家用保险柜
description: 全能保险柜家用系列新皇冠HG-2740保险柜多重防护，全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。

specs: (高)290(宽)450(深)270mm
thickness: 门10mm，箱体4mm
weight: 35公斤

images:
- hg-2740-01.jpg
- hg-2740-01.jpg

features: |
  <img alt="保险柜十大品牌HG-2740功能特征" border="0" height="1142" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜HG-2740产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
