---
layout: product_article
permalink: /sjb-40br.html

type: 铁管家
name: SJB-40ⅢB/R
title: SJB-40ⅢB/R
keywords: 保险箱
description: 全能家用保险箱系列铁管家SJB-40ⅢB/R保险柜高200mm，宽360mm，深300mm，净重20公斤，为您打造极致全能安全生活空间。


images:
- sjb-40br.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_01.png", title: "", alt: "" }
    .image{ style: "top: 100px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 36px; top: 68px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider.height_600
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_04.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td SJB-40ⅢB/R
        %td -
        %td -
        %td -
        %td -
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
