---
layout: product_article
permalink: /bgx-d-63jl.html

type: 蓝精灵
title: BGX-D-63JL
keywords: 家用保险箱
description: 家用保险柜系列蓝精灵BGX-D-63JL保险柜采用智能人机灵动系统，高630mm，宽440mm，深390mm，净重55公斤。

specs: (高)630&times;(宽)440&times;(深)390mm
thickness: 门1.2mm，箱体0.8mm
weight: 55公斤

---
