---
layout: product_article
permalink: /znsjg.html

type: 寄存柜
name: 智能手机柜
title: 智能手机柜
keywords: 保险柜
description: 家用保险箱寄存柜系列智能手机柜能凭指纹轻松进行存物指纹登记和取物识别，使手指成为您唯一可靠的钥匙，高速主控芯片，停电仍能保持数据。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- znsjg-01.jpg
- znsjg-01.jpg

features: |
  <img alt="家用保险柜智能手机柜功能特征" border="0" height="380" src="%PRODIMGS%/znsjg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱智能手机柜产品参数" border="0" height="247" src="%PRODIMGS%/znsjg-cpcs.jpg" width="538" />

---
