---
layout: product_article
permalink: /pxsydqg.html

type: 枪弹柜
title: 便携式移动枪柜
keywords: 家用保险箱
description: 家用保险柜枪弹柜系列便携式移动枪柜高1530mm，宽450mm，深420mm，净重150公斤，可选机械锁、电子密码锁、机械+电子密码锁多种。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

---
