---
layout: product_article
permalink: /ma-2045zh.html

type: HOTSAFE客房柜
title: MA-2045ZH
keywords: 保险柜
description: 家用保险柜HOTSAFE客房柜系列MA-2045ZH 高200mm，宽450mm，深400mm，可选择配搭管理/应急钥匙，红外线遥控器。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

---
