---
layout: product_article
permalink: /if-2500c.html

type: 地藏
name: IF-2500C
title: IF-2500C
keywords: 家用保险柜
description: 家用保险柜地藏系列IF-2500C保险柜高344mm，宽379mm，深445mm，净重44公斤，具备普通和特殊钻割工具破坏，坚固防撬。

specs: (高)344(宽)379(深)445mm
thickness: 门12mm，箱体4mm
weight: 44公斤

images:
- if-2500c-01.jpg
- if-2500c-01.jpg

features: |
  <img alt="家用保险箱IF-2500C功能特征" border="0" height="1142" src="%PRODIMGS%/dz-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜IF-2500C产品参数" border="0" height="113" src="%PRODIMGS%/dz-cpcs.jpg" width="538" />

---
