---
layout: product_article
permalink: /sjb-72br.html

type: 铁管家
name: SJB-72ⅢB/R
title: SJB-72ⅢB/R
keywords: 保险柜
description: 全能保险箱铁管家系列SJB-72IIIB/R保险柜高640mm，宽420mm，深400mm，净重71公斤，全钢结构，多门栓设计，坚固防撬。

specs: (高)640&times;(宽)420&times;(深)400mm
thickness: 门10mm，箱体6mm
weight: 71公斤

images:
- sjb-72-01.jpg
- sjb-72-02.jpg
- sjb-72-03.jpg

features: |
  <img alt="家用保险柜SJB-72ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜SJB-72ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
