---
layout: product_article
permalink: /b-7348.html

type: 全能金库
title: B-7348
keywords: 家用保险箱
description: 全能保险柜家用系列全能金库B-7348保险柜防火防盗技术，精选优质防火板材，门框贴3mm进口防火条，具有高效的隔热性能，净重145公斤。

specs: (高)730(宽)480(深)400mm
thickness: 门12mm，箱体8mm
weight: 145公斤

---
