---
layout: product_article
permalink: /itg-3342.html

type: 珍藏
name: ITG-3342
title: ITG-3342
keywords: 家用保险柜
description: 全能保险柜珍藏系列ITG-3342保险柜采用自主独立研发设计，安全性能高，3面实心门栓和防撬挡板，内铺优质绒布，满足不同的存储需求。

specs: (高)330(宽)420(深)320mm
thickness: 门10mm，箱体2mm
weight: 18.5公斤

images:
- itg-3342-01.jpg
- itg-3342-02.jpg
- itg-3342-03.jpg

features: |
  <img alt="保险柜itg-3342功能特征" border="0" height="1001" src="%PRODIMGS%/itg-3342-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜itg-3342产品参数" border="0" height="236" src="%PRODIMGS%/itg-3342-cpcs.jpg" width="538" />

---
