---
layout: product_article
permalink: /tgg-4538br.html

type: 铁金钢
name: TGG-4538B/R
title: TGG-4538B/R
keywords: 保险柜十大品牌
description: 全能保险柜家用系列铁金刚TGG-4538B/R保险柜全面优质喷漆表面处理技术，防锈耐刮花，结合活动层板，灵活重组箱内空间，简洁美观。

specs: (高)450(宽)380(深)320mm
thickness: 门10mm，箱体4mm
weight: 48公斤

images:
- tgg-4538br-01.jpg
- tgg-4538br-02.jpg
- tgg-4538br-03.jpg

features: |
  <img alt="家用保险柜tgg-4538br功能特征" border="0" height="1142" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱tgg-4538br产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
