---
layout: product_article
permalink: /ic-cwg.html

type: 寄存柜
name: IC卡储物柜
title: IC卡储物柜
keywords: 保险柜十大品牌
description: 家用保险柜寄存柜系列IC卡储物柜采用射频技术与IC卡的读卡器进行通讯，存储安全性高，其IC卡具有防磁、防静电、耐用性强、防伪性好。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- ic-cwg-01.jpg
- ic-cwg-02.jpg

features: |
  <img alt="保险柜IC卡储物柜功能特征" border="0" height="353" src="%PRODIMGS%/ic-cwg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜十大品牌IC卡储物柜产品参数" border="0" height="251" src="%PRODIMGS%/ic-cwg-cpcs.jpg" width="538" />

---
