---
layout: product_article
permalink: /jkm(cs)-1020-n.html

type: 金库门
name: JKM(CS)-1020-N
title: JKM(CS)-1020-N
keywords: 家用保险箱
description: 保险柜十大品牌金库门系列JKM(CS)-1020-N保险柜采用全钢材质，结构牢固，适用于银行、家庭、珠宝企业、珠宝店等。

specs: (高)2000(宽)1000(深)300mm
thickness: 门体从外至内依次为:1.5mm厚SUS304钢板+8mm优质钢板+50mm防钻防切割合金钢板和复合填注层+绝缘层+导电层+绝缘层+3mm厚优质钢板+1.2mm厚SUS304钢板。
weight: 可按实际需求订制

---
