---
layout: product_article
permalink: /itg-5840.html

type: 珍藏
name: ITG-5840
title: ITG-5840
keywords: 保险柜十大品牌
description: 保险柜十大品牌珍藏系列ITG-5840保险柜的带锁夹层给予多一重的分类保护，可调，可卸式层板满足不同的存储需求，内饰精美，处处彰显人性贴心。

specs: (高)580(宽)400(深)360mm
thickness: 门15mm，箱体3mm
weight: 45公斤

images:
- itg-5840-01.jpg
- itg-5840-02.jpg
- itg-5840-03.jpg
- itg-5840-04.jpg

features: |
  <img alt="家用保险箱itg-5840功能特征" border="0" height="310" src="%PRODIMGS%/itg-5840-gn.jpg" width="528" />

spec_details: |
  <img alt="保险柜itg-5840产品参数" border="0" height="309" src="%PRODIMGS%/itg-5840-cpcs.jpg" width="339" />

---
