---
layout: product_article
permalink: /es-2043zh.html

type: QNNSAFE客房柜
name: ES-2045ZH
title: ES-2045ZH
keywords: 保险柜十大品牌
description: 全能保险柜十大品牌QNNSAFE客房柜系列ES-2045ZH高200mm，宽450mm，深400mm，全面优质喷漆表面处理技术，防锈耐刮花。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- es-2043zh-02.jpg
- es-2043zh-02.jpg

features: |
  <img alt="家用保险箱ES-2045ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200&times;(宽)450&times;(深)400mm
  厚度：门5mm，箱体2mm
  净重：14公斤

---
