---
layout: product_article
permalink: /ct-1211.html

type: 逸动
name: CT-1211
title: CT-1211
keywords: 保险柜
description: 全能保险柜逸动系列CT-1211保险柜采用电动开门、锁门，多位组合用户密码设计，部分机型可搭配CEU查询器，精准查询开柜时间及用户密码。

specs: (高)290&times;(宽)310&times;(深)130mm
thickness: 门1.2mm，箱体1.2mm
weight: 5.5公斤

images:
- ct1211-01.jpg
- ct1211-02.jpg

features: |
  <img alt="保险箱CT-1211产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)290&times;(宽)310&times;(深)130mm
  厚度：门1.2mm，箱体1.2mm
  净重：5.5公斤

---
