---
layout: product_article
permalink: /dg-7645s.html

type: 前厅投币柜
name: DG-7645S
title: DG-7645S
keywords: 保险箱
description: 家用保险箱前厅投币柜系列DG-7645S保险柜净重86公斤，，箱体厚度4-6mm，门厚度10mm，全钢结构，多门栓设计，坚固防撬。

specs: (高)765&times;(宽)450&times;(深)400mm
thickness: 门10mm，箱体4-6mm
weight: 86公斤

images:
- dg-7645s-01.jpg
- dg-7645s-01.jpg
- dg-7645s-01.jpg

features: |
  <p style="line-height: 300%">
  <b>1、全钢结构，多门栓设计，坚固防撬，箱体厚度4-6MM，门厚度10MM</b>
  <p style="line-height: 300%">
  <b>2、特别设计防钓齿槽迷宫式投入口</b>
  <p style="line-height: 300%">
  <b>3、可选择电子密码锁具或机械密码锁具</b>
  <p style="line-height: 300%">
  <b>4、电子密码锁具：1-10位组合用户自设密码，杜绝撞码可能，震动、移动、连续三次输错密码自动报警（音量达100分贝），可选装联网报警功能</b>
  <p style="line-height: 300%">
  <b>5、锌系磷化防锈、优质粉末喷涂表面处理、颜色多样</b>
  <p style="line-height: 300%">
  <b>6、适用于酒店、超市、加油站等收银专用</b>

spec_details: |
  规格：(高)765&times;(宽)450&times;(深)400mm
  厚度：门10mm，箱体4-6mm
  净重：86公斤

---
