---
layout: product_article
permalink: /gyk-ycg.html

type: 钥匙柜
name: 联网非接触式感应卡钥匙柜
title: 联网非接触式感应卡钥匙柜
keywords: 保险箱
description: 家用保险箱智能枪弹柜系列联网非接触式感应卡钥匙柜采用冷扎钢板材质，非接触式感应卡，电磁铁开启，净重25公斤，单位或公共模式。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- gyk-ycg-01.jpg
- gyk-ycg-02.jpg

features: |
  <img alt="家用保险柜联网非接触式感应卡钥匙柜功能特征" border="0" height="300" src="%PRODIMGS%/gyk-ycg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱联网非接触式感应卡钥匙柜产品参数" border="0" height="250" src="%PRODIMGS%/gyk-ycg-cpcs.jpg" width="538" />

---
