---
layout: product_article
permalink: /ct-1540mg.html

type: 酒店客房保管箱
name: CT-1540MG
title: CT-1540MG
keywords: 保险柜
description: 

specs: (高)150x(宽)400x(深)350mm
thickness: 
weight: 

images:
- ct1540-01.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "top: 231px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_05.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_07.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_06.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_text_08.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/ct-1540_07.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td CT-1540
        %td (高)150x(宽)400x(深)350mm
        %td 
        %td 
        %td 
      %tr
        %td CT-1840
        %td (高)180x(宽)400x(深)350mm
        %td 
        %td 
        %td 
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
