---
layout: product_article
permalink: /ct-4013zh.html

type: QNNSAFE客房柜
name: CT-4013ZH
title: CT-4013ZH
keywords: CT-4013ZH,规格,高,400,宽,350,深,130
description: 家用保险箱QNNSAFE客房柜系列CT-4013ZH 可根据不同情况选配各种锁具，如密码，贴片式薄膜靠光，触摸式，指纹，TF卡等锁具。

specs: (高)400&times;(宽)350&times;(深)130mm
thickness: 门1.5mm，箱体3mm
weight: 9公斤

images:
- ct4013-01.jpg
- ct4013-01.jpg
- ct4013-01.jpg

features: |
  <img alt="家用保险柜CT-4013ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)400&times;(宽)350&times;(深)130mm
  厚度：门1.5mm，箱体3mm
  净重：9公斤

---
