---
layout: product_article
permalink: /hg-2740.html

type: 新皇冠
name: HG-2740
title: HG-2740
keywords: 家用保险柜
description: 全能保险柜家用系列新皇冠HG-2740保险柜多重防护，全钢结构，多门栓设计，坚固防撬，全面符合国家3C认证标准，创造极致全能安全生活空间。

images:
- hg-2740.jpg

features: |
  <img alt="保险柜十大品牌HG-2740功能特征" border="0" height="1142" src="%PRODIMGS%/hg-gn.jpg" width="538" />

---
%table#compare_table.table
  %thead.table-head
    %tr
      %th 型号
      %th 尺寸
      %th 门
      %th 箱
      %th 净重
  %tbody.table-body
    %tr.highlight
      %td HG-2740
      %td (高)290x(宽)450x(深)270mm
      %td 10mm
      %td 4mm
      %td 35公斤
    %tr
      %td HG-3342
      %td (高)350x(宽)440x(深)320mm
      %td 10mm
      %td 4mm
      %td 42公斤
  %tfoot.table-foot
    %tr
      %td{ colspan: 5 }
        粗体行表示当前型号
