---
layout: product_article
permalink: /gtx-15870.html

type: 钢铁侠
name: GTX-15870
title: GTX-15870
keywords: 保险箱
description: 家用保险箱钢铁侠系列GTX-15870内设LED照明灯、精美内饰结合活动层板，灵活重组箱内空间，全方位、多角度传递人性化的实用贴心。

specs: (高)1565(宽)700(深)600mm
thickness: 门10mm，箱体6mm
weight: 325公斤

---
