---
layout: product_article
permalink: /bgx-d-47jl.html

type: 蓝精灵
name: BGX-D-47JL
title: BGX-D-47JL
keywords: 保险柜
description: 保险柜十大品牌系列蓝精灵BGX-D-47JL保险柜采用防钻大屏液晶显示屏面板设计，高470mm，宽390mm，深350mm，净重40公斤。

specs: (高)470&times;(宽)390&times;(深)350mm
thickness: 门1.2mm，箱体0.8mm
weight: 40公斤

---
