---
layout: product_article
permalink: /fg-6842br.html

type: 钢将军
name: FG-6842B/R
title: FG-6842B/R
keywords: 家用保险柜
description: 全能保险柜刚将军系列FG-6842B/R保险柜高680mm，宽420mm，深400mm，净重77公斤，自动联网报警功能，全程智能管控。


images:
- fg-6842br.jpg

features: |
  <img alt="保险柜FG-6842B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FG-6842B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
