---
layout: product_article
permalink: /f-2014cke.html

type: 前厅投币柜
title: F-2014C/K/E
keywords: 保险柜十大品牌
description: 家用保险箱前厅投币柜系列F-2014C/K/E特别设计防钓齿槽迷宫式投入口，锌系磷化防锈、优质粉末喷涂表面处理、颜色多样。

specs: (高)508&times;(宽)355&times;(深)355mm
thickness: 门12mm，箱体3mm
weight: 42公斤

---
