---
layout: product_article
permalink: /jkm(m)-1020-n.html

type: 金库门
title: JKM(M)-1020-N
keywords: 保险箱
description: 全能保险柜金库门系列JKM(M)-1020-N保险柜采用全钢材质、结构牢固、开启灵活、安全保密、防火、防割、防喷炬、防撞击、防钻。

specs: (高)2162(宽)1300(深)300mm
thickness: 由外至内结构：14mm厚Q345A低碳合金钢板+35mm防火防切割层+12mm厚防钻板（锁具安装重点防护位置）+3mm厚Q345A低碳合金钢板 +96mm机构安装层+1.2mm厚后罩，总厚度180mm。配备栅栏门。
weight: 可按实际需求订制

---
