---
layout: product_article
permalink: /sjb-3236br.html

type: 铁管家
name: SJB-3236B/R
title: SJB-3236B/R
keywords: 保险柜
description: 家用保险柜系列铁管家SJB-3236B/R保险柜高320mm，宽360mm，深200mm，净重27公斤，全钢结构，坚固防撬。

specs: (高)320(宽)360(深)200mm
thickness: 门10mm，箱体4mm
weight: 27公斤

images:
- sjb-3236br-01.jpg
- sjb-3236br-02.jpg
- sjb-3236br-03.jpg

features: |
  <img alt="保险柜十大品牌sjb-3236br功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜sjb-3236br产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
