---
layout: product_article
permalink: /dzwjg.html

type: 寄存柜
title: 电子文件柜
keywords: 保险箱
description: 家用保险柜寄存柜系列电子文件柜采用先进AVR单片机技术，是一款安全、可靠的高科技产品，主要适用于政府、企业、院校等单位的办公场所，安全性高。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
