---
layout: product_article
permalink: /asafe.html

type: 苹果
name: asafe
title: 家用保险柜全能asafe
keywords: 保险柜
description: 家用保险箱苹果系列Asafe采用精美的高光象牙白粉末喷涂，与时尚家居完美结合，箱体独特圆弧设计，相对于直角设计，更符合现代家居风格。


images:
- asafe-01.jpg

features: |
  <img alt="保险箱asafe功能特征" border="0" height="3390" src="%PRODIMGS%/asafe-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱asafe产品参数" border="0" height="174" src="%PRODIMGS%/asafe-cpcs.jpg" width="538" />

---
