---
layout: product_article
permalink: /bldzycg.html

type: 钥匙柜
title: 钢化玻璃电子钥匙柜
keywords: 保险柜
description: 家用保险箱系列钢化玻璃电子钥匙柜主用于宾馆、工厂、健身会馆、休闲洗浴场所、机关、医院、校园、企事业单位、小区等单位，用于存放钥匙的用途。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
