---
layout: product_article
permalink: /fg-3002.html

type: 枪弹柜
name: FG-3002
title: FG-3002
keywords: 保险柜十大品牌
description: 全能保险箱枪弹柜系列FG-3002高1500mm，宽1000mm，深400mm，净重340公斤，1-10位组合用户自设密码（电子锁型号）。

specs: (高)1500&times;(宽)1000&times;(深)400mm
thickness: 门10mm，箱体4-6mm
weight: 340公斤

---
