---
layout: product_article
permalink: /fg-9150br.html

type: 钢将军
name: FG-9150B/R
title: FG-9150B/R
keywords: 保险柜
description: 保险柜十大品牌刚将军系列FG-9150B/R高910mm，宽500mm，深450mm，净重116公斤，全面优质喷涂表面处理技术，简洁美观。

specs: (高)910&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体6mm
weight: 116公斤

images:
- fg-9150-01.jpg
- fg-9150-02.jpg
- fg-9150-03.jpg

features: |
  <img alt="保险柜十大品牌FG-9150B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FG-9150B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td FG-2940B/R
        %td (高)290x(宽)400x(深)270mm
        %td 10mm
        %td 6mm
        %td 30公斤
      %tr
        %td FG-3542B/R
        %td (高)350x(宽)420x(深)320mm
        %td 10mm
        %td 6mm
        %td 42公斤
      %tr
        %td FG-5840B/R
        %td (高)580x(宽)400x(深)360mm
        %td 10mm
        %td 6mm
        %td 61公斤
      %tr
        %td FG-6842B/R
        %td (高)680x(宽)420x(深)400mm
        %td 10mm
        %td 6mm
        %td 77公斤
      %tr
        %td FG-8045B/R
        %td (高)800x(宽)450x(深)400mm
        %td 10mm
        %td 6mm
        %td 91公斤
      %tr.highlight
        %td FG-9150B/R
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 116公斤
      %tr
        %td FG-9150D
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 124公斤
      %tr
        %td FG-100B/R
        %td (高)1080x(宽)550x(深)450mm
        %td 10mm
        %td 6mm
        %td 150公斤
      %tr
        %td FG-11860B/R
        %td (高)1180x(宽)600x(深)500mm
        %td 10mm
        %td 6mm
        %td 181公斤
      %tr
        %td FG-15870B/R
        %td (高)1580x(宽)700x(深)600mm
        %td 10mm
        %td 6mm
        %td 277公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
