---
layout: product_article
permalink: /e-qg.html

type: 智能枪弹柜
name: E型部队专用携行枪柜
title: E型部队专用携行枪柜
keywords: 家用保险柜
description: 保险箱系列E型部队专用携行枪柜主要用于武警部队、公安人员等出外执行任务使用，具有远程系统控制管理的特点，便捷搬运，远程审批，智能管理。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- e-qg-01.jpg
- e-qg-02.jpg

features: |
  <img alt="家用保险柜E型部队专用携行枪柜功能特征" border="0" height="405" src="%PRODIMGS%/e-qg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱E型部队专用携行枪柜产品参数" border="0" height="198" src="%PRODIMGS%/e-qg-cpcs.jpg" width="538" />

manual: |
  <img alt="保险柜E型部队专用携行枪柜说明书01" border="0" height="795" src="%PRODIMGS%/fg-sm01.jpg" width="538" />
  <img alt="保险柜E型部队专用携行枪柜说明书02" border="0" height="795" src="%PRODIMGS%/fg-sm02.jpg" width="538" />
  <img alt="保险柜十大品牌E型部队专用携行枪柜说明书03" border="0" height="795" src="%PRODIMGS%/fg-sm03.jpg" width="538" />
  <img alt="家用保险箱E型部队专用携行枪柜说明书04" border="0" height="795" src="%PRODIMGS%/fg-sm04.jpg" width="538" />
  <img alt="家用保险箱E型部队专用携行枪柜说明书05" border="0" height="795" src="%PRODIMGS%/fg-sm05.jpg" width="538" />
  <img alt="保险箱E型部队专用携行枪柜说明书06" border="0" height="795" src="%PRODIMGS%/fg-sm06.jpg" width="538" />
  <img alt="家用保险柜E型部队专用携行枪柜说明书07" border="0" height="795" src="%PRODIMGS%/fg-sm07.jpg" width="538" />
  <img alt="家用保险柜E型部队专用携行枪柜说明书08" border="0" height="795" src="%PRODIMGS%/fg-sm08.jpg" width="538" />
  <img alt="保险柜E型部队专用携行枪柜说明书09" border="0" height="795" src="%PRODIMGS%/fg-sm09.jpg" width="538" />
  <img alt="保险柜十大品牌E型部队专用携行枪柜说明书10" border="0" height="795" src="%PRODIMGS%/fg-sm10.jpg" width="538" />
  <img alt="家用保险柜E型部队专用携行枪柜说明书11" border="0" height="795" src="%PRODIMGS%/fg-sm11.jpg" width="538" />
  <img alt="保险柜十大品牌E型部队专用携行枪柜说明书12" border="0" height="795" src="%PRODIMGS%/fg-sm12.jpg" width="538" />

---
