---
layout: product_article
permalink: /mf-2043zh.html

type: HOTSAFE客房柜
name: MF-2043ZH
title: MF-2043ZH
keywords: 保险箱
description: 全能保险箱HOTSAFE客房柜系列MF-2043ZH可选配安装自检开关门系统，在酒店前台即可通过联网电脑查询酒店柜开柜，关柜情况。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 15公斤

images:
- mf-2045zh-01.jpg
- mf-2045zh-02.jpg
- mf-2045zh-03.jpg

features: |
  <img alt="家用保险箱MF-2043ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)195&times;(宽)430&times;(深)370mm
  厚度：门5mm，箱体2mm
  净重：13公斤

---
