---
layout: product_article
permalink: /cw-7348.html

type: 藏宝
name: CW-7348
title: CW-7348
keywords: 保险箱
description: 全能保险柜藏宝系列CW-7348保险柜高效静音除湿防潮，结合高安全性金刚电子锁控技术，多重高新技术全面保障您的财物票据，可自主按需定制尺寸。

specs: (高)730(宽)480(深)450mm
thickness: 门10mm，箱体6mm
weight: 114公斤

images:
- cw-7348-01.jpg
- cw-7348-02.jpg
- cw-7348-03.jpg

features: |
  <img alt="家用保险箱CW-7348功能特征" border="0" height="1142" src="%PRODIMGS%/cw-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱CW-7348产品参数" border="0" height="46" src="%PRODIMGS%/cw-cpcs.jpg" width="538" />

---
