---
layout: product_article
permalink: /sjb-3236br.html

type: 铁管家
name: SJB-3236B/R
title: SJB-3236B/R
keywords: 保险柜
description: 家用保险柜系列铁管家SJB-3236B/R保险柜高320mm，宽360mm，深200mm，净重27公斤，全钢结构，坚固防撬。

specs: (高)320(宽)360(深)200mm
thickness: 门10mm，箱体4mm
weight: 27公斤

---
