---
layout: product_article
permalink: /hg-7645d.html

type: 新皇冠
name: HG-7645D
title: HG-7645D
keywords: 保险箱
description: 家用保险箱新皇冠系列HG-7645D高765mm，宽450mm，深400mm，净重88公斤，双重型锁控系统，用户自由设置密码，杜绝撞码可能。


images:
- hg-7645d.jpg

features: |
  <img alt="家用保险柜HG-7645D功能特征" border="0" height="1130" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱HG-7645D产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
