---
layout: product_article
permalink: /dg-9150d.html

type: 前厅投币柜
name: DG-9150D
title: DG-9150D
keywords: 家用保险箱
description: 保险柜十大品牌前厅投币柜系列DG-9150D保险柜特别设计防钓齿槽迷宫式投入口，锌系磷化防锈、优质粉末喷涂表面处理、颜色多样。

specs: (高)910&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体4-6mm
weight: 120公斤

images:
- dg-9150d-01.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 13px; top: 41px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider.height_300
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider.height_300
    .title{ style: "top: 35px" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_05.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_text_07.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/dg-9150d_06.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td DG-9150D
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 4-6mm
        %td 120公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
