---
layout: product_article
permalink: /c-bqdg.html

type: 智能枪弹柜
name: C型不带枪锁枪弹柜
title: C型不带枪锁枪弹柜
keywords: 家用保险柜
description: 保险柜十大品牌智能枪弹柜系列C型不带枪锁枪弹柜高1800mm，宽1000mm，深550mm，主要用于武警部队、公安人员等出外执行任务使用。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- c-bqdg-01.jpg
- c-bqdg-02.jpg
- c-bqdg-03.jpg

features: |
  <img alt="保险箱C型不带枪锁枪弹柜功能特征" border="0" height="227" src="%PRODIMGS%/c-bqdg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜C型不带枪锁枪弹柜产品参数" border="0" height="240" src="%PRODIMGS%/c-bqdg-cpcs.jpg" width="538" />

manual: |
  <img alt="家用保险箱C型不带枪锁枪弹柜说明书01" border="0" height="795" src="%PRODIMGS%/fg-sm01.jpg" width="538" />
  <img alt="家用保险箱C型不带枪锁枪弹柜说明书02" border="0" height="795" src="%PRODIMGS%/fg-sm02.jpg" width="538" />
  <img alt="保险柜C型不带枪锁枪弹柜说明书03" border="0" height="795" src="%PRODIMGS%/fg-sm03.jpg" width="538" />
  <img alt="保险柜C型不带枪锁枪弹柜说明书04" border="0" height="795" src="%PRODIMGS%/fg-sm04.jpg" width="538" />
  <img alt="家用保险柜C型不带枪锁枪弹柜说明书05" border="0" height="795" src="%PRODIMGS%/fg-sm05.jpg" width="538" />
  <img alt="保险柜十大品牌C型不带枪锁枪弹柜说明书06" border="0" height="795" src="%PRODIMGS%/fg-sm06.jpg" width="538" />
  <img alt="保险柜十大品牌C型不带枪锁枪弹柜说明书07" border="0" height="795" src="%PRODIMGS%/fg-sm07.jpg" width="538" />
  <img alt="保险柜C型不带枪锁枪弹柜说明书08" border="0" height="795" src="%PRODIMGS%/fg-sm08.jpg" width="538" />
  <img alt="家用保险箱C型不带枪锁枪弹柜说明书09" border="0" height="795" src="%PRODIMGS%/fg-sm09.jpg" width="538" />
  <img alt="保险柜C型不带枪锁枪弹柜说明书10" border="0" height="795" src="%PRODIMGS%/fg-sm10.jpg" width="538" />
  <img alt="保险箱C型不带枪锁枪弹柜说明书11" border="0" height="795" src="%PRODIMGS%/fg-sm11.jpg" width="538" />
  <img alt="家用保险箱C型不带枪锁枪弹柜说明书12" border="0" height="795" src="%PRODIMGS%/fg-sm12.jpg" width="538" />

---
