---
layout: product_article
permalink: /s-qdzhg.html

type: 智能枪弹柜
name: S型枪弹综合柜
title: S型枪弹综合柜
keywords: 保险柜十大品牌
description: 保险柜十大品牌智能枪弹柜系列S型枪弹综合柜全钢结构，指纹加电子密码锁的完美结合，适用于公安、武警、军队及国家安全部门，规格可按需订制。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- s-qdzhg-01.jpg

features: |
  <p style="line-height: 300%">
  <b>1、全钢结构，多门栓设计，坚固防撬，箱体4-6MM，柜门6-10MM</b>
  <p style="line-height: 300%">
  <b>2、指纹+电子密码锁完美结合。</b>
  <p style="line-height: 300%">
  <b>3、锌系磷化防锈、优质粉末喷涂表面处理、颜色多样</b>
  <p style="line-height: 300%">
  <b>4、规格可按需订制</b>
  <p style="line-height: 300%">
  <b>5、适用于公安、武警、军队及国家安全部门</b>

spec_details: |
  <img alt="保险柜S型枪弹综合柜产品参数" border="0" height="380" src="%PRODIMGS%/s-qdzhg-cpcs.jpg" width="538" />

---
