---
layout: product_article
permalink: /bgx-2535.html

type: 逸动
title: BGX-2535
keywords: 保险柜
description: 家用保险柜逸动系列BGX-2535保管箱精致叶片锁，便携操作专享属于你的秘密空间，炫酷系列，打造最“潮”保管箱，更体现人性化设计。

specs: (高)250(宽)350(深)250mm
thickness: 门3mm，箱体1.5mm
weight: 8公斤

---
