---
layout: product_article
permalink: /c-bqdg.html

type: 智能枪弹柜
name: C型不带枪锁枪弹柜
title: C型不带枪锁枪弹柜
keywords: 家用保险柜
description: 保险柜十大品牌智能枪弹柜系列C型不带枪锁枪弹柜高1800mm，宽1000mm，深550mm，主要用于武警部队、公安人员等出外执行任务使用。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- c-bqdg-01.jpg
- c-bqdg-02.jpg
- c-bqdg-03.jpg

features: |
  <img alt="保险箱C型不带枪锁枪弹柜功能特征" border="0" height="227" src="%PRODIMGS%/c-bqdg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜C型不带枪锁枪弹柜产品参数" border="0" height="240" src="%PRODIMGS%/c-bqdg-cpcs.jpg" width="538" />

---
