---
layout: product_article
permalink: /bgx-d-100jl.html

type: 蓝精灵
name: BGX-D-100JL
title: BGX-D-100JL
keywords: 家用保险柜
description: 家用保险柜系列蓝精灵BGX-D-100JL保险柜高1000mm，宽520mm，深450mm，多种实用功能，为您创造极致全能安全生活空间。

specs: (高)1000&times;(宽)520&times;(深)450mm
thickness: 门1.2mm，箱体0.8mm
weight: 120公斤

images:
- bgx-d-100jl-01.jpg
- bgx-d-100jl-01.jpg
- bgx-d-100jl-01.jpg

features: |
  <img alt="家用保险柜BGX-D-100JL功能特征" border="0" height="1141" src="%PRODIMGS%/bgx-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱BGX-D-100JL产品参数" border="0" height="205" src="%PRODIMGS%/bgx-cpcs.jpg" width="538" />

---
