---
layout: product_article
permalink: /bgx-d-47jl.html

type: 蓝精灵
name: BGX-D-47JL
title: BGX-D-47JL
keywords: 保险柜
description: 保险柜十大品牌系列蓝精灵BGX-D-47JL保险柜采用防钻大屏液晶显示屏面板设计，高470mm，宽390mm，深350mm，净重40公斤。

specs: (高)470&times;(宽)390&times;(深)350mm
thickness: 门1.2mm，箱体0.8mm
weight: 40公斤

images:
- bgx-d-47jl-01.jpg
- bgx-d-47jl-01.jpg
- bgx-d-47jl-01.jpg

features: |
  <img alt="保险柜十大品牌BGX-D-47JL功能特征" border="0" height="1141" src="%PRODIMGS%/bgx-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜BGX-D-47JL产品参数" border="0" height="205" src="%PRODIMGS%/bgx-cpcs.jpg" width="538" />

---
