---
layout: product_article
permalink: /sa-qdg.html

type: 智能枪弹柜
title: SA型枪弹柜系列
keywords: 保险箱
description: 保险柜SA型枪弹柜可实现远程电脑随时读取操作日志及弹药枪支、存放数量等数据，大大提高枪支弹药管理效率，主用于公安、武警、部队等国家安全机关。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
