---
layout: product_article
permalink: /hg-9150.html

type: 新皇冠
name: HG-9150
title: HG-9150
keywords: 家用保险柜
description: 全能保险箱新皇冠系列HG-9150高910mm，宽500mm，深450mm，净重111公斤，全面采用个性化圆形面板设计，液晶蓝色显示屏。

specs: (高)910&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体6mm
weight: 111公斤

images:
- hg-9150-01.jpg
- hg-9150-01.jpg
- hg-9150-01.jpg

features: |
  <img alt="家用保险柜HG-9150功能特征" border="0" height="1130" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱HG-9150产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
