---
layout: product_article
permalink: /fg-153.html

type: 枪弹柜
name: FG-153
title: FG-153
keywords: 保险箱
description: 保险柜十大品牌枪弹柜系列FG-153高1530mm，宽450mm，深420mm，管理码/应急钥匙配置，适用于公安、武警、军队及国家安全部门。

specs: (高)1530&times;(宽)450&times;(深)420mm
thickness: 门8mm，箱体4-6mm
weight: 150公斤

---
