---
layout: product_article
permalink: /ct-1211h.html

type: QNNSAFE客房柜
name: CT-1211H
title: CT-1211H
keywords: 保险箱
description: 保险柜十大品牌QNNSAFE客房柜系列CT-1211H 高290mm，宽310mm，深130mm，多位数组合用户密码设计，杜绝撞码可能。

specs: (高)290&times;(宽)310&times;(深)130mm
thickness: 门1.2mm，箱体1.2mm
weight: 5.5公斤

images:
- ct1211-01.jpg
- ct1211-02.jpg

features: |
  <img alt="家用保险箱CT-1211H产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)290&times;(宽)310&times;(深)130mm
  厚度：门1.2mm，箱体1.2mm
  净重：5.5公斤

---
