---
layout: product_article
permalink: /f-3214ccmeem.html

type: 前厅投币柜
title: F-3214CCM/EEM
keywords: 家用保险箱
description: 全能保险柜前厅投币柜系列F-3214CCM/EEM净重60公斤，箱体厚度4-6MM，门厚度10MM，全钢结构，多门栓设计，坚固防撬。

specs: (高)813&times;(宽)355&times;(深)355mm
thickness: 门12mm，箱体3mm
weight: 60公斤

---
