---
layout: product_article
permalink: /sjb-88br.html

type: 铁管家
title: SJB-88ⅢB/R
keywords: 家用保险箱
description: 家用保险柜铁管家系列SJB-88IIIB/R高765mm，宽450mm，深400mm，净重88公斤，多重防护，全面符合国家3C认证标准。

specs: (高)765&times;(宽)450&times;(深)400mm
thickness: 门10mm，箱体6mm
weight: 88公斤

---
