---
layout: product_article
permalink: /zy-7581.html

type: 油站投币柜
name: 中油7581
title: 中油7581
keywords: 保险柜
description: 家用保险箱油站投币柜系列中油7581保险柜其产品背部特别设计有三个投币口，不工作时可锁上，特别设计防钓齿槽投入口，投背口可选择用背投或正投。

specs: (高)750&times;(宽)810.&times;(深)450mm
thickness: 门12mm，箱体8mm
weight: 235公斤

images:
- zy-7581-01.jpg
- zy-7581-01.jpg

features: |
  <p style="line-height: 300%">
  <b>1、全钢结构，多门栓设计，坚固防撬，箱体厚度8MM，门厚度10-12MM</b>
  <p style="line-height: 300%">
  <b>2、特别设计防钓齿槽投入口</b>
  <p style="line-height: 300%">
  <b>3、锌系磷化防锈、优质粉末喷涂表面处理、颜色多样</b>
  <p style="line-height: 300%">
  <b>4、中油系列产品背部特别设计有三个投币口，不工作时可锁上。</b>
  <p style="line-height: 300%">
  <b>5、中油系列为中油指定使用投币柜</b>
  <b>6、投背口可选择用背投或正投</b>

spec_details: |
  规格：(高)750&times;(宽)810.&times;(深)450mm
  厚度：门12mm，箱体8mm
  净重：235公斤

---
