---
layout: product_article
permalink: /asafe.html

type: 苹果
name: asafe
title: asafe
keywords: 保险柜
description: 家用保险箱苹果系列Asafe采用精美的高光象牙白粉末喷涂，与时尚家居完美结合，箱体独特圆弧设计，相对于直角设计，更符合现代家居风格。

specs: (高)200(宽)450(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- asafe-01.jpg
- asafe-02.jpg
- asafe-03.jpg
- asafe-04.jpg

features: |
  <img alt="保险箱asafe功能特征" border="0" height="3390" src="%PRODIMGS%/asafe-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱asafe产品参数" border="0" height="174" src="%PRODIMGS%/asafe-cpcs.jpg" width="538" />

manual: |
  <img alt="保险箱asafe说明书01" border="0" height="705" src="%PRODIMGS%/asafe-sm01.jpg" width="528" />
  <img alt="家用保险柜asafe说明书02" border="0" height="705" src="%PRODIMGS%/asafe-sm02.jpg" width="528" />
  <img alt="保险箱asafe说明书03" border="0" height="705" src="%PRODIMGS%/asafe-sm03.jpg" width="528" />
  <img alt="保险柜asafe说明书04" border="0" height="705" src="%PRODIMGS%/asafe-sm04.jpg" width="528" />
  <img alt="保险箱asafe说明书05" border="0" height="705" src="%PRODIMGS%/asafe-sm05.jpg" width="528" />
  <img alt="保险柜asafe说明书06" border="0" height="705" src="%PRODIMGS%/asafe-sm06.jpg" width="528" />

---
