---
layout: product_article
permalink: /bgx-d-52jl.html

type: 蓝精灵
title: BGX-D-52JL
keywords: 保险箱
description: 全能保险柜家用系列蓝精灵BGX-D-52JL保险柜高520mm，宽390mm，深350mm，净重45公斤，用户自由设置密码，杜绝撞码可能。

specs: (高)520&times;(宽)390&times;(深)350mm
thickness: 门1.2mm，箱体0.8mm
weight: 45公斤

---
