---
layout: product_article
permalink: /znspzw.html

type: 智能枪弹柜
name: 智能视频指纹
title: 智能视频指纹
keywords: 保险柜
description: 家用保险柜智能枪弹柜系列智能视频指纹最多可登记30枚指纹，采用无线报警器免去布线的烦恼，安装方便快捷，广泛应用于厂房、企事业单位。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

images:
- znspzw-01.jpg
- znspzw-01.jpg

features: |
  <img alt="保险柜智能视频指纹功能特征" border="0" height="548" src="%PRODIMGS%/znspzw-gn.jpg" width="538" />

spec_details: |
  规格：按实际需求订制
  厚度：按实际需求订制
  净重：按实际需求订制

---
