---
layout: product_article
permalink: /zy-6091.html

type: 油站投币柜
name: 中油6091
title: 中油6091
keywords: 保险柜十大品牌
description: 保险柜十大品牌油站投币柜系列中油6091保险柜采用锌系磷化防锈、优质粉末喷涂表面处理、颜色多样，其系列产品为中油指定使用投币柜。

specs: (高)600(宽)910(深)450mm
thickness: 门12mm，箱体8mm
weight: 220公斤

---
