---
layout: product_article
permalink: /fpc-11870sc.html

type: 铁观音防火
title: FPC-11870SC
keywords: 家用保险箱
description: 规格：(高)1180(宽)690(深)635mm 厚度：门1.2mm，箱体0.8mm 净重：300公斤 /image-pro/fpc-11870-01.jpg /image-pro/fpc-11870-01.jpg 本系列产品使用说明书更新中，有如需要请致电400-830-4555或0757-22308180咨询，

specs: (高)1180&times;(宽)690&times;(深)635mm
thickness: 门1.2mm，箱体0.8mm
weight: 300公斤

---
