---
layout: product_article
permalink: /cw-7348.html

type: 藏宝
name: CW-7348
title: CW-7348
keywords: 保险箱
description: 全能保险柜藏宝系列CW-7348保险柜高效静音除湿防潮，结合高安全性金刚电子锁控技术，多重高新技术全面保障您的财物票据，可自主按需定制尺寸。

specs: (高)730(宽)480(深)450mm
thickness: 门10mm，箱体6mm
weight: 114公斤

images:
- cw-7348-01.jpg
- cw-7348-02.jpg
- cw-7348-03.jpg

features: |
  <img alt="家用保险箱CW-7348功能特征" border="0" height="1142" src="%PRODIMGS%/cw-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱CW-7348产品参数" border="0" height="46" src="%PRODIMGS%/cw-cpcs.jpg" width="538" />

manual: |
  <img alt="保险箱CW-7348说明书01" border="0" height="779" src="%PRODIMGS%/jgs-sm01.jpg" width="528" />
  <img alt="家用保险箱CW-7348说明书02" border="0" height="779" src="%PRODIMGS%/jgs-sm02.jpg" width="528" />
  <img alt="保险柜CW-7348说明书03" border="0" height="779" src="%PRODIMGS%/jgs-sm03.jpg" width="528" />
  <img alt="保险箱CW-7348说明书04" border="0" height="779" src="%PRODIMGS%/jgs-sm04.jpg" width="528" />
  <img alt="家用保险箱CW-7348说明书05" border="0" height="779" src="%PRODIMGS%/jgs-sm05.jpg" width="528" />
  <img alt="保险柜CW-7348说明书06" border="0" height="779" src="%PRODIMGS%/jgs-sm06.jpg" width="528" />
  <img alt="家用保险柜CW-7348说明书07" border="0" height="779" src="%PRODIMGS%/jgs-sm07.jpg" width="528" />
  <img alt="保险箱CW-7348说明书08" border="0" height="779" src="%PRODIMGS%/jgs-sm08.jpg" width="528" />
  <img alt="保险箱CW-7348说明书09" border="0" height="779" src="%PRODIMGS%/jgs-sm09.jpg" width="528" />
  <img alt="保险箱CW-7348说明书10" border="0" height="779" src="%PRODIMGS%/jgs-sm10.jpg" width="528" />
  <img alt="保险柜十大品牌CW-7348说明书11" border="0" height="779" src="%PRODIMGS%/jgs-sm11.jpg" width="528" />
  <img alt="保险箱CW-7348说明书12" border="0" height="779" src="%PRODIMGS%/jgs-sm12.jpg" width="528" />

---
