---
layout: product_article
permalink: /itg-2040.html

type: 珍藏
name: ITG-2040
title: ITG-2040
keywords: 保险柜
description: 家用保险箱珍藏系列ITG-2040保险柜采用新古典主义钩花边角设计，大气金属色，精美皱纹古铜色喷塑，耐腐防锈，全钢实心门栓以及超强防盗系数。

specs: (高)200(宽)400(深)300mm
thickness: 门10mm，箱体3mm
weight: 20.5公斤

images:
- itg-2040-01.jpg
- itg-2040-02.jpg
- itg-2040-03.jpg
- itg-2040-04.jpg

features: |
  <img alt="家用保险箱itg-2040功能特征" border="0" height="506" src="%PRODIMGS%/itg-2040-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱itg-2040产品参数" border="0" height="339" src="%PRODIMGS%/itg-2040-cpcs.jpg" width="538" />

---
