---
layout: product_article
permalink: /fg-15870br.html

type: 钢将军
name: FG-15870B/R
title: FG-15870B/R
keywords: 家用保险柜
description: 全能保险柜刚将军系列FG-15870B/R高1580mm，宽700mm，深600mm，净重277公斤，外形简洁美观，能完美搭配各种环境。

specs: (高)1580&times;(宽)700&times;(深)600mm
thickness: 门10mm，箱体6mm
weight: 277公斤

images:
- fg-15870-01.jpg
- fg-15870-02.jpg
- fg-15870-03.jpg
- fg-15870-04.jpg

features: |
  <img alt="家用保险柜FG-15870B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱FG-15870B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr
        %td FG-2940B/R
        %td (高)290x(宽)400x(深)270mm
        %td 10mm
        %td 6mm
        %td 30公斤
      %tr
        %td FG-3542B/R
        %td (高)350x(宽)420x(深)320mm
        %td 10mm
        %td 6mm
        %td 42公斤
      %tr
        %td FG-5840B/R
        %td (高)580x(宽)400x(深)360mm
        %td 10mm
        %td 6mm
        %td 61公斤
      %tr
        %td FG-6842B/R
        %td (高)680x(宽)420x(深)400mm
        %td 10mm
        %td 6mm
        %td 77公斤
      %tr
        %td FG-8045B/R
        %td (高)800x(宽)450x(深)400mm
        %td 10mm
        %td 6mm
        %td 91公斤
      %tr
        %td FG-9150B/R
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 116公斤
      %tr
        %td FG-9150D
        %td (高)910x(宽)500x(深)450mm
        %td 10mm
        %td 6mm
        %td 124公斤
      %tr
        %td FG-100B/R
        %td (高)1080x(宽)550x(深)450mm
        %td 10mm
        %td 6mm
        %td 150公斤
      %tr
        %td FG-11860B/R
        %td (高)1180x(宽)600x(深)500mm
        %td 10mm
        %td 6mm
        %td 181公斤
      %tr.highlight
        %td FG-15870B/R
        %td (高)1580x(宽)700x(深)600mm
        %td 10mm
        %td 6mm
        %td 277公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
