---
layout: product_article
permalink: /ct-4013.html

type: 逸动
name: CT-4013
title: CT-4013
keywords: 家用保险箱
description: 保险箱逸动系列CT-4013保险柜可选配安装自检开关门系统，也可根据不同情况选配各种锁具如密码、贴片式薄膜开关、触摸式、指纹、TF卡等锁具。

specs: (高)400&times;(宽)350&times;(深)130mm
thickness: 门1.5mm，箱体3mm
weight: 9公斤

images:
- ct4013-01.jpg
- ct4013-01.jpg
- ct4013-01.jpg

features: |
  <img alt="保险柜CT-4013产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)400&times;(宽)350&times;(深)130mm
  厚度：门1.5mm，箱体3mm
  净重：9公斤

---
