---
layout: product_article
permalink: /hg-6842.html

type: 新皇冠
title: HG-6842
keywords: 家用保险箱
description: 家用保险柜新皇冠系列HG-6842高680mm，宽440mm，深400mm，净重78公斤，柜体震动侦测预警和电量自检功能，全程智能管控无忧。

specs: (高)680(宽)440(深)400mm
thickness: 门10mm，箱体6mm
weight: 78公斤

---
