---
layout: product_article
permalink: /tgg-4938br.html

type: 铁金钢
name: TGG-4938B/R
title: TGG-4938B/R
keywords: 保险箱
description: 全能保险柜家用系列铁金刚TGG-4938B/R保险柜高490mm，宽380mm，深360mm，净重54公斤，简洁美观，能够完美搭配各种环境。

specs: (高)490(宽)380(深)360mm
thickness: 门10mm，箱体6mm
weight: 54公斤

images:
- tgg-4938br-01.jpg
- tgg-4938br-02.jpg
- tgg-4938br-03.jpg

features: |
  <img alt="家用保险柜tgg-4938br功能特征" border="0" height="1130" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜tgg-4938br产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
