---
layout: product_article
permalink: /fg-6001.html

type: 枪弹柜
name: FG-6001
title: FG-6001
keywords: 家用保险箱
description: 家用保险柜枪弹柜系列FG-6001保险柜达1275℉ 45分钟防火等级，达UL-RSC防盗等级（防火型号），规格可按需求订制。

specs: (高)1180&times;(宽)450&times;(深)400mm
thickness: 门10mm，箱体4-6mm
weight: 167公斤

---
