---
layout: product_article
permalink: /rh-2410ck.html

type: 前厅投币柜
title: RH-2410C/K
keywords: 家用保险箱
description: 全能保险柜前厅投币柜系列RH-2410C/K保险柜全钢结构，多门栓设计，坚固防撬，箱体厚度4-6MM，门厚度10MM，颜色多样。

specs: (高)610&times;(宽)260&times;(深)364mm
thickness: 门12mm，箱体3mm
weight: 43公斤

---
