---
layout: product_article
permalink: /bp-9050.html

type: 油站投币柜
name: BP-9050
title: BP-9050
keywords: 保险柜
description: 保险柜十大品牌油站投币柜系列BP-9050采用全钢结构，多门栓设计，坚固防撬，箱体厚度8MM，门厚度10-12MM，特别设计防钓齿槽投入口。

specs: (高)900&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体8mm
weight: 163公斤

---
