---
layout: product_article
permalink: /if-1500c.html

type: 地藏
title: IF-1500C
keywords: 家用保险柜
description: 保险柜十大品牌地藏系列IF-1500C高344mm，宽379mm，深299mm，净重34公斤，采用美制精准密码盘锁，全钢满焊结构，方便开门。

specs: (高)344(宽)379(深)299mm
thickness: 门12mm，箱体4mm
weight: 34公斤

---
