---
layout: product_article
permalink: /b-5440.html

type: 全能金库
name: B-5440
title: 家用保险柜全能金库B-5440
keywords: 家用保险柜
description: 家用保险柜系列全能金库B-5440保险柜数控激光切割，突破传统剪切板焊接工艺，门板和箱体之间间隙精确到1mm，工艺与技术的完美结合。

images:
- b-5440.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_01.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_01.jpg" }
    .hover.hidden
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_02.png" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_03.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_02.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_04.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_03.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_05.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_04.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_06.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_05.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_07.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_06.jpg" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门
        %th 箱
        %th 净重
    %tbody.table-body
      %tr
        %td B-4538
        %td (高)450x(宽)380x(深)360mm
        %td 12mm
        %td 8mm
        %td 82公斤
      %tr.highlight
        %td B-5440
        %td (高)540x(宽)400x(深)380mm
        %td 12mm
        %td 8mm
        %td 100公斤
      %tr
        %td B-7348
        %td (高)730x(宽)480x(深)400mm
        %td 12mm
        %td 8mm
        %td 145公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
