---
layout: product_article
permalink: /bgx-d-40jl.html

type: 蓝精灵
name: BGX-D-40JL
title: BGX-D-40JL
keywords: 保险柜
description: 全能保险柜家用系列蓝精灵BGX-D-40JL保险柜高400mm，宽380mm，深310mm，净重25公斤，全钢结构，多门栓设计，坚固防撬。

specs: (高)400&times;(宽)380&times;(深)310mm
thickness: 门1.2mm，箱体0.8mm
weight: 25公斤

images:
- bgx-d-40jl-01.jpg
- bgx-d-40jl-01.jpg
- bgx-d-40jl-01.jpg

features: |
  <img alt="家用保险柜BGX-D-40JL功能特征" border="0" height="1141" src="%PRODIMGS%/bgx-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱BGX-D-40JL产品参数" border="0" height="205" src="%PRODIMGS%/bgx-cpcs.jpg" width="538" />

---
