---
layout: product_article
permalink: /us-3ck.html

type: 前厅投币柜
title: US-3C/K
keywords: 保险柜十大品牌
description: 全能保险柜家用保险柜前厅投币柜系列US-3C/K杜绝撞码可能，震动、移动、连续三次输错密码自动报警（音量达100分贝），可选装联网报警功能。

specs: (高)305&times;(宽)203&times;(深)254mm
thickness: 门12mm，箱体3mm
weight: 15公斤

---
