---
layout: product_article
permalink: /fg-6030f.html

type: 枪弹柜
title: FG-6030F
keywords: 保险柜
description: 家用保险柜枪弹柜系列FG-6030F保险柜高1524mm，宽762mm，深559mm，净重251公斤，适用于公安、武警、军队及国家安全部门。

specs: (高)1524&times;(宽)762&times;(深)559mm
thickness: 门2mm，箱体2mm
weight: 251公斤

---
