---
layout: product_article
permalink: /bgx-d-s80jl.html

type: 蓝精灵
name: BGX-D-S80JL
title: BGX-D-S80JL
keywords: 保险柜十大品牌
description: 家用保险箱系列蓝精灵BGX-D-S80JL保险柜高800mm，宽460mm，410mm，净重85公斤，智能化监控系统，随心滚轮，安全至尊。

specs: (高)800&times;(宽)460&times;(深)410mm
thickness: 门1.2mm，箱体0.8mm
weight: 85公斤

---
