---
layout: product_article
permalink: /glf-7042.html

type: 高尔夫
name: GLF-7042
title: GLF-7042
keywords: 保险柜十大品牌
description: 保险柜十大品牌系列高尔夫GLF-7042保险柜智能化监控系统，柜体震动侦测预警功能，自动联网报警功能，全程管控无忧，净重98公斤。

specs: (高)680(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 98公斤

---
