---
layout: product_article
permalink: /dm-2146zh.html

type: HOTSAFE客房柜
name: DM-2146ZH
title: DM-2146ZH
keywords: 保险箱
description: 保险柜HOTSAFE客房柜系列DM-2146ZH高217mm，宽463mm，深400mm，全面优质喷漆表面处理技术，防锈耐刮花，刚柔并济。

specs: (高)217&times;(宽)463&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 17公斤

images:
- dm2146-01.jpg
- dm2146-02.jpg

features: |
  <img alt="家用保险柜DM-2146ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)217&times;(宽)463&times;(深)400mm
  厚度：门5mm，箱体2mm
  净重：17公斤

---
