---
layout: product_article
permalink: /znrysb.html

type: 智能枪弹柜
name: 智能人验识别
title: 智能人验识别
keywords: 保险箱
description: 保险柜十大品牌智能枪弹柜系列智能人验识别拥有先进的生物认证功能使得保险柜操作更加安全可靠，适应国际潮流达到真正的免接触智能化管理应用。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

images:
- znrysb-01.jpg
- znrysb-01.jpg

features: |
  <p style="line-height: 300%">
  <b>基于VIELI嵌入式人脸识别系统的基础上开发而成。系统由运算能力强大的美国德州DSP芯片为主处理器结合先进的人脸识别算法和高效的矩阵数据库类比算法组合而成的嵌入式系统平台。从而使得用户只需望着门板前的摄像头几秒，即可完成开锁任务。先进的生物认证功能使得保险柜的操作更加安全可靠，适应国际潮流达到真正的免接触智能化管理应用。</b>
  <p style="line-height: 300%">
  <img alt="保险箱智能人验识别功能特征" border="0" height="1388" src="%PRODIMGS%/znrysb-gn.jpg" width="538" />

spec_details: |
  规格：按实际需求订制
  厚度：按实际需求订制
  净重：按实际需求订制

---
