---
layout: product_article
permalink: /hg-4538.html

type: 新皇冠
name: HG-4538
title: HG-4538
keywords: 保险柜十大品牌
description: 家用保险箱系列新皇冠HG-4538保险柜全面采用个性化圆形面板设计，液晶蓝色显示屏，可直接在面板上进行开门记录查询，连续错误自动报警。

specs: (高)470(宽)420(深)320mm
thickness: 门10mm，箱体4mm
weight: 53公斤

images:
- hg-4538-01.jpg
- hg-4538-01.jpg
- hg-4538-01.jpg
- hg-4538-01.jpg

features: |
  <img alt="保险箱hg-4538功能特征" border="0" height="1142" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜hg-4538产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
