---
layout: product_article
permalink: /bgx-d-s80jl.html

type: 蓝精灵
name: BGX-D-S80JL
title: BGX-D-S80JL
keywords: 保险柜十大品牌
description: 家用保险箱系列蓝精灵BGX-D-S80JL保险柜高800mm，宽460mm，410mm，净重85公斤，智能化监控系统，随心滚轮，安全至尊。

specs: (高)800&times;(宽)460&times;(深)410mm
thickness: 门1.2mm，箱体0.8mm
weight: 85公斤

images:
- bgx-d-s80jl-01.jpg
- bgx-d-s80jl-01.jpg
- bgx-d-s80jl-01.jpg

features: |
  <img alt="保险箱BGX-D-S80JL功能特征" border="0" height="1141" src="%PRODIMGS%/bgx-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱BGX-D-S80JL产品参数" border="0" height="205" src="%PRODIMGS%/bgx-cpcs.jpg" width="538" />

---
