---
layout: product_article
permalink: /sjb-40hbr.html

type: 铁管家
name: SJB-40HⅢB/R
title: SJB-40HⅢB/R
keywords: 家用保险柜
description: 家用保险柜系列铁管家SJB-40HⅢB/R保险柜高380mm，宽300mm，深200mm，净重24公斤，符合国家3C认证标准。


images:
- sjb-40hbr.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40hbr_text_01.png", title: "", alt: "" }
    .image{ style: "top: 20px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40hbr_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: -26px; top: -38px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40hbr_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider.height_600
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_04.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td SJB-40ⅢB/R
        %td -
        %td -
        %td -
        %td -
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
