---
layout: product_article
permalink: /h-15.html

type: 前厅保管箱
title: H-15
keywords: 保险箱
description: 家用保险箱前厅保管箱系列H-15高290mm，宽400mm，深270mm，可按不同需求与场地尺寸特别订制，适用于酒店大堂或公共场所使用。

specs: (高)290&times;(宽)400&times;(深)270mm
thickness: 门10mm，箱体6mm
weight: 30公斤

---
