---
layout: product_article
permalink: /us-1206k.html

type: 前厅投币柜
title: US-1206K
keywords: 保险箱
description: 全能保险柜前厅投币柜系列US-1206K保险柜高407mm，宽153mm，深178mm，电子密码锁具1-10位组合用户自设密码。

specs: (高)407&times;(宽)153&times;(深)178mm
thickness: 门12mm，箱体3mm
weight: 13公斤

---
