---
layout: product_article
permalink: /b-4538.html

type: 全能金库
name: B-4538
title: B-4538
keywords: 保险箱
description: 全能保险柜家用系列全能金库B-4538保险柜精准防撬技术，精确箱门四面不同易撬点设置均力防撬装置系统，全方位提升防撬能力，净重82公斤。

specs: (高)450(宽)380(深)360mm
thickness: 门10mm，箱体8mm
weight: 82公斤

---
