---
layout: product_article
permalink: /hg-11860.html

type: 新皇冠
name: HG-11860
title: HG-11860
keywords: 保险箱
description: 保险柜新皇冠系列HG-11860高1180mm，宽600mm，深500mm，净重185公斤，可直接在面板上进行开门记录查询，密码隐藏输入。

specs: (高)1180(宽)600(深)500mm
thickness: 门10mm，箱体6mm
weight: 185公斤

images:
- hg-11860-01.jpg
- hg-11860-01.jpg
- hg-11860-01.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-11860_text_01.png", title: "", alt: "" }
    .image{ style: "top: 5px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-11860_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: -72px; top: -10px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-11860_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-2740_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-2740_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-2740_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-2740_03.jpg", title: "", alt: "" }
  .cc-l2r.height_700.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-2740_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-11860_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-5840_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-5840_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-11860_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/hg-11860_03.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门
        %th 箱
        %th 净重
    %tbody.table-body
      %tr
        %td HG-2740
        %td (高)290x(宽)450x(深)270mm
        %td 10mm
        %td 4mm
        %td 35公斤
      %tr
        %td HG-3342
        %td (高)350x(宽)440x(深)320mm
        %td 10mm
        %td 4mm
        %td 42公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
