---
layout: product_article
permalink: /hg-7645d.html

type: 新皇冠
name: HG-7645D
title: HG-7645D
keywords: 保险箱
description: 家用保险箱新皇冠系列HG-7645D高765mm，宽450mm，深400mm，净重88公斤，双重型锁控系统，用户自由设置密码，杜绝撞码可能。

specs: (高)765(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 88公斤

---
