---
layout: product_article
permalink: /gtx-15870.html

type: 钢铁侠
name: GTX-15870
title: GTX-15870
keywords: 保险箱
description: 家用保险箱钢铁侠系列GTX-15870内设LED照明灯、精美内饰结合活动层板，灵活重组箱内空间，全方位、多角度传递人性化的实用贴心。

specs: (高)1565(宽)700(深)600mm
thickness: 门10mm，箱体6mm
weight: 325公斤

images:
- gtx-ty.jpg
- gtx-01.jpg
- gtx-02.jpg

features: |
  <img alt="保险柜十大品牌GTX-15870功能特征" border="0" height="1142" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱GTX-15870产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

---
