---
layout: product_article
permalink: /mzgyg.html

type: 寄存柜
name: 木质更衣柜
title: 木质更衣柜
keywords: 保险箱
description: 保险柜寄存柜系列木质更衣柜采用非接触式感应操作，客用钥匙牌特殊设计，不会重复，安全性高，操作简单，附管理者感应卡，供紧急开启和双人双锁使用。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
