---
layout: product_article
permalink: /f-2720ilk.html

type: 前厅投币柜
name: F-2720ILK
title: F-2720ILK
keywords: 家用保险柜
description: 保险柜十大品牌前厅投币柜系列F-2720ILK采用特别设计防钓齿槽迷宫式投入口，可选择电子密码锁具或机械密码锁具，杜绝撞码可能。

specs: (高)686&times;(宽)508&times;(深)508mm
thickness: 门12mm，箱体3mm
weight: 87公斤

---
