---
layout: product_article
permalink: /fg-100br.html

type: 钢将军
name: FG-100B/R
title: FG-100B/R
keywords: 保险柜十大品牌
description: 家用保险柜刚将军系列FG-100B/R高1080mm，宽550mm，深450mm，净重150公斤，多门栓设计，为您创造极致全能安全生活空间。

specs: (高)1080&times;(宽)550&times;(深)450mm
thickness: 门10mm，箱体6mm
weight: 150公斤

images:
- fg-100-01.jpg
- fg-100-02.jpg
- fg-100-03.jpg

features: |
  <img alt="保险箱FG-100B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜FG-100B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
