---
layout: product_article
permalink: /bgx-d-73jl.html

type: 蓝精灵
name: BGX-D-73JL
title: BGX-D-73JL
keywords: 家用保险箱
description: 保险柜十大品牌系列蓝精灵BGX-D-73JL保险柜高730mm，宽450mm，深390mm，净重70公斤，采用特别设计底部滚轮设计增加安全。

specs: (高)730&times;(宽)450&times;(深)390mm
thickness: 门1.2mm，箱体0.8mm
weight: 70公斤

---
