---
layout: product_article
permalink: /fg-2940br.html

type: 钢将军
name: FG-2940B/R
title: FG-2940B/R
keywords: 保险柜
description: 全能保险柜家用系列刚将军FG-2940B/R保险柜精确激光切割，智能化监控系统，高290mm，宽400mm，深270mm，净重30公斤。

specs: (高)290&times;(宽)400&times;(深)270mm
thickness: 门10mm，箱体6mm
weight: 30公斤

images:
- fg-2940-01.jpg
- fg-2940-02.jpg
- fg-2940-03.jpg
- fg-2940-04.jpg

features: |
  <img alt="保险柜fg-2940br功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜fg-2940br产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
