---
layout: product_article
permalink: /wm.html

type: 存取柜
name: 电子密码存取柜
title: 电子密码存取柜
keywords: 家用保险箱
description: 家用保险箱物流系列电子密码存取柜采用先进的AVR单片机技术，是一款安全、可靠的高科技产品，可用于工厂、机关、医院及特种行业的员工作为储物柜。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- wm-01.jpg
- wm-02.jpg
- wm-03.jpg

features: |
  <img alt="保险箱电子密码存取柜功能特征" border="0" height="407" src="%PRODIMGS%/wm-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜电子密码存取柜产品参数" border="0" height="233" src="%PRODIMGS%/wm-cpcs.jpg" width="504" />

---
