---
layout: product_article
permalink: /hg-5840.html

type: 新皇冠
name: HG-5840
title: HG-5840
keywords: 保险柜十大品牌
description: 保险柜新皇冠系列HG-5840保险柜高580mm，宽420mm，深360mm，净重62公斤，符合国家3C认证标准，创造极致全能安全生活空间。


images:
- hg-5840.jpg

features: |
  <img alt="家用保险柜HG-5840功能特征" border="0" height="1130" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱HG-5840产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
