---
layout: product_article
permalink: /gtx-6845.html

type: 钢铁侠
name: GTX-6845
title: GTX-6845
keywords: 保险箱
description: 全能保险柜家用系列钢铁侠GTX-6845保险柜创新一体化不锈钢电子面板、带时间日期多功能液晶显示屏，结合智能锁控系统与高精密度机械锁于一体。

specs: (高)745(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 104公斤

images:
- gtx-6845-01.jpg
- gtx-6845-01.jpg

features: |
  <img alt="家用保险箱GTX-6845功能特征" border="0" height="1142" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱GTX-6845产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

---
