---
layout: product_article
permalink: /bldzycg.html

type: 钥匙柜
name: 钢化玻璃电子钥匙柜
title: 钢化玻璃电子钥匙柜
keywords: 保险柜
description: 家用保险箱系列钢化玻璃电子钥匙柜主用于宾馆、工厂、健身会馆、休闲洗浴场所、机关、医院、校园、企事业单位、小区等单位，用于存放钥匙的用途。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- bldzycg-01.jpg
- bldzycg-02.jpg

features: |
  <img alt="保险柜钢化玻璃电子钥匙柜功能特征" border="0" height="507" src="%PRODIMGS%/bldzycg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱钢化玻璃电子钥匙柜产品参数" border="0" height="237" src="%PRODIMGS%/bldzycg-cpcs.jpg" width="538" />

---
