---
layout: product_article
permalink: /znqdg.html

type: 智能枪弹柜
name: 智能枪弹柜
title: 智能枪弹柜
keywords: 家用保险柜
description: 家用保险柜系列智能枪弹柜采用指纹采集与验证系统，实施枪支监控子系统，能近距离读取枪支信息，检测枪支的真伪，并将相应信息存储在手持机中。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

---
