---
layout: product_article
permalink: /fpc-15075sc.html

type: 铁观音防火
name: FPC-15075SC
title: FPC-15075SC
keywords: 家用保险箱
description: 规格：(高)1500(宽)755(深)635mm 厚度：门1.2mm，箱体0.8mm 净重：410公斤 /image-pro/fpc-15075-01.jpg
  /image-pro/fpc-15075-01.jpg 本系列产品使用说明书更新中，有如需要请致电400-830-4555或0757-22308180咨询，

specs: (高)1500&times;(宽)755&times;(深)635mm
thickness: 门1.2mm，箱体0.8mm
weight: 410公斤

images:
- fpc-15075-01.jpg
- fpc-15075-01.jpg

features: |
  <img alt="保险柜十大品牌FPC-15075SC功能特性" border="0" height="1142" src="%PRODIMGS%/fpc-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FPC-15075SC产品参数" border="0" height="336" src="%PRODIMGS%/fpc-cpcs.jpg" width="538" />

---
