---
layout: product_article
permalink: /us-2ck.html

type: 前厅投币柜
name: US-2C/K
title: US-2C/K
keywords: 保险柜
description: 全能保险箱家用保险箱前厅投币柜系列US-2C/K，箱体厚度4-6mm，门厚度10mm，净重10公斤，全钢结构，多门栓设计，坚固防撬。

specs: (高)216&times;(宽)153&times;(深)305mm
thickness: 门12mm，箱体3mm
weight: 10公斤

---
