---
layout: product_article
permalink: /gtx-3345.html

type: 钢铁侠
name: GTX-3345
title: GTX-3345
keywords: 保险箱
description: 全能家用保险柜系列钢铁侠GTX-3345保险柜遵循全能严谨作风，质量为先的理念，采用全钢板无缝切割，完美闪亮黑喷涂，造就钢铁侠卓越品质。

specs: (高)330(宽)420(深)330mm
thickness: 门10mm，箱体4mm
weight: 36公斤

images:
- gtx-3345-01.jpg
- gtx-01.jpg
- gtx-02.jpg

features: |
  <img alt="家用保险柜GTX-3345功能特征" border="0" height="1142" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱GTX-3345产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

---
