---
layout: product_article
permalink: /f-3020ccee.html

type: 前厅投币柜
name: F-3020CC/EE
title: F-3020CC/EE
keywords: 保险箱
description: 全能保险柜前厅投币柜系列F-3020CC/EE净重55公斤，特别设计防钓齿槽迷宫式投入口，锌系磷化防锈、优质粉末喷涂表面处理、颜色多样。

specs: (高)686&times;(宽)355&times;(深)355mm
thickness: 门12mm，箱体3mm
weight: 55公斤

---
