---
layout: product_article
permalink: /hg-5840.html

type: 新皇冠
name: HG-5840
title: HG-5840
keywords: 保险柜十大品牌
description: 保险柜新皇冠系列HG-5840保险柜高580mm，宽420mm，深360mm，净重62公斤，符合国家3C认证标准，创造极致全能安全生活空间。

specs: (高)580(宽)420(深)360mm
thickness: 门10mm，箱体6mm
weight: 62公斤

---
