---
layout: product_article
permalink: /sjb-58br.html

type: 铁管家
name: SJB-58ⅢB/R
title: SJB-58ⅢB/R
keywords: 保险柜十大品牌
description: 家用保险柜系列铁管家SJB-58ⅢB/R保险柜高490mm，宽360mm，深360mm，净重50公斤，拥有双重保护，用户能自由设置密码。

specs: (高)490(宽)360(深)360mm
thickness: 门10mm，箱体6mm
weight: 50公斤

images:
- sjb-58br-01.jpg
- sjb-58br-02.jpg
- sjb-58br-03.jpg
- sjb-58br-04.jpg

features: |
  <img alt="保险柜SJB-58ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱SJB-58ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
