---
layout: product_article
permalink: /yhbgg.html

type: 银行保管箱
name: 银行保管箱
title: 银行保管箱
keywords: 保险箱
description: 家用保险箱系列银行保管箱采用可采用带门或直接箱体，优质钢板生产，其抗破坏性达国家标准，可选择机械钥匙、指纹密码锁具，增加防火功能。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

---
