---
layout: product_article
permalink: /hg-8045.html

type: 新皇冠
name: HG-8045
title: HG-8045
keywords: 家用保险箱
description: 保险柜十大品牌新皇冠系列HG-8045高800mm，宽450mm，深400mm，净重92公斤，采用德国顶尖工艺激光切割技术，更精准可靠。

specs: (高)800(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 92公斤

images:
- hg-8045-01.jpg
- hg-8045-01.jpg
- hg-8045-01.jpg

features: |
  <img alt="保险柜十大品牌HG-8045功能特征" border="0" height="1130" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜HG-8045产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
