---
layout: product_article
permalink: /tgg-2040br.html

type: 铁金钢
name: TGG-2040B/R
title: TGG-2040B/R
keywords: 保险箱
description: 全能保险柜家用系列铁金刚TGG-2040B/R保险柜全钢结构，多门栓设计，坚固防撬，符合国家3C认证标准，净重25公斤。

specs: (高)200(宽)400(深)300mm
thickness: 门10mm，箱体4mm
weight: 25公斤

images:
- tgg-2040br-01.jpg
- tgg-2040br-02.jpg
- tgg-2040br-03.jpg

features: |
  <img alt="家用保险柜tgg-2040br功能特征" border="0" height="1142" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱tgg-2040br产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
