---
layout: product_article
permalink: /zy-7581.html

type: 油站投币柜
title: 中油7581
keywords: 保险柜
description: 家用保险箱油站投币柜系列中油7581保险柜其产品背部特别设计有三个投币口，不工作时可锁上，特别设计防钓齿槽投入口，投背口可选择用背投或正投。

specs: (高)750&times;(宽)810.&times;(深)450mm
thickness: 门12mm，箱体8mm
weight: 235公斤

---
