---
layout: product_article
permalink: /sjb-2243br.html

type: 铁管家
name: SJB-2243B/R
title: SJB-2243B/R
keywords: 保险柜
description: 全能保险柜家用系列铁管家SJB-2243B/R保险柜自动联网报警功能，结合智能锁控系统与高精密度机械锁于一体，活动板层，灵活重组箱内空间。

specs: (高)192(宽)430(深)380mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- sjb-2243br-01.jpg
- sjb-02.jpg

features: |
  <img alt="保险箱SJB-2243B/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱SJB-2243B/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
