---
layout: product_article
permalink: /fpc-4030sc.html

type: 铁观音防火
name: FPC-4030SC
title: FPC-4030SC
keywords: 家用保险柜
description: 规格：(高)400(宽)304(深)330mm 厚度：门1.2mm，箱体0.8mm 净重：28公斤。本系列产品使用说明书更新中，有如需要请致电400-830-4555或0757-22308180咨询，谢

specs: (高)400&times;(宽)304&times;(深)330mm
thickness: 门1.2mm，箱体0.8mm
weight: 28公斤

images:
- fpc-4030-01.jpg
- fpc-4030-01.jpg

features: |
  <img alt="家用保险箱FPC-4030SC功能特性" border="0" height="1142" src="%PRODIMGS%/fpc-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FPC-4030SC产品参数" border="0" height="336" src="%PRODIMGS%/fpc-cpcs.jpg" width="538" />

---
