---
layout: product_article
permalink: /rh-3020cc.html

type: 前厅投币柜
title: RH-3020CC
keywords: 保险柜
description: 家用保险柜前厅投币柜系列RH-3020CC高762mm，宽510mm，深510mm，可选电子密码锁具或机械密码锁具，1-10位组合自设密码。

specs: (高)762&times;(宽)510&times;(深)510mm
thickness: 门12mm，箱体3mm
weight: 95公斤

---
