---
layout: product_article
permalink: /cs-2520c.html

type: 安固
name: CS-2520C
title: CS-2520C
keywords: 保险箱
description: 保险柜十大品牌安固系列CS-2520C保险柜高670mm，宽440mm，深550mm，净重210公斤， 门体采用大型滚珠外门铰，全面安全加码。

specs: (高)670&times;(宽)550&times;(深)550mm
thickness: 门5mm，箱体3mm
weight: 210公斤

images:
- cs-2520-01.jpg
- cs-02.jpg
- cs-03.jpg

features: |
  <img alt="保险柜十大品牌CS-2520C功能特征" border="0" height="1142" src="%PRODIMGS%/cs-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜十大品牌CS-2520C产品参数" border="0" height="113" src="%PRODIMGS%/cs-cpcs.jpg" width="538" />

---
