---
layout: product_article
permalink: /if-3000c.html

type: 地藏
name: IF-3000C
title: IF-3000C
keywords: 保险柜十大品牌
description: 家用保险箱地藏系列IF-3000C保险柜高362mm，宽616mm，深457mm，净重56公斤，6MM超硬防钻板，配合气弹簧配置，方便开门。

specs: (高)362(宽)616(深)457mm
thickness: 门12mm，箱体4mm
weight: 56公斤

images:
- if-3500c-01.jpg
- if-3500c-01.jpg

features: |
  <img alt="家用保险柜IF-3500C功能特征" border="0" height="1142" src="%PRODIMGS%/dz-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱IF-3500C产品参数" border="0" height="113" src="%PRODIMGS%/dz-cpcs.jpg" width="538" />

---
