---
layout: product_article
permalink: /mq-2045zh.html

type: QNNSAFE客房柜
name: MQ-2045ZH
title: MQ-2045ZH
keywords: 家用保险箱
description: 全能保险箱QNNSAFE客房柜系列MQ-2045ZH全钢结构，多门栓设计，具备普通和特殊砖割工具破坏，坚固防撬，创造极致全能安全生活空间。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- mq-2045zh-01.jpg
- mq-2045zh-01.jpg

features: |
  <img alt="保险箱MQ-2045ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200&times;(宽)450&times;(深)400mm
  厚度：门5mm，箱体2mm
  净重：14公斤

---
