---
layout: product_article
permalink: /sjb-58br.html

type: 铁管家
name: SJB-58ⅢB/R
title: SJB-58ⅢB/R
keywords: 保险柜十大品牌
description: 家用保险柜系列铁管家SJB-58ⅢB/R保险柜高490mm，宽360mm，深360mm，净重50公斤，拥有双重保护，用户能自由设置密码。


images:
- sjb-58br.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-58br_text_01.png", title: "", alt: "" }
    .image{ style: "top: 20px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-58br_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: -34px; top: -3px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-58br_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider.height_600
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/sjb-40br_04.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td SJB-40ⅢB/R
        %td -
        %td -
        %td -
        %td -
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
