---
layout: product_article
permalink: /tgg-7645br.html

type: 铁金钢
name: TGG-7645B/R
title: TGG-7645B/R
keywords: 保险柜十大品牌
description: 家用保险箱铁金刚系列TGG-7645B/R保险柜高765mm，宽450mm，深400mm，净重89公斤，全钢结构，多门栓设计，坚固防撬。

specs: (高)765(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 89公斤

images:
- tgg7645-01.jpg
- tgg7645-02.jpg
- tgg7645-03.jpg

features: |
  <img alt="保险柜十大品牌TGG-7645B/R功能特征" border="0" height="1130" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜TGG-7645B/R产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
