---
layout: product_article
permalink: /znbmg.html

type: 保密柜
name: 智能保密柜
title: 智能保密柜
keywords: 家用保险柜
description: 保险柜智能保密柜具有物品感应装置，指纹身份验证及人脸识别验证、保密性强，安全系数高，可操作性强，适用于机关单位、企事业单位，党政机关部队等。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- znbmg-01.jpg
- znbmg-01.jpg

features: |
  <img alt="家用保险箱智能保密柜功能特征" border="0" height="447" src="%PRODIMGS%/znbmg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜智能保密柜产品参数" border="0" height="212" src="%PRODIMGS%/znbmg-cpcs.jpg" width="538" />

---
