---
layout: product_article
permalink: /fg-3001.html

type: 枪弹柜
name: FG-3001
title: FG-3001
keywords: 家用保险箱
description: 保险柜枪弹柜系列FG-3001高1500mm，宽1000mm，深400mm，净重420公斤，可选机械锁、电子密码锁、机械加电子密码锁多种。

specs: (高)1500&times;(宽)1000&times;(深)400mm
thickness: 门10mm，箱体4-6mm
weight: 420公斤

---
