---
layout: product_article
permalink: /fpc-3448-sc.html

type: 铁观音防火
name: FPC-3448ⅡSC
title: FPC-3448ⅡSC
keywords: 家用保险柜
description: 规格：(高)344(宽)486(深)393mm 厚度：门1.2mm，箱体0.8mm 净重：53公斤。本系列产品使用说明书更新中，有如需要请致电400-830-4555或0757-22308180咨询，

specs: (高)344&times;(宽)486&times;(深)393mm
thickness: 门1.2mm，箱体0.8mm
weight: 53公斤

images:
- fpc-3348II-01.jpg
- fpc-3348II-01.jpg

features: |
  <img alt="家用保险柜FPC-3448ⅡSC功能特性" border="0" height="1142" src="%PRODIMGS%/fpc-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FPC-3448ⅡSC产品参数" border="0" height="336" src="%PRODIMGS%/fpc-cpcs.jpg" width="538" />

---
