---
layout: product_article
permalink: /tgg-4938br.html

type: 铁金钢
name: TGG-4938B/R
title: TGG-4938B/R
keywords: 保险箱
description: 全能保险柜家用系列铁金刚TGG-4938B/R保险柜高490mm，宽380mm，深360mm，净重54公斤，简洁美观，能够完美搭配各种环境。

specs: (高)490(宽)380(深)360mm
thickness: 门10mm，箱体6mm
weight: 54公斤

---
