---
layout: product_article
permalink: /glf-5842.html

type: 高尔夫
name: GLF-5842
title: 保险箱全能高尔夫GLF-5842
keywords: 保险箱
description: 全能保险柜家用系列高尔夫GLF-5842保险柜双重型锁控系统结合智能锁控系统与高精密度机械锁于一体，双重防护，用户自由设置密码。


images:
- glf-5842.jpg


features: |
  <img alt="家用保险箱glf-5842功能特征" border="0" height="1142" src="%PRODIMGS%/glf-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜glf-5842产品参数" border="0" height="216" src="%PRODIMGS%/glf-cpcs.jpg" width="538" />

---
