---
layout: product_article
permalink: /dm-185640.html

type: 可拉珍藏
name: DM-185640
title: DM-185640
keywords: 保险柜
description: 保险箱家用系列可拉珍藏半嵌入保密柜DM-185640可置于家庭衣柜内，存放各类银行卡、存折、纸质证件、轻小的电子类产品等，外观时尚。

specs: 
thickness: 
weight: 

---
