---
layout: product_article
permalink: /mg-2043zh.html

type: QNNSAFE客房柜
name: MG-2043ZH
title: MG-2043ZH
keywords: 家用保险箱
description: 全能保险柜家用保险柜QNNSAFE客房柜系列MG-2043ZH高200mm，宽450mm，深400mm，简洁美观，完美搭配各种环境。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- mg2045-01.jpg
- mg2045-02.jpg

features: |
  <img alt="保险柜十大品牌MG-2043ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200&times;(宽)450&times;(深)400mm
  厚度：门5mm，箱体2mm
  净重：14公斤

---
