---
layout: product_article
permalink: /ws-108.html

type: 嵌墙
name: WS-108
title: WS-108
keywords: 保险箱
description: 家用保险柜嵌墙系列WS-108保险柜嵌墙而立，产品选装码盘锁、电子锁、钥匙锁等配置，结合防撬门板与内门铰设计，安全耐用。

specs: (高)203&times;(宽)254&times;(深)254mm
thickness: 门8mm，箱体2mm
weight: 8公斤

images:
- ws-108.jpg
- ws-108.jpg

features: |
  <img alt="家用保险箱ws-108产品参数" border="0" height="1142" src="%PRODIMGS%/sccps1.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜ws-108产品参数1" border="0" height="68" src="%PRODIMGS%/escs1.jpg" width="538" />

---
