---
layout: product_article
permalink: /zf-4938br.html

type: 指纹
name: ZF-4938B/R
title: ZF-4938B/R
keywords: 保险柜
description: 家用保险柜指纹系列ZF-4938B/R保险柜结合智能指纹系统与高精密度机械锁于一体，双重防护，可设密码与指纹相结合开锁，安全放心。

specs: (高)490(宽)380(深)320mm
thickness: 门10mm，箱体6mm
weight: 54公斤

images:
- zf-4938-01.jpg
- zf-4938-01.jpg
- zf-4938-01.jpg

features: |
  <img alt="保险柜十大品牌ZF-4938B/R功能特征" border="0" height="1142" src="%PRODIMGS%/zf-gn.jpg" width="538" />

spec_details: |
  规格：(高)490(宽)380(深)320mm
  厚度：门10mm，箱体6mm
  净重：54公斤

---
