---
layout: product_article
permalink: /sjb-52br.html

type: 铁管家
title: SJB-52ⅢB/R
keywords: 家用保险箱
description: 全能保险柜家用系列铁管家SJB-52ⅢB/R保险柜高350mm，宽420mm，深320mm，净重40公斤，工艺与技术的完美结合，更精准可靠。

specs: (高)350(宽)420(深)320mm
thickness: 门10mm，箱体4mm
weight: 40公斤

---
