---
layout: product_article
permalink: /bgx-5840.html

type: 珍藏
name: BGX-5840
title: BGX-5840
keywords: 保险箱
description: 家用保险柜珍藏系列BGX-5840保险柜超大空间，设有3面实心锁杆，全方位提升防撬性能，防腐防锈，大方美观，实用尺寸，家庭、办公佳宜。

specs: (高)580(宽)400(深)360mm
thickness: 门10mm，箱体2mm
weight: 33公斤

images:
- bgx-5840-01.jpg
- bgx-5840-02.jpg
- bgx-5840-01.jpg

features: |
  <img alt="保险箱bgx-5840功能特征" border="0" height="796" src="%PRODIMGS%/bgx-5840-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱bgx-5840产品参数" border="0" height="235" src="%PRODIMGS%/bgx-5840-cpcs.jpg" width="538" />

---
