---
layout: product_article
permalink: /xjtbj.html

type: 现金投包机
name: 现金投包机
title: 现金投包机
keywords: 保险柜十大品牌
description: 保险柜系列现金投包机采用全钢材质，结构牢固，开启灵活，安全保密，多门栓设计，与门框固定槽相互紧扣，采用美国进口洛加达码盘及德国进口叶片锁。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

images:
- xjtbj-01.jpg
- xjtbj-01.jpg

features: |
  <p style="line-height: 300%">
  <b>1、采用全钢材质，结构牢固，开启灵活，安全保密</b>
  <p style="line-height: 300%">
  <b>2、多门栓设计，与门框固定槽相互紧扣，采用美国进口洛加达码盘及德国进口叶片锁</b>
  <p style="line-height: 300%">
  <b>3、规格可以按需求订制</b>

spec_details: |
  规格：按实际需求订制
  厚度：按实际需求订制
  净重：按实际需求订制

---
