---
layout: product_article
permalink: /cs-2221d.html

type: 安固
name: CS-2221D
title: CS-2221D
keywords: 家用保险柜
description: 家用保险箱安固系列CS-2221D保险柜采用进口码盘锁或金刚电子锁控技术，高570mm，宽550mm，深550mm，净重185公斤。

specs: (高)570&times;(宽)550&times;(深)550mm
thickness: 门5mm，箱体3mm
weight: 185公斤

images:
- cs-2221-01.jpg
- cs-02.jpg
- cs-03.jpg

features: |
  <img alt="家用保险箱CS-2221D功能特征" border="0" height="1142" src="%PRODIMGS%/cs-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜CS-2221D产品参数" border="0" height="113" src="%PRODIMGS%/cs-cpcs.jpg" width="538" />

---
