---
layout: product_article
permalink: /ct-4018zh.html

type: QNNSAFE客房柜
name: CT-4018ZH
title: CT-4018ZH
keywords: 保险柜十大品牌
description: 全能保险柜家用保险柜QNNSAFE客房柜系列CT-4018ZH 连续输错三次密码将报警并自锁按键，适用于酒店，家庭，个人。

specs: (高)400&times;(宽)350&times;(深)180mm
thickness: 门1.5mm，箱体3mm
weight: 9公斤

images:
- ct4013-01.jpg
- ct4013-01.jpg
- ct4013-01.jpg

features: |
  <img alt="保险柜十大品牌CT-4018ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)400&times;(宽)350&times;(深)180mm
  厚度：门1.5mm，箱体3mm
  净重：9公斤

---
