---
layout: product_article
permalink: /glf-8550.html

type: 高尔夫
name: GLF-8550
title: GLF-8550
keywords: 保险柜十大品牌
description: 保险柜高尔夫系列GLF-8550源于儒雅时尚设计，配合灵动现代工艺技术，精准激光切割，双重型锁控系统和智能化监控系统，人性化操作，精准可靠。

specs: (高)850(宽)500(深)450mm
thickness: 门10mm，箱体6mm
weight: 133公斤

images:
- glf-01.jpg
- glf-02.jpg
- glf-03.jpg
- glf-xj-01.jpg

features: |
  <img alt="家用保险柜GLF-8550功能特征" border="0" height="1142" src="%PRODIMGS%/glf-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜GLF-8550产品参数" border="0" height="216" src="%PRODIMGS%/glf-cpcs.jpg" width="538" />

---
