---
layout: product_article
permalink: /mi-2045uzh.html

type: QNNSAFE客房柜
name: MI-2045UZH
title: MI-2045UZH
keywords: 家用保险箱
description: 全能保险箱QNNSAFE客房柜系列MI-2045UZH高200mm，宽450mm，深400mm，可选择配搭管理/应急钥匙，红外线遥控器。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 15公斤

---
