---
layout: product_article
permalink: /f-1614c.html

type: 前厅投币柜
name: F-1614C
title: F-1614C
keywords: 保险箱
description: 家用保险柜前厅投币柜系列F-1614C高406mm，宽355mm，深355mm，电子密码锁具1-10位组合用户自设密码。

specs: (高)406&times;(宽)355&times;(深)355mm
thickness: 门12mm，箱体3mm
weight: 34公斤

---
