---
layout: product_article
permalink: /dg-6442ds.html

type: 前厅投币柜
name: DG-6442DS
title: DG-6442DS
keywords: 保险柜
description: 全能保险柜前厅投币柜系列DG-6442DS杜绝撞码可能，震动、移动、连续三次输错密码自动报警（音量达100分贝），可选装联网报警功能。

specs: (高)640&times;(宽)420&times;(深)400mm
thickness: 门10mm，箱体6mm
weight: 73公斤

---
