---
layout: product_article
permalink: /mzgyg.html

type: 寄存柜
name: 木质更衣柜
title: 木质更衣柜
keywords: 保险箱
description: 保险柜寄存柜系列木质更衣柜采用非接触式感应操作，客用钥匙牌特殊设计，不会重复，安全性高，操作简单，附管理者感应卡，供紧急开启和双人双锁使用。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- mzgyg-01.jpg
- mzgyg-02.jpg

features: |
  <img alt="保险箱木质更衣柜功能特征" border="0" height="692" src="%PRODIMGS%/mzgyg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜木质更衣柜产品参数" border="0" height="219" src="%PRODIMGS%/mzgyg-cpcs.jpg" width="436" />

---
