---
layout: product_article
permalink: /fg-8045br.html

type: 钢将军
name: FG-8045B/R
title: FG-8045B/R
keywords: 家用保险箱
description: 全能保险箱刚将军系列高FG-8045B/R保险柜800mm，宽450mm，深400mm，净重91公斤，采用双重型锁控系统，杜绝撞码可能。

specs: (高)800&times;(宽)450&times;(深)400mm
thickness: 门10mm，箱体6mm
weight: 91公斤

images:
- fg-8045-01.jpg
- fg-8045-02.jpg
- fg-8045-03.jpg

features: |
  <img alt="保险柜FG-8045B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FG-8045B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
