---
layout: product_article
permalink: /gtx-9050.html

type: 钢铁侠
name: GTX-9050
title: GTX-9050
keywords: 家用保险柜
description: 保险柜十大品牌钢铁侠系列GTX-9050遵循全能严谨作风，质量为先的理念，采用全钢板无缝切割，完美闪亮黑喷涂，造就钢铁侠卓越品牌。

specs: (高)965&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体6mm
weight: 145公斤

images:
- gtx-9050-01.jpg
- gtx-01.jpg
- gtx-02.jpg

features: |
  <img alt="家用保险柜GTX-9050功能特征" border="0" height="1130" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱GTX-9050产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

---
