---
layout: product_article
permalink: /qn-2043.html

type: 逸动
name: QN-2043
title: QN-2043
keywords: 家用保险柜
description: 全能家用保险箱逸动系列QN-2043高195mm，宽430mm，深370mm，净重13公斤，全面优质喷涂表面处理技术，简洁美观，完美搭配。

specs: (高)195&times;(宽)430&times;(深)370mm
thickness: 门5mm，箱体2mm
weight: 13公斤

images:
- qn2043-01.jpg
- qn2043-02.jpg

features: |
  <img alt="保险柜QN-2043产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)195&times;(宽)430&times;(深)370mm
  厚度：门5mm，箱体2mm
  净重：13公斤

---
