---
layout: product_article
permalink: /e-qg.html

type: 智能枪弹柜
name: E型部队专用携行枪柜
title: E型部队专用携行枪柜
keywords: 家用保险柜
description: 保险箱系列E型部队专用携行枪柜主要用于武警部队、公安人员等出外执行任务使用，具有远程系统控制管理的特点，便捷搬运，远程审批，智能管理。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- e-qg-01.jpg
- e-qg-02.jpg

features: |
  <img alt="家用保险柜E型部队专用携行枪柜功能特征" border="0" height="405" src="%PRODIMGS%/e-qg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱E型部队专用携行枪柜产品参数" border="0" height="198" src="%PRODIMGS%/e-qg-cpcs.jpg" width="538" />

---
