---
layout: product_article
permalink: /h-06.html

type: 前厅保管箱
name: H-06
title: H-06
keywords: 保险柜
description: 全能保险柜前厅保管箱系列H-06高290mm，宽400mm，深270mm，采用双头锁设计，需两把钥匙同时打开才可开箱，可选配门内储物盒设计。

specs: (高)290&times;(宽)400&times;(深)270mm
thickness: 门10mm，箱体6mm
weight: 30公斤

images:
- h-06-01.jpg
- h-02.jpg
- h-03.jpg

features: |
  <p style="line-height: 300%">
  <b>1、采用全钢材质，结构牢固，开启灵活，安全保密</b>
  <p style="line-height: 300%">
  <b>2、采用双头锁设计，需两把钥匙同时打开才可开箱</b>
  <p style="line-height: 300%">
  <b>3、可选配门内储物盒设计</b>
  <p style="line-height: 300%">
  <b>4、可按不同需求与场地尺寸特别订制</b>
  <p style="line-height: 300%">
  <b>5、适用于酒店大堂或公共场所使用</b>

spec_details: |
  规格：(高)290&times;(宽)400&times;(深)270mm
  厚度：门10mm，箱体6mm
  净重：30公斤

---
