---
layout: product_article
permalink: /zf-4538br.html

type: 指纹
name: ZF-4538B/R
title: ZF-4538B/R
keywords: 家用保险箱
description: 全能保险柜指纹系列ZF-4538B/R保险柜高450mm，宽380mm，深320mm，净重48公斤，全钢结构，多门栓设计，坚固防撬。

specs: (高)450(宽)380(深)320mm
thickness: 门10mm，箱体6mm
weight: 48公斤

---
