---
layout: product_article
permalink: /bmg-8003ab.html

type: 双开门
name: BMG-8003A/B
title: BMG-8003A/B
keywords: 家用保险箱
description: 全能家用保险柜双开门系列BMG-8003A/B保险柜采用锌系磷化防锈、优质粉末喷涂表面处理、颜色多样，内外空间自由组合。

specs: (高)1800(宽)900(深)430mm
thickness: 门1.2mm，箱体0.8mm
weight: 73公斤

---
