---
layout: product_article
permalink: /sjb-88dbr.html

type: 铁管家
name: SJB-88ⅢDB/R
title: SJB-88ⅢDB/R
keywords: 保险柜
description: 家用保险箱铁管家系列SJB-88IIIDB/R高765mm，宽450mm，深400mm，净重92公斤，采用智能化监控系统，全程智能管控无忧。

specs: (高)765(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 92公斤

---
