---
layout: product_article
permalink: /mc-2045zh.html

type: 酒店客房保管箱
name: MC-2045ZH
title: MC-2045ZH
keywords: 家用保险柜
description: 全能保险箱QNNSAFE客房柜系列MC-2045ZH全钢结构，多门栓设计，具备普通和特殊砖割工具破坏，坚固防撬，创造极致全能安全生活空间。

images:
- mc-2045zh.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_text_01.png", title: "", alt: "" }
    .image{ style: "top: 90px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 4px; top: -4px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/mc-2045zh_04.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td MC-2045ZH
        %td (高)200x(宽)450x(深)400mm
        %td 5mm
        %td 2mm
        %td 14公斤
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
