---
layout: product_article
permalink: /bgx-d-80jl.html

type: 蓝精灵
name: BGX-D-80JL
title: BGX-D-80JL
keywords: 保险柜十大品牌
description: 全能保险柜家用系列蓝精灵BGX-D-80JL保险柜高800mm，宽460mm，深410mm，净重80公斤，拥有连续错码自动报警等多种功能。

specs: (高)800&times;(宽)460&times;(深)410mm
thickness: 门1.2mm，箱体0.8mm
weight: 80公斤

---
