---
layout: product_article
permalink: /dyg.html

type: 弹药柜
title: 弹药柜
keywords: 保险柜十大品牌
description: 保险柜十大品牌系列弹药柜采用全钢结构，多门栓设计，可选机械锁、电子密码锁、机械+电子密码锁多种，管理码/应急钥匙配置，规格按需求订制。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

---
