---
layout: product_article
permalink: /es-2318w.html

type: 嵌墙
name: ES-2318W
title: ES-2318W
keywords: 家用保险箱
description: 家用保险箱嵌墙系列ES-2318W保险柜全钢结构，具备普通和特殊钻割工具破坏，嵌墙而立，浑然一体，巧夺天成，为您创造极致安全生活空间。

specs: (高)584&times;(宽)457&times;(深)102mm
thickness: 门2mm，箱体4mm
weight: 16.5公斤

images:
- es-2318w.jpg
- es-2318w.jpg
- es-2318w.jpg

features: |
  <img alt="家用保险柜es-2318w产品参数" border="0" height="1142" src="%PRODIMGS%/sccps1.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱es-2318w产品参数1" border="0" height="68" src="%PRODIMGS%/escs1.jpg" width="538" />

---
