---
layout: product_article
permalink: /asafe.html

type: 苹果
name: asafe
title: asafe
keywords: 保险柜
description: 家用保险箱苹果系列Asafe采用精美的高光象牙白粉末喷涂，与时尚家居完美结合，箱体独特圆弧设计，相对于直角设计，更符合现代家居风格。

specs: (高)200(宽)450(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

---
