---
layout: product_article
permalink: /s-qdg.html

type: 智能枪弹柜
name: S型智能带枪锁枪弹柜
title: S型智能带枪锁枪弹柜
keywords: 保险柜
description: 家用保险箱智能枪弹柜系列S型智能带枪锁枪弹柜可通过短信审批，方便快捷，全程实现电子化指纹验证，科学安全，可设置单人或双人取枪，以管理需求订制。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
