---
layout: product_article
permalink: /qn-2043zh.html

type: QNNSAFE客房柜
name: QN-2043ZH
title: QN-2043ZH
keywords: 保险柜
description: 保险柜QNNSAFE客房柜系列QN-2043ZH高195mm，宽430mm，深370mm，配置随心所欲，多重防护安全至尊，大家风范完美搭配。

specs: (高)195&times;(宽)430&times;(深)370mm
thickness: 门5mm，箱体2mm
weight: 13公斤

images:
- qn2043-01.jpg
- qn2043-02.jpg

features: |
  <img alt="保险箱QN-2043ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)195&times;(宽)430&times;(深)370mm
  厚度：门5mm，箱体2mm
  净重：13公斤

---
