---
layout: product_article
permalink: /mg-2045.html

type: 逸动
title: MG-2045
keywords: 保险柜十大品牌
description: 保险柜十大品牌逸动系列MG-2045保险柜高200mm，宽450mm，深400mm，净重14公斤，全自动电子锁控系统，多重防护，大家风范。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

---
