---
layout: product_article
permalink: /za-18090.html

type: 维纳斯
title: ZA-18090
keywords: 家用保险柜
description: 家用保险柜维纳斯系列ZA-18090作为全新设计新一代文件保险柜，集防火防盗于一身，耐高温，配合密码、指纹双重锁具防护，内外空间自由组合。

specs: (高)1530&times;(宽)450&times;(深)420mm
thickness: 门8mm，箱体4-6mm
weight: 150公斤

---
