---
layout: product_article
permalink: /h-09.html

type: 前厅保管箱
name: H-09
title: H-09
keywords: 保险柜
description: 全能保险柜前厅保管箱系列H-09高500mm，宽900mm，深500mm，采用双头锁设计，需两把钥匙同时打开才可开箱，可选配门内储物盒设计。

specs: (高)500&times;(宽)900&times;(深)500mm
thickness: 
weight: 

images:
- h-06-01.jpg

---
#product_details
  .cc
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_text_01.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_01.jpg", title: "", alt: "" }
    .hover.hidden{ style: "right: 13px; top: 64px;" }
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_text_02.png", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_text_03.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_02.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_text_04.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_03.jpg", title: "", alt: "" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_text_05.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_04.jpg", title: "", alt: "" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_text_06.png", title: "", alt: "" }
    .image
      %img{ src: "http://www.qnnsafe.com/images/products-large/h-09_05.jpg", title: "", alt: "" }
#compare.narrow.hidden
  %table#compare_table.table
    %thead.table-head
      %tr
        %th 型号
        %th 尺寸
        %th 门（厚度）
        %th 箱（厚度）
        %th 净重
    %tbody.table-body
      %tr.highlight
        %td H-09
        %td (高)500x(宽)900x(深)500mm
        %td 
        %td 
        %td 
    %tfoot.table-foot
      %tr
        %td{ colspan: 5 }
          粗体行表示当前型号
