---
layout: product_article
permalink: /jkm(b)-1020-n.html

type: 金库门
name: JKM(B)-1020-N
title: JKM(B)-1020-N
keywords: 家用保险柜
description: 家用保险柜金库门系列JKM(B)-1020-N保险柜采用多门栓设计，与门框固定槽相互紧扣，采用美国进口洛加达码盘及德国进口叶片锁。

specs: (高)2162(宽)1300(深)300mm
thickness: 由外至内结构：1.2mm不锈钢板+10mm不锈钢板+55mm防火防切割层+24mm厚防钻防切割高锰合金钢板（锁具安装重点防护位置）+3mm不锈钢板+96mm机构安装层+1.2mm不锈钢后罩总厚度270mm。配备不锈钢日闸门
weight: 可按实际需求订制

---
