---
layout: product_article
permalink: /ic-cwg.html

type: 寄存柜
title: IC卡储物柜
keywords: 保险柜十大品牌
description: 家用保险柜寄存柜系列IC卡储物柜采用射频技术与IC卡的读卡器进行通讯，存储安全性高，其IC卡具有防磁、防静电、耐用性强、防伪性好。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
