---
layout: product_article
permalink: /rh-1612kc.html

type: 前厅投币柜
name: RH-1612K/C
title: RH-1612K/C
keywords: 保险箱
description: 家用保险箱前厅投币柜系列RH-1612K/C保险柜可选择电子密码锁具或机械密码锁具，适用于酒店、超市、加油站等收银专用。

specs: (高)406&times;(宽)318&times;(深)358mm
thickness: 门12mm，箱体3mm
weight: 34公斤

---
