---
layout: product_article
permalink: /cki-253525.html

type: 逸动
name: CKI-253525
title: CKI-253525
keywords: 家用保险柜
description: 家用保险箱逸动系列CKI-253525双层保管箱，采用优质粉末喷涂，防盗能力强，可固定安装于衣柜、壁柜内，有效防止搬动，内部空间宽敞。

specs: (高)250(宽)350(深)250mm
thickness: 门1.5mm，箱体3mm
weight: 8公斤

---
