---
layout: product_article
permalink: /fg-11860br.html

type: 钢将军
name: FG-11860B/R
title: FG-11860B/R
keywords: 保险柜
description: 保险箱刚将军系列FG-11860B/R高1180mm，宽600mm，深500mm，净重181公斤，精准激光切割技术，工艺与技术的完美结合。

specs: (高)1180&times;(宽)600&times;(深)500mm
thickness: 门10mm，箱体6mm
weight: 181公斤

images:
- fg-11860-01.jpg
- fg-11860-02.jpg
- fg-11860-03.jpg

features: |
  <img alt="保险柜十大品牌FG-11860B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FG-11860B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
