---
layout: product_article
permalink: /dg-9150d.html

type: 前厅投币柜
name: DG-9150D
title: DG-9150D
keywords: 家用保险箱
description: 保险柜十大品牌前厅投币柜系列DG-9150D保险柜特别设计防钓齿槽迷宫式投入口，锌系磷化防锈、优质粉末喷涂表面处理、颜色多样。

specs: (高)910&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体4-6mm
weight: 120公斤

---
