---
layout: product_article
permalink: /sjb-40br.html

type: 铁管家
name: SJB-40ⅢB/R
title: SJB-40ⅢB/R
keywords: 保险箱
description: 全能家用保险箱系列铁管家SJB-40ⅢB/R保险柜高200mm，宽360mm，深300mm，净重20公斤，为您打造极致全能安全生活空间。

specs: (高)200(宽)360(深)300mm
thickness: 门8mm，箱体4mm
weight: 20公斤

images:
- sjb-40br-01.jpg
- sjb-40br-02.jpg
- sjb-40br-03.jpg

features: |
  <img alt="保险柜sjb-40br功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜sjb-40br产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

manual: |
  <img alt="保险柜sjb-40br说明书01" border="0" height="779" src="%PRODIMGS%/sjb-sm01.jpg" width="528" />
  <img alt="家用保险箱sjb-40br说明书02" border="0" height="779" src="%PRODIMGS%/sjb-sm02.jpg" width="528" />
  <img alt="家用保险箱sjb-40br说明书03" border="0" height="779" src="%PRODIMGS%/sjb-sm03.jpg" width="528" />
  <img alt="保险柜sjb-40br说明书04" border="0" height="779" src="%PRODIMGS%/sjb-sm04.jpg" width="528" />
  <img alt="保险柜sjb-40br说明书05" border="0" height="779" src="%PRODIMGS%/sjb-sm05.jpg" width="528" />
  <img alt="保险箱sjb-40br说明书06" border="0" height="779" src="%PRODIMGS%/sjb-sm06.jpg" width="528" />
  <img alt="保险柜sjb-40br说明书07" border="0" height="779" src="%PRODIMGS%/sjb-sm07.jpg" width="528" />
  <img alt="家用保险柜sjb-40br说明书08" border="0" height="779" src="%PRODIMGS%/sjb-sm08.jpg" width="528" />
  <img alt="保险柜十大品牌sjb-40br说明书09" border="0" height="779" src="%PRODIMGS%/sjb-sm09.jpg" width="528" />
  <img alt="保险柜sjb-40br说明书10" border="0" height="779" src="%PRODIMGS%/sjb-sm10.jpg" width="528" />
  <img alt="家用保险柜sjb-40br说明书11" border="0" height="779" src="%PRODIMGS%/sjb-sm11.jpg" width="528" />
  <img alt="保险箱sjb-40br说明书12" border="0" height="779" src="%PRODIMGS%/sjb-sm12.jpg" width="528" />

---
