---
layout: product_article
permalink: /sk-2045.html

type: 珍藏
name: SK-2045
title: SK-2045
keywords: 保险柜十大品牌
description: 全能家用保险柜珍藏系列SK-2045保险柜高200mm，宽450mm，深400mm，净重13公斤，可根据不同情况选配各种锁具。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 13公斤

---
