---
layout: product_article
permalink: /znqdg.html

type: 智能枪弹柜
name: 智能枪弹柜
title: 智能枪弹柜
keywords: 家用保险柜
description: 家用保险柜系列智能枪弹柜采用指纹采集与验证系统，实施枪支监控子系统，能近距离读取枪支信息，检测枪支的真伪，并将相应信息存储在手持机中。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

images:
- znqdg-01.jpg
- znqdg-02.jpg
- znqdg-03.jpg

features: |
  <img alt="保险柜智能枪弹柜功能特征01" border="0" height="902" src="%PRODIMGS%/znqdg-gn-01.jpg" width="538" />
  <img alt="保险柜十大品牌智能枪弹柜功能特征02" border="0" height="687" src="%PRODIMGS%/znqdg-gn-02.jpg" width="538" />
  <img alt="家用保险柜智能枪弹柜功能特征03" border="0" height="713" src="%PRODIMGS%/znqdg-gn-03.jpg" width="538" />

spec_details: |
  规格：按实际需求订制
  厚度：按实际需求订制
  净重：按实际需求订制

---
