---
layout: product_article
permalink: /tgg-3342br.html

type: 铁金钢
name: TGG-3342B/R
title: TGG-3342B/R
keywords: 家用保险箱
description: 保险柜十大品牌系列铁金刚TGG-3342B/R保险柜双重型锁控系统，结合智能锁控系统与高精密度机械锁于一体，杜绝撞码可能，净重42公斤。

specs: (高)350(宽)420(深)320mm
thickness: 门10mm，箱体4mm
weight: 42公斤

images:
- tgg-3342br-01.jpg
- tgg-3342br-02.jpg
- tgg-3342br-03.jpg

features: |
  <img alt="家用保险箱tgg-3342br功能特征" border="0" height="1142" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱tgg-3342br产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
