---
layout: product_article
permalink: /fg-9150br.html

type: 钢将军
name: FG-9150B/R
title: FG-9150B/R
keywords: 保险柜
description: 保险柜十大品牌刚将军系列FG-9150B/R高910mm，宽500mm，深450mm，净重116公斤，全面优质喷涂表面处理技术，简洁美观。

specs: (高)910&times;(宽)500&times;(深)450mm
thickness: 门10mm，箱体6mm
weight: 116公斤

images:
- fg-9150-01.jpg
- fg-9150-02.jpg
- fg-9150-03.jpg

features: |
  <img alt="保险柜十大品牌FG-9150B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FG-9150B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
