---
layout: product_article
permalink: /b-5440.html

type: 全能金库
name: B-5440
title: B-5440
keywords: 家用保险柜
description: 家用保险柜系列全能金库B-5440保险柜数控激光切割，突破传统剪切板焊接工艺，门板和箱体之间间隙精确到1mm，工艺与技术的完美结合。

specs: (高)540(宽)400(深)380mm
thickness: 门10mm，箱体8mm
weight: 100公斤

---
