---
layout: product_article
permalink: /mk-2043zh.html

type: HOTSAFE客房柜
name: MK-2043ZH
title: MK-2043ZH
keywords: 保险柜
description: 全能保险柜HOTSAFE客房柜系列MK-2043ZH全钢结构，多门栓设计，具备普通和特殊砖割工具破坏，坚固防撬，创造极致全能安全生活空间。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 15公斤

---
