---
layout: product_article
permalink: /gtx-11860.html

type: 钢铁侠
name: GTX-11860
title: GTX-11860
keywords: 保险柜
description: 家用保险柜钢铁侠系列GTX-11860创新一体化不锈钢电子面板、带时间日期的多工多功能液晶显示屏，结合智能锁控系统与高精密度机械锁于一体。

specs: (高)1165(宽)600(深)500mm
thickness: 门10mm，箱体6mm
weight: 210公斤

images:
- gtx-ty.jpg
- gtx-01.jpg
- gtx-02.jpg

features: |
  <img alt="保险柜十大品牌GTX-11860功能特征" border="0" height="1142" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜GTX-11860产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

---
