---
layout: product_article
permalink: /fpc-11460sc.html

type: 铁观音防火
name: FPC-11460SC
title: FPC-11460SC
keywords: 家用保险柜
description: 规格：(高)1143(宽)612(深)575mm 厚度：门1.2mm，箱体0.8mm 净重：260公斤。本系列产品使用说明书更新中，有如需要请致电400-8

specs: (高)1143&times;(宽)612&times;(深)575mm
thickness: 门1.2mm，箱体0.8mm
weight: 260公斤

images:
- fpc-11460-01.jpg
- fpc-11460-01.jpg
- fpc-11460-01.jpg

features: |
  <img alt="保险柜FPC-11460SC功能特性" border="0" height="1142" src="%PRODIMGS%/fpc-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱FPC-11460SC产品参数" border="0" height="336" src="%PRODIMGS%/fpc-cpcs.jpg" width="538" />

---
