---
layout: product_article
permalink: /bp-6747.html

type: 油站投币柜
name: BP-6747
title: BP-6747
keywords: 保险箱
description: 家用保险柜油站投币柜系列BP-6747保险柜高674mm，宽474mm，深420mm，净重125公斤，其BP系列为中油碧辟指定用柜。

specs: (高)674&times;(宽)474&times;(深)420mm
thickness: 门10mm，箱体8mm
weight: 125公斤

images:
- bp-6747-01.jpg
- bp-6747-01.jpg

features: |
  <p style="line-height: 300%">
  <b>1、全钢结构，多门栓设计，坚固防撬，箱体厚度8MM，门厚度10-12MM</b>
  <p style="line-height: 300%">
  <b>2、特别设计防钓齿槽投入口</b>
  <p style="line-height: 300%">
  <b>3、锌系磷化防锈、优质粉末喷涂表面处理、颜色多样</b>
  <p style="line-height: 300%">
  <b>4、BP系列为中油碧辟指定用柜</b>
  <b>5、投背口可选择用背投或正投</b>

spec_details: |
  规格：(高)674&times;(宽)474&times;(深)420mm
  厚度：门10mm，箱体8mm
  净重：125公斤

---
