---
layout: product_article
permalink: /mi-2045uzh.html

type: QNNSAFE客房柜
name: MI-2045UZH
title: MI-2045UZH
keywords: 家用保险箱
description: 全能保险箱QNNSAFE客房柜系列MI-2045UZH高200mm，宽450mm，深400mm，可选择配搭管理/应急钥匙，红外线遥控器。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 15公斤

images:
- MI2045-01.jpg
- MI2045-01.jpg
- MI2045-01.jpg

features: |
  <img alt="家用保险柜MI-2045UZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200mm;(宽)450mm;(深)400mm
  厚度：门5mm，箱体2mm
  净重：15公斤

---
