---
layout: product_article
permalink: /sjb-53br.html

type: 铁管家
name: SJB-53ⅢB/R
title: SJB-53ⅢB/R
keywords: 保险箱
description: 家用保险箱系列铁管家SJB-53ⅢB/R保险柜高450mm，宽340mm，深320mm，结合智能锁控系统与高精密度机械锁于一体。

specs: (高)450(宽)340(深)320mm
thickness: 门10mm，箱体6mm
weight: 42公斤

images:
- sjb-53br-01.jpg
- sjb-53br-02.jpg
- sjb-53br-03.jpg

features: |
  <img alt="保险箱SJB-53ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜SJB-53ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
