---
layout: product_article
permalink: /h-12.html

type: 前厅保管箱
title: H-12
keywords: 保险箱
description: 保险柜时代品牌前厅保管箱系列H-12保险柜高290mm，宽400mm，深270mm，采用全钢材质，结构牢固，开启灵活，安全保密。

specs: (高)290&times;(宽)400&times;(深)270mm
thickness: 门10mm，箱体6mm
weight: 30公斤

---
