---
layout: product_article
permalink: /cm-2045zh.html

type: QNNSAFE客房柜
name: CM-2045ZH
title: CM-2045ZH
keywords: 家用保险柜
description: 全能保险箱QNNSAFE客房柜系列CM-2045ZH可选配安装自检开关门系统，在酒店前台即可通过联网电脑查询酒店柜是否有开柜，关柜。

specs: (高)200&times;(宽)450&times;(深)200mm
thickness: 门4mm，箱体2mm
weight: 19公斤

images:
- cm2045-01.jpg
- cm2045-02.jpg

features: |
  <img alt="保险柜十大品牌CM-2045ZH产品参数" border="0" height="1142" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200mm;(宽)450mm;(深)200mm
  厚度：门4mm，箱体2mm
  净重：19公斤

---
