---
layout: product_article
permalink: /c-qdg.html

type: 智能枪弹柜
name: C型枪弹柜系列
title: C型枪弹柜系列
keywords: 保险箱
description: 保险箱C型枪弹柜系列通过多重身份验证进入枪弹库进行枪弹的领用，安全可靠，实行枪弹分离，符合国家有关枪弹管理的法定要求，适用于法庭、检察院。

specs: 按实际需求订制
thickness: 按实际需求订制
weight: 按实际需求订制

images:
- c-qdg-01.jpg
- c-qdg-02.jpg
- c-qdg-03.jpg
- c-qdg-04.jpg

features: |
  <img alt="家用保险箱C型枪弹柜系列功能特征" border="0" height="662" src="%PRODIMGS%/c-qdg-gn.jpg" width="538" />

spec_details: |
  规格：按实际需求订制
  厚度：按实际需求订制
  净重：按实际需求订制

---
