---
layout: product_article
permalink: /tgg-2045br.html

type: 铁金钢
name: TGG-2045B/R
title: TGG-2045B/R
keywords: 保险柜
description: 全能保险箱家用系列铁金刚TGG-2045B/R保险柜采用德国顶尖工艺激光切割技术，工艺与技术的完美结合，杜绝暴力撬柜，净重33公斤。

specs: (高)200(宽)450(深)400mm
thickness: 门10mm，箱体4mm
weight: 33公斤

images:
- tgg-2045br-01.jpg
- tgg-2045br-02.jpg
- tgg-2045br-03.jpg

features: |
  <img alt="保险箱tgg-2045br功能特征" border="0" height="1142" src="%PRODIMGS%/tgg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜tgg-2045br产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
