---
layout: product_article
permalink: /kl-4045.html

type: 可拉珍藏
name: 全能保险柜可拉珍藏KL-4045
title: 全能保险柜可拉珍藏KL-4045
keywords: 家用保险柜
description: 全能保险箱家用系列可拉珍藏KL-4045保险柜以传统民俗风情艺术元素为基本，完美融合时尚现代家居设计理念，由里及外焕发超然气质。

specs: (高)400(宽)450(深)380mm
thickness: 门10mm，箱体4mm
weight: 53公斤

images:
- kl-01.jpg
- kl-02.jpg
- kl-03.jpg

features: |
  <img alt="家用保险箱kl-4045功能特征" border="0" height="1142" src="%PRODIMGS%/kl-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱kl-4045产品参数" border="0" height="65" src="%PRODIMGS%/kl-cpcs.jpg" width="538" />

---
