---
layout: product_article
permalink: /bgx-d-63jl.html

type: 蓝精灵
name: BGX-D-63JL
title: BGX-D-63JL
keywords: 家用保险箱
description: 家用保险柜系列蓝精灵BGX-D-63JL保险柜采用智能人机灵动系统，高630mm，宽440mm，深390mm，净重55公斤。

specs: (高)630&times;(宽)440&times;(深)390mm
thickness: 门1.2mm，箱体0.8mm
weight: 55公斤

images:
- bgx-d-63jl-01.jpg
- bgx-d-63jl-01.jpg
- bgx-d-63jl-01.jpg

features: |
  <img alt="家用保险柜BGX-D-63JL功能特征" border="0" height="1141" src="%PRODIMGS%/bgx-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜BGX-D-63JL产品参数" border="0" height="205" src="%PRODIMGS%/bgx-cpcs.jpg" width="538" />

manual: |
  <img alt="家用保险柜BGX-D-63JL说明书01" border="0" height="799" src="%PRODIMGS%/bgx-sm01.jpg" width="528" />
  <img alt="保险箱BGX-D-63JL说明书02" border="0" height="533" src="%PRODIMGS%/bgx-sm02.jpg" width="363" />
  <img alt="保险箱BGX-D-63JL说明书03" border="0" height="533" src="%PRODIMGS%/bgx-sm03.jpg" width="363" />
  <img alt="家用保险箱BGX-D-63JL说明书04" border="0" height="533" src="%PRODIMGS%/bgx-sm04.jpg" width="363" />
  <img alt="保险柜BGX-D-63JL说明书05" border="0" height="533" src="%PRODIMGS%/bgx-sm05.jpg" width="363" />
  <img alt="保险柜BGX-D-63JL说明书06" border="0" height="533" src="%PRODIMGS%/bgx-sm06.jpg" width="363" />
  <img alt="保险柜BGX-D-63JL说明书07" border="0" height="533" src="%PRODIMGS%/bgx-sm07.jpg" width="363" />
  <img alt="保险箱BGX-D-63JL说明书08" border="0" height="533" src="%PRODIMGS%/bgx-sm08.jpg" width="363" />
  <img alt="保险柜BGX-D-63JL说明书09" border="0" height="533" src="%PRODIMGS%/bgx-sm09.jpg" width="363" />
  <img alt="保险柜十大品牌BGX-D-63JL说明书10" border="0" height="533" src="%PRODIMGS%/bgx-sm10.jpg" width="363" />
  <img alt="保险柜BGX-D-63JL说明书11" border="0" height="799" src="%PRODIMGS%/bgx-sm11.jpg" width="528" />

---
