---
layout: product_article
permalink: /s-qdzhg.html

type: 智能枪弹柜
title: S型枪弹综合柜
keywords: 保险柜十大品牌
description: 保险柜十大品牌智能枪弹柜系列S型枪弹综合柜全钢结构，指纹加电子密码锁的完美结合，适用于公安、武警、军队及国家安全部门，规格可按需订制。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
