---
layout: product_article
permalink: /sjb-3236br.html

type: 铁管家
name: SJB-3236B/R
title: SJB-3236B/R
keywords: 保险柜
description: 家用保险柜系列铁管家SJB-3236B/R保险柜高320mm，宽360mm，深200mm，净重27公斤，全钢结构，坚固防撬。

specs: (高)320(宽)360(深)200mm
thickness: 门10mm，箱体4mm
weight: 27公斤

images:
- sjb-3236br-01.jpg
- sjb-3236br-02.jpg
- sjb-3236br-03.jpg

features: |
  <img alt="保险柜十大品牌sjb-3236br功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜sjb-3236br产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

manual: |
  <img alt="保险柜sjb-3236br说明书01" border="0" height="779" src="%PRODIMGS%/sjb-sm01.jpg" width="528" />
  <img alt="保险箱sjb-3236br说明书02" border="0" height="779" src="%PRODIMGS%/sjb-sm02.jpg" width="528" />
  <img alt="保险柜十大品牌sjb-3236br说明书03" border="0" height="779" src="%PRODIMGS%/sjb-sm03.jpg" width="528" />
  <img alt="保险柜十大品牌sjb-3236br说明书04" border="0" height="779" src="%PRODIMGS%/sjb-sm04.jpg" width="528" />
  <img alt="家用保险柜sjb-3236br说明书05" border="0" height="779" src="%PRODIMGS%/sjb-sm05.jpg" width="528" />
  <img alt="保险柜十大品牌sjb-3236br说明书06" border="0" height="779" src="%PRODIMGS%/sjb-sm06.jpg" width="528" />
  <img alt="保险箱sjb-3236br说明书07" border="0" height="779" src="%PRODIMGS%/sjb-sm07.jpg" width="528" />
  <img alt="保险箱sjb-3236br说明书08" border="0" height="779" src="%PRODIMGS%/sjb-sm08.jpg" width="528" />
  <img alt="家用保险箱sjb-3236br说明书09" border="0" height="779" src="%PRODIMGS%/sjb-sm09.jpg" width="528" />
  <img alt="保险柜sjb-3236br说明书10" border="0" height="779" src="%PRODIMGS%/sjb-sm10.jpg" width="528" />
  <img alt="家用保险柜sjb-3236br说明书11" border="0" height="779" src="%PRODIMGS%/sjb-sm11.jpg" width="528" />
  <img alt="保险柜十大品牌sjb-3236br说明书12" border="0" height="779" src="%PRODIMGS%/sjb-sm12.jpg" width="528" />

---
