---
layout: product_article
permalink: /zwjcg.html

type: 寄存柜
name: 指纹寄存柜
title: 指纹寄存柜
keywords: 保险柜十大品牌
description: 家用保险箱寄存柜系列指纹寄存柜采用先进的指纹生物识别技术，是一款安全、可靠的高科技产品，具有红外探测系统，能够识别柜内物品状态。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
