---
layout: product_article
permalink: /ydjk.html

type: 移动金库
name: 移动金库
title: 移动金库
keywords: 保险柜
description: 保险柜十大品牌移动金库保险柜采用组合式移动金库，使用“全能”复合填充材料，其抗破坏性达国家标准，适用于金融系统、银行、珠宝行及企业。

specs: 外(高)2040X(宽)1740X(深)1950mm；内(高)1800X(宽)1500X(深)1500mm
thickness: 钢板2mm,内夹高碳钢板防钻,总厚度120mm其余空间填充安能防火材料，门板厚度:14mm
weight: 按实际需求订制

images:
- ydjk-01.jpg
- ydjk-02.jpg

features: |
  <p style="line-height: 300%">
  <b>1、组合式移动金库，使用&ldquo;全能&rdquo;复合填充材料，其抗破坏性达国家标准</b>
  <p style="line-height: 300%">
  <b>2、350℃一小时防火</b>
  <p style="line-height: 300%">
  <b>3、全面采用积木式墙板构成，可以随时拆除再异地按装，避免修建固定金库的多次投资</b>
  <p style="line-height: 300%">
  <b>4、规格可以按需求订制</b>
  <p style="line-height: 300%">
  <b>5、适用于金融系统、银行、珠宝行及企业</b>

spec_details: |
  规格：外(高)2040X(宽)1740X(深)1950mm；内(高)1800X(宽)1500X(深)1500mm
  厚度：钢板2mm,内夹高碳钢板防钻,总厚度120mm其余空间填充安能防火材料，门板厚度:14mm
  净重：按实际需求订制

---
