---
layout: product_article
permalink: /gtx-4542.html

type: 钢铁侠
name: GTX-4542
title: GTX-4542
keywords: 保险柜
description: 家用保险柜系列钢铁侠GTX-4542保险柜采用德国顶尖工艺激光切割技术，使门板与箱体间隙不超过1mm，工艺与技术的完美结合，更精准可靠。

specs: (高)450(宽)420(深)360mm
thickness: 门10mm，箱体4mm
weight: 50公斤

images:
- gtx-4542-01.jpg
- gtx-01.jpg
- gtx-02.jpg

features: |
  <img alt="保险箱GTX-4542功能特征" border="0" height="1142" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜GTX-4542产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

---
