---
layout: product_article
permalink: /rf-cqg.html

type: 寄存柜
name: RF（射频卡）寄存柜
title: RF（射频卡）寄存柜
keywords: 保险柜十大品牌
description: 保险柜十大品牌寄存柜系列RF（射频卡）寄存柜为顾客提供随身物品寄存服务，为企业产生了一定的经济效益和社会效益，广泛应用于游泳馆、水上乐园等。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- rf-cqg-01.jpg
- rf-cqg-02.jpg
- rf-cqg-03.jpg

features: |
  <img alt="家用保险柜RF（射频卡）寄存柜功能特征" border="0" height="521" src="%PRODIMGS%/rf-cqg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜RF（射频卡）寄存柜产品参数" border="0" height="242" src="%PRODIMGS%/rf-cqg-cpcs.jpg" width="538" />

---
