---
layout: product_article
permalink: /fg-5840br.html

type: 钢将军
name: FG-5840B/R
title: FG-5840B/R
keywords: 保险箱
description: 家用保险箱刚将军系列FG-5840B/R高580mm，宽400mm，深360mm，净重61公斤，采用德国顶尖工艺激光切割技术，精准可靠。

specs: (高)580&times;(宽)400&times;(深)360mm
thickness: 门10mm，箱体6mm
weight: 61公斤

images:
- fg-5840-01.jpg
- fg-5840-02.jpg
- fg-5840-03.jpg
- fg-5840-04.jpg

features: |
  <img alt="家用保险箱FG-5840B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜FG-5840B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
