---
layout: product_article
permalink: /hg-4538.html

type: 新皇冠
title: HG-4538
keywords: 保险柜十大品牌
description: 家用保险箱系列新皇冠HG-4538保险柜全面采用个性化圆形面板设计，液晶蓝色显示屏，可直接在面板上进行开门记录查询，连续错误自动报警。

specs: (高)470(宽)420(深)320mm
thickness: 门10mm，箱体4mm
weight: 53公斤

---
