---
layout: product_article
permalink: /fg-6002.html

type: 枪弹柜
title: FG-6002
keywords: 保险柜
description: 家用保险箱枪弹柜系列FG-6002保险柜选装震动、移动、连续三次输错密码自动报警（音量达100分贝），规格可按需求订制。

specs: (高)1500&times;(宽)600&times;(深)400mm
thickness: 门10mm，箱体4-6mm
weight: 285公斤

---
