---
layout: product_article
permalink: /fg-6024f.html

type: 枪弹柜
name: FG-6024F
title: FG-6024F
keywords: 保险箱
description: 家用保险箱枪弹柜系列FG-6024F高1524mm，宽610mm，深457mm，净重198公斤，全钢结构，箱体4-6MM，门厚4-10MM。

specs: (高)1524&times;(宽)610&times;(深)457mm
thickness: 门2mm，箱体2mm
weight: 198公斤

---
