---
layout: product_article
permalink: /b-5440.html

type: 全能金库
name: B-5440
title: 家用保险柜全能金库B-5440
keywords: 家用保险柜
description: 家用保险柜系列全能金库B-5440保险柜数控激光切割，突破传统剪切板焊接工艺，门板和箱体之间间隙精确到1mm，工艺与技术的完美结合。

specs: (高)540(宽)400(深)380mm
thickness: 门10mm，箱体8mm
weight: 100公斤

images:
- b-5440-01.jpg
- b-02.jpg
- b-03.jpg

features: |
  <img alt="家用保险箱B-5440功能特性" border="0" height="1142" src="%PRODIMGS%/b-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱B-5440产品参数" border="0" height="128" src="%PRODIMGS%/b-cpcs.jpg" width="538" />

---
#product_details
  .cc
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_01.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_01.jpg" }
    .hover.hidden
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_02.png" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_03.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_02.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_04.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_03.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_05.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_04.jpg" }
  .cc-r2l.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_06.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_05.jpg" }
  .cc-l2r.top_divider
    .title
      %img{ src: "http://images.qnnsafe.com/v1/b5540_text_07.png" }
    .image
      %img{ src: "http://images.qnnsafe.com/v1/b5540_06.jpg" }
#specs.hidden
  specs
#maunal.hidden
  manual
