---
layout: product_article
permalink: /bmg-9055ab.html

type: 双开门
name: BMG-9055A/B
title: BMG-9055A/B
keywords: 保险柜
description: 家用保险柜双开门系列BMG-9055A/B高900mm，宽550mm，深430mm，净重32公斤，内外空间自由组合，适用于商务、保密系统。

specs: (高)900(宽)550(深)430mm
thickness: 门1.2mm，箱体0.8mm
weight: 32公斤

---
