---
layout: product_article
permalink: /tgg-5840br.html

type: 铁金钢
title: TGG-5840B/R
keywords: 保险柜
description: 保险柜十大品牌铁金刚系列TGG-5840B/R高580mm，宽400mm，深360mm，净重62公斤，采用智能化监控系统和双重型锁控系统。

specs: (高)580(宽)400(深)360mm
thickness: 门10mm，箱体6mm
weight: 62公斤

---
