---
layout: product_article
permalink: /fg-15870br.html

type: 钢将军
name: FG-15870B/R
title: FG-15870B/R
keywords: 家用保险柜
description: 全能保险柜刚将军系列FG-15870B/R高1580mm，宽700mm，深600mm，净重277公斤，外形简洁美观，能完美搭配各种环境。

specs: (高)1580&times;(宽)700&times;(深)600mm
thickness: 门10mm，箱体6mm
weight: 277公斤

images:
- fg-15870-01.jpg
- fg-15870-02.jpg
- fg-15870-03.jpg
- fg-15870-04.jpg

features: |
  <img alt="家用保险柜FG-15870B/R功能特征" border="0" height="1142" src="%PRODIMGS%/fg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱FG-15870B/R产品参数" border="0" height="336" src="%PRODIMGS%/fg-cpcs.jpg" width="538" />

---
