---
layout: product_article
permalink: /bmg-9055ab.html

type: 双开门
name: BMG-9055A/B
title: BMG-9055A/B
keywords: 保险柜
description: 家用保险柜双开门系列BMG-9055A/B高900mm，宽550mm，深430mm，净重32公斤，内外空间自由组合，适用于商务、保密系统。


images:
- bmg-9055ab.jpg

features: |
  <p style="line-height: 300%">
  <b>1、全钢结构、多门栓设计、坚固防撬，箱体厚度0.8mm，门厚度1.2mm</b>
  <p style="line-height: 300%">
  <b>2、1-10位组合用户自设密码</b>
  <p style="line-height: 300%">
  <b>3、震动、移动、连续三次错码自动报警（音量达100分贝）</b>
  <p style="line-height: 300%">
  <b>4、锌系磷化防锈、优质粉末喷涂表面处理、颜色多样</b>
  <p style="line-height: 300%">
  <b>5、内外空间自由组合</b>
  <p style="line-height: 300%">
  <b>6、管理码、应急钥匙配置</b>
  <p style="line-height: 300%">
  <b>7、可选装联网报警功能</b>
  <p style="line-height: 300%">
  <b>8、适用于商务、保密系统</b>

spec_details: |
  规格：(高)900(宽)550(深)430mm
  厚度：门1.2mm，箱体0.8mm
  净重：32公斤

---
