---
layout: product_article
permalink: /dg-7645s.html

type: 前厅投币柜
title: DG-7645S
keywords: 保险箱
description: 家用保险箱前厅投币柜系列DG-7645S保险柜净重86公斤，，箱体厚度4-6mm，门厚度10mm，全钢结构，多门栓设计，坚固防撬。

specs: (高)765&times;(宽)450&times;(深)400mm
thickness: 门10mm，箱体4-6mm
weight: 86公斤

---
