---
layout: product_article
permalink: /ws-108.html

type: 嵌墙
title: WS-108
keywords: 保险箱
description: 家用保险柜嵌墙系列WS-108保险柜嵌墙而立，产品选装码盘锁、电子锁、钥匙锁等配置，结合防撬门板与内门铰设计，安全耐用。

specs: (高)203&times;(宽)254&times;(深)254mm
thickness: 门8mm，箱体2mm
weight: 8公斤

---
