---
layout: product_article
permalink: /sjb-1630br.html

type: 铁管家
name: SJB-1630B/R
title: SJB-1630B/R
keywords: 家用保险柜
description: 家用保险箱系列铁管家SJB-1630B/R保险柜简洁美观，能完美搭配各种环境，智能化监控系统和双重型锁控系统，多重防护。

specs: (高)168(宽)300(深)230mm
thickness: 门5mm，箱体2mm
weight: 7公斤

images:
- sjb-1630br-01.jpg
- sjb-02.jpg

features: |
  <img alt="家用保险箱SJB-1630B/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险柜SJB-1630B/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
