---
layout: product_article
permalink: /dm-2146.html

type: 逸动
name: DM-2146
title: DM-2146
keywords: 保险箱
description: 家用保险箱逸动系列DM-2146保险柜具备普通和特殊钻割工具破坏，全钢结构，坚固防撬，可根据不同情况选配各种锁具，配置随心所欲。

specs: (高)217&times;(宽)463&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 17公斤

images:
- dm2146-01.jpg
- dm2146-02.jpg

features: |
  <img alt="保险柜十大品牌DM-2146产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)217&times;(宽)463&times;(深)400mm
  厚度：门5mm，箱体2mm
  净重：17公斤

---
