---
layout: product_article
permalink: /cm-2045.html

type: 珍藏
name: CM-2045
title: CM-2045
keywords: 家用保险箱
description: 保险柜十大品牌珍藏系列CM-2045保险柜高200mm，宽450mm，深200mm，净重19公斤，采用全自动电子锁控系统，杜绝撞码可能。

specs: (高)200&times;(宽)450&times;(深)200mm
thickness: 门4mm，箱体2mm
weight: 19公斤

---
