---
layout: product_article
permalink: /hg-3342.html

type: 新皇冠
name: HG-3342
title: HG-3342
keywords: 保险柜
description: 保险柜十大品牌系列新皇冠HG-3342保险柜多重防护，安全至尊，精准激光切割，智能化监控系统，双重型锁控系统，为你创造优质家居安全生活空间。

specs: (高)350(宽)440(深)320mm
thickness: 门10mm，箱体4mm
weight: 42公斤

images:
- hg-3342-01.jpg
- hg-3342-01.jpg

features: |
  <img alt="家用保险柜HG-3342功能特征" border="0" height="1142" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱HG-3342产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
