---
layout: product_article
permalink: /ct-4018zh.html

type: QNNSAFE客房柜
title: CT-4018ZH
keywords: 保险柜十大品牌
description: 全能保险柜家用保险柜QNNSAFE客房柜系列CT-4018ZH 连续输错三次密码将报警并自锁按键，适用于酒店，家庭，个人。

specs: (高)400&times;(宽)350&times;(深)180mm
thickness: 门1.5mm，箱体3mm
weight: 9公斤

---
