---
layout: product_article
permalink: /znzwtbjcq.html

type: 寄存柜
name: 智能指纹投币寄存柜
title: 智能指纹投币寄存柜
keywords: 保险箱
description: 家用保险柜寄存柜系列智能指纹投币寄存柜有着LCD实时时间显示，操作状态显示及语音操作向导，使产品更具人性化，一个主控柜可帮多个拓展柜。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

---
