---
layout: product_article
permalink: /fpc-3040sc.html

type: 铁观音防火
name: FPC-3040SC
title: FPC-3040SC
keywords: 保险柜
description: 规格：(高)304(宽)400(深)330mm 厚度：门1.2mm，箱体0.8mm 净重：28公斤 /image-pro/fpc-3040-01.jpg /image-pro/fpc-3040-01.jpg 本系列产品使用说明书更新中，有如需要请致电400-830-4555或0757-22308180咨询，谢

specs: (高)304&times;(宽)400&times;(深)330mm
thickness: 门1.2mm，箱体0.8mm
weight: 28公斤

---
