---
layout: product_article
permalink: /s-qdg.html

type: 智能枪弹柜
name: S型智能带枪锁枪弹柜
title: S型智能带枪锁枪弹柜
keywords: 保险柜
description: 家用保险箱智能枪弹柜系列S型智能带枪锁枪弹柜可通过短信审批，方便快捷，全程实现电子化指纹验证，科学安全，可设置单人或双人取枪，以管理需求订制。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- s-qdg-01.jpg
- s-qdg-02.jpg
- s-qdg-03.jpg
- s-qdg-04.jpg

features: |
  <img alt="家用保险箱S型智能带枪锁枪弹柜功能特征01" border="0" height="158" src="%PRODIMGS%/s-qdg-gn01.jpg" width="538" />

  <img alt="家用保险柜S型智能带枪锁枪弹柜功能特征02" border="0" height="154" src="%PRODIMGS%/s-qdg-gn02.jpg" width="538" />

spec_details: |
  <img alt="保险箱S型智能带枪锁枪弹柜产品参数" border="0" height="241" src="%PRODIMGS%/s-qdg-cpcs.jpg" width="538" />

---
