---
layout: product_article
permalink: /mh-2043zh.html

type: QNNSAFE客房柜
name: MH-2043ZH
title: MH-2043ZH
keywords: 保险柜
description: 全能保险柜家用保险柜QNNSAFE客房柜系列MH-2043ZH净重14公斤，自检开关门系统（酒店适用），全自动电子锁控系统。

specs: (高)195&times;(宽)430&times;(深)370mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- mh-2043zh-01.jpg
- mh-2043zh-02.jpg

features: |
  <img alt="家用保险柜MH-2043ZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)195&times;(宽)430&times;(深)370mm
  厚度：门5mm，箱体2mm
  净重：14公斤

---
