---
layout: product_article
permalink: /hg-6842.html

type: 新皇冠
name: HG-6842
title: HG-6842
keywords: 家用保险箱
description: 家用保险柜新皇冠系列HG-6842高680mm，宽440mm，深400mm，净重78公斤，柜体震动侦测预警和电量自检功能，全程智能管控无忧。


images:
- hg-6842.jpg

features: |
  <img alt="保险柜十大品牌HG-6842功能特征" border="0" height="1130" src="%PRODIMGS%/hg-gn.jpg" width="538" />

spec_details: |
  <img alt="保险箱HG-6842产品参数" border="0" height="305" src="%PRODIMGS%/hg-cpcs.jpg" width="538" />

---
