---
layout: product_article
permalink: /sjb-88dbr.html

type: 铁管家
name: SJB-88ⅢDB/R
title: SJB-88ⅢDB/R
keywords: 保险柜
description: 家用保险箱铁管家系列SJB-88IIIDB/R高765mm，宽450mm，深400mm，净重92公斤，采用智能化监控系统，全程智能管控无忧。

specs: (高)765(宽)450(深)400mm
thickness: 门10mm，箱体6mm
weight: 92公斤

images:
- sjb-88d-01.jpg
- sjb-88d-02.jpg
- sjb-88d-03.jpg

features: |
  <img alt="保险柜十大品牌SJB-88ⅢDB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜SJB-88ⅢDB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

---
