---
layout: product_article
permalink: /tgg-6442br.html

type: 铁金钢
name: TGG-6642B/R
title: TGG-6642B/R
keywords: 家用保险箱
description: 保险柜铁金刚系列TGG-6642B/R高640mm，宽420mm，深400mm，净重72公斤，优质喷涂表面处理技术，防锈耐刮花，刚柔并济。

specs: (高)640(宽)420(深)400mm
thickness: 门10mm，箱体6mm
weight: 72公斤

images:
- tgg6442-01.jpg
- tgg6442-02.jpg
- tgg6442-03.jpg

features: |
  <im alt="家用保险柜TGG-6642B/R功能特征" border="0" height="1130" src="%PRODIMGS%/tgg-gn.jpg" width="538"></im>

spec_details: |
  <img alt="保险柜TGG-6642B/R产品参数" border="0" height="303" src="%PRODIMGS%/tgg-cpcs.jpg" width="538" />

---
