---
layout: product_article
permalink: /rh-2014cke.html

type: 前厅投币柜
name: RH-2014C/K/E
title: RH-2014C/K/E
keywords: 家用保险柜
description: 全能保险柜前厅投币柜系列RH-2014C/K/E净重44公斤，特别设计防钓齿槽迷宫式投入口，锌系磷化防锈、优质粉末喷涂表面处理、颜色多样。

specs: (高)580&times;(宽355&times;(深)355mm
thickness: 门12mm，箱体3mm
weight: 44公斤

---
