---
layout: product_article
permalink: /za-18090.html

type: 维纳斯
name: ZA-18090
title: ZA-18090
keywords: 家用保险柜
description: 家用保险柜维纳斯系列ZA-18090作为全新设计新一代文件保险柜，集防火防盗于一身，耐高温，配合密码、指纹双重锁具防护，内外空间自由组合。

specs: (高)1530&times;(宽)450&times;(深)420mm
thickness: 门8mm，箱体4-6mm
weight: 150公斤

images:
- za-18090-01.jpg
- za-18090-01.jpg

features: |
  <p style="line-height: 300%">
  <b>1、全新设计新一代文件保险柜</b>
  <p style="line-height: 300%">
  <b>2、集防火防盗于一身，耐高温</b>
  <p style="line-height: 300%">
  <b>3、全钢结构、多门栓设计、坚固防撬</b>
  <p style="line-height: 300%">
  <b>4、配备密码、指纹双重锁具防护</b>
  <p style="line-height: 300%">
  <b>5、震动、移动、连续三次错码自动报警（音量达100分贝）</b>
  <p style="line-height: 300%">
  <b>6、锌系磷化防锈、优质粉末喷涂表面处理、颜色多样</b>
  <p style="line-height: 300%">
  <b>7、内外空间自由组合</b>

spec_details: |
  规格：(高)1530&times;(宽)450&times;(深)420mm
  厚度：门8mm，箱体4-6mm
  净重：150公斤

---
