---
layout: product_article
permalink: /mb-2045zh.html

type: HOTSAFE客房柜
name: MB-2045UZH
title: MB-2045UZH
keywords: 保险箱
description: 全能保险柜十大品牌HOTSAFE客房柜系列MB-2045UZH净重14公斤，自检开关门系统（酒店适用），以提示客人及时领取保管财务。

specs: (高)200&times;(宽)450&times;(深)400mm
thickness: 门5mm，箱体2mm
weight: 14公斤

images:
- mb-2045uzh-01.jpg
- mb-2045uzh-02.jpg

features: |
  <img alt="保险柜MB-2045UZH产品参数" border="0" height="1130" src="%PRODIMGS%/twcps1.jpg" width="538" />

spec_details: |
  规格：(高)200&times;(宽)450&times;(深)400mm
  厚度：门5mm，箱体2mm
  净重：14公斤

---
