---
layout: product_article
permalink: /d-ltdyg.html

type: 智能枪弹柜
name: D型零头弹药柜
title: D型零头弹药柜
keywords: 家用保险柜
description: 保险柜十大品牌智能枪弹柜系列D型零头弹药柜的智能弹药A、B柜，能自动盘点弹药，远程审批多级管理，智能管理弹药数量，内置弹药数据统计仪。

specs: 详见下面产品参数栏
thickness: 详见下面产品参数栏
weight: 详见下面产品参数栏

images:
- d-ltdyg-01.jpg
- d-ltdyg-02.jpg

features: |
  <img alt="家用保险柜D型零头弹药柜功能特征" border="0" height="324" src="%PRODIMGS%/d-ltdyg-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱D型零头弹药柜产品参数" border="0" height="187" src="%PRODIMGS%/d-ltdyg-cpcs.jpg" width="538" />

---
