---
layout: product_article
permalink: /if-1212sc.html

type: 地藏
name: IF-1212SC
title: IF-1212SC
keywords: 保险箱
description: 保险柜十大品牌地藏系列IF-1212SC保险柜高261mm，宽261mm，深318mm，净重20公斤，与地为伴，隐藏式灵活安全。

specs: (高)261(宽)261(深)318mm
thickness: 门12mm，箱体4mm
weight: 20公斤

images:
- if-1212sc-01.jpg
- if-1212sc-01.jpg

features: |
  <img alt="家用保险柜IF-1212SC功能特征" border="0" height="1142" src="%PRODIMGS%/dz-gn.jpg" width="538" />

spec_details: |
  <img alt="家用保险箱IF-1212SC产品参数" border="0" height="113" src="%PRODIMGS%/dz-cpcs.jpg" width="538" />

---
