---
layout: product_article
permalink: /fpc-4334sc.html

type: 铁观音防火
name: FPC-4334SC
title: FPC-4334SC
keywords: 家用保险箱
description: 规格：(高)436(宽)344(深)350mm 厚度：门1.2mm，箱体0.8mm 净重：46公斤 /image-pro/fpc-4334-01.jpg
  /image-pro/fpc-4334-01.jpg 本系列产品使用说明书更新中，有如需要请致电400-830-4555或0757-22308180咨询，谢

specs: (高)436&times;(宽)344&times;(深)350mm
thickness: 门1.2mm，箱体0.8mm
weight: 46公斤

images:
- fpc-4334-01.jpg
- fpc-4334-01.jpg

features: |
  <img alt="保险柜十大品牌FPC-4334SC功能特性" border="0" height="1142" src="%PRODIMGS%/fpc-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜FPC-4334SC产品参数" border="0" height="336" src="%PRODIMGS%/fpc-cpcs.jpg" width="538" />

---
