---
layout: product_article
permalink: /sjb-52br.html

type: 铁管家
name: SJB-52ⅢB/R
title: SJB-52ⅢB/R
keywords: 家用保险箱
description: 全能保险柜家用系列铁管家SJB-52ⅢB/R保险柜高350mm，宽420mm，深320mm，净重40公斤，工艺与技术的完美结合，更精准可靠。

specs: (高)350(宽)420(深)320mm
thickness: 门10mm，箱体4mm
weight: 40公斤

images:
- sjb-52br-01.jpg
- sjb-52br-02.jpg
- sjb-52br-03.jpg

features: |
  <img alt="家用保险柜SJB-52ⅢB/R功能特征" border="0" height="1142" src="%PRODIMGS%/sjb-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜SJB-52ⅢB/R产品参数" border="0" height="362" src="%PRODIMGS%/sjb-cpcs.jpg" width="538" />

manual: |
  <img alt="家用保险箱SJB-52ⅢB/R说明书01" border="0" height="779" src="%PRODIMGS%/sjb-sm01.jpg" width="528" />
  <img alt="保险柜SJB-52ⅢB/R说明书02" border="0" height="779" src="%PRODIMGS%/sjb-sm02.jpg" width="528" />
  <img alt="保险柜SJB-52ⅢB/R说明书03" border="0" height="779" src="%PRODIMGS%/sjb-sm03.jpg" width="528" />
  <img alt="保险柜十大品牌SJB-52ⅢB/R说明书04" border="0" height="779" src="%PRODIMGS%/sjb-sm04.jpg" width="528" />
  <img alt="保险柜十大品牌SJB-52ⅢB/R说明书05" border="0" height="779" src="%PRODIMGS%/sjb-sm05.jpg" width="528" />
  <img alt="家用保险柜SJB-52ⅢB/R说明书06" border="0" height="779" src="%PRODIMGS%/sjb-sm06.jpg" width="528" />
  <img alt="家用保险柜SJB-52ⅢB/R说明书07" border="0" height="779" src="%PRODIMGS%/sjb-sm07.jpg" width="528" />
  <img alt="家用保险箱SJB-52ⅢB/R说明书08" border="0" height="779" src="%PRODIMGS%/sjb-sm08.jpg" width="528" />
  <img alt="家用保险箱SJB-52ⅢB/R说明书09" border="0" height="779" src="%PRODIMGS%/sjb-sm09.jpg" width="528" />
  <img alt="家用保险箱SJB-52ⅢB/R说明书10" border="0" height="779" src="%PRODIMGS%/sjb-sm10.jpg" width="528" />
  <img alt="保险箱SJB-52ⅢB/R说明书11" border="0" height="779" src="%PRODIMGS%/sjb-sm11.jpg" width="528" />
  <img alt="家用保险柜SJB-52ⅢB/R说明书12" border="0" height="779" src="%PRODIMGS%/sjb-sm12.jpg" width="528" />

---
