---
layout: product_article
permalink: /gtx-11860.html

type: 钢铁侠
name: GTX-11860
title: GTX-11860
keywords: 保险柜
description: 家用保险柜钢铁侠系列GTX-11860创新一体化不锈钢电子面板、带时间日期的多工多功能液晶显示屏，结合智能锁控系统与高精密度机械锁于一体。

specs: (高)1165(宽)600(深)500mm
thickness: 门10mm，箱体6mm
weight: 210公斤

images:
- gtx-ty.jpg
- gtx-01.jpg
- gtx-02.jpg

features: |
  <img alt="保险柜十大品牌GTX-11860功能特征" border="0" height="1142" src="%PRODIMGS%/gtx-gn.jpg" width="538" />

spec_details: |
  <img alt="保险柜GTX-11860产品参数" border="0" height="249" src="%PRODIMGS%/gtx-cpcs.jpg" width="538" />

manual: |
  <img alt="家用保险柜GTX-11860说明书01" border="0" height="779" src="%PRODIMGS%/gtx-sm01.jpg" width="528" />
  <img alt="保险柜十大品牌GTX-11860说明书02" border="0" height="779" src="%PRODIMGS%/gtx-sm02.jpg" width="528" />
  <img alt="家用保险柜GTX-11860说明书03" border="0" height="779" src="%PRODIMGS%/gtx-sm03.jpg" width="528" />
  <img alt="保险柜GTX-11860说明书04" border="0" height="779" src="%PRODIMGS%/gtx-sm04.jpg" width="528" />
  <img alt="保险柜GTX-11860说明书05" border="0" height="779" src="%PRODIMGS%/gtx-sm05.jpg" width="528" />
  <img alt="保险箱GTX-11860说明书06" border="0" height="779" src="%PRODIMGS%/gtx-sm06.jpg" width="528" />
  <img alt="保险箱GTX-11860说明书07" border="0" height="779" src="%PRODIMGS%/gtx-sm07.jpg" width="528" />
  <img alt="保险箱GTX-11860说明书08" border="0" height="779" src="%PRODIMGS%/gtx-sm08.jpg" width="528" />
  <img alt="保险柜十大品牌GTX-11860说明书09" border="0" height="779" src="%PRODIMGS%/gtx-sm09.jpg" width="528" />
  <img alt="保险柜十大品牌GTX-11860说明书10" border="0" height="779" src="%PRODIMGS%/gtx-sm10.jpg" width="528" />
  <img alt="家用保险箱GTX-11860说明书11" border="0" height="779" src="%PRODIMGS%/gtx-sm11.jpg" width="528" />
  <img alt="家用保险箱GTX-11860说明书12" border="0" height="779" src="%PRODIMGS%/gtx-sm12.jpg" width="528" />
  <img alt="保险柜GTX-11860说明书13" border="0" height="779" src="%PRODIMGS%/gtx-sm13.jpg" width="528" />
  <img alt="保险箱GTX-11860说明书14" border="0" height="779" src="%PRODIMGS%/gtx-sm14.jpg" width="528" />
  <img alt="保险箱GTX-11860说明书15" border="0" height="779" src="%PRODIMGS%/gtx-sm15.jpg" width="528" />

---
