---
layout: product_article
permalink: /dm-15640.html

type: QNNSAFE客房柜
name: DM-15640
title: DM-15640
keywords: 保险柜
description: 全能保险箱QNNSAFE客房柜系列DM-15640半嵌入保密柜，置于家庭衣柜内，玻璃面板，外观时尚高档，进口马达驱动，自动弹出开启。

specs: 
thickness: 
weight: 

images:
- dm15640-01.jpg
- dm15640-01.jpg

features: |
  <img alt="保险柜DM-15640功能特征" border="0" height="548" src="%PRODIMGS%/dm15640-gn.jpg" width="530" />

spec_details: |
  <img alt="保险箱DM-15640产品参数" border="0" height="41" src="%PRODIMGS%/dm15640-cpcs.jpg" width="538" />

---
