---
layout: product_article
permalink: /us-1ck.html

type: 前厅投币柜
name: US-1C/K
title: US-1C/K
keywords: 保险柜十大品牌
description: 全能保险柜十大品牌前厅投币柜系列US-1C/K锌系磷化防锈、优质粉末喷涂表面处理、颜色多样，适用于酒店、超市、加油站等收银专用。

specs: (高)305&times;(宽)153&times;(深)205mm
thickness: 门12mm，箱体3mm
weight: 11公斤

---
