---
layout: default
body_style: page
permalink: /knowledge/
title: 产品知识
keywords: 家用保险柜
description: 保险柜的功能简单来说是防盗、防火，不因被盗或火灾招致损失，以下是保险柜，保险箱，家用保险柜，家用保险箱等系列的产品知识。
---
%article
  .block.h50px
  -# 请同时更改 _layouts/knowledge_category.haml
  .page_nav
    %ul
      %li.active
        %a{ href: "/news/" } 新闻中心
      %li
        %a{ href: "/news/enterprise-news/" } 企业动态
      %li
        %a{ href: "/news/media-reports/" } 媒体报道
      %li
        %a{ href: "/news/brand-activities/" } 品牌活动
      %li
        %a{ href: "/news/industry-news/" } 行业新闻
  #knowledgelist.center_content
    %ul
      {% for post in site.categories["knowledge"] %}
      %li<
        %em {{ post.date | date:'%Y-%m-%d' }}
        〔{{ post.type }}〕
        %a{ href: '{{ post.url }}' } {{ post.title }}
      {% endfor %}
  .block.h50px
