---
layout: default
body_style: page
permalink: /360-panoramas/
title: 企业360实景
---
.banner.banner-tao
  .banner-text.banner-text-tao
%article
  .page_nav
    %ul
      %li
        %a{ href: "/about/" } 全能介绍
      %li
        %a{ href: "/history/" } 公司历史
      %li.active
        %a{ href: "/tao/" } 全能之道
      %li
        %a{ href: "/honors/" } 全能荣誉
      %li
        %a{ href: "/about/360-panoramas/" } 企业360实景
  .pages.content.center_content
    #tao
      %h3 愿景：
      %p 成为国内保险柜行业第一品牌，赢利能力最强的企业；创国际品牌，成为全球保险柜市场的主要制造商之一。在适当时机，介入安防产品的其他领域，打造一个面向全球市场的综合安防产品制造服务商。
      %h3 使命：
      %p 让人们的工作和生活更加安全愉快。满足消费者的安全需要，满足员工改善生活的需要，满足股东投资价值最大化需要，为社会创造价值。
  .block.h50px
