---
layout: default
body_style: page
permalink: /about/
---
%article
  .block.h50px
  .page_nav
    %ul
      %li.active
        %a{ href: "#" } 全能介绍
      %li
        %a{ href: "#" } 公司历史
      %li
        %a{ href: "#" } 全能之道
      %li
        %a{ href: "#" } 全能荣誉
  .pages.content.center_content
    #intro
      %p 广东安能保险柜制造有限公司是以从事保险柜（箱）等安防产品为主的现代化企业，公司拥有占地面积33000平方米的现代化厂房，装备了数百台国际著名品牌的数控冲床、折弯机、激光切割机、以及弧焊机器人等设备，并配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列近300余款产品，年生产规模超过30万台。
      %p 公司控股工业集团创始于1935年，保险柜的制造历史可追溯到1939年，其间经历了中国现代工业的历史变迁，上世纪九十年代恢复了保险柜的生产，1999年广东安能保险柜制造有限公司正式成立，旗下“全能”品牌是中国保险柜行业的旗舰品牌。在公司的发展过程中，受到了社会的普遍认同，相继获得广东省著名商标、高新技术企业、中国保险柜十大品牌、中国酒店用品十大品牌、中国家具最受消费者欢迎品牌等荣誉称号，公司同时是中国安防协会理事单位、广东省安防协会理事单位。
      %p 经过多年的持续发展，公司已跻身为中国大陆领先、华南地区产销量第一的保险柜制造企业，创新的技术研发、卓越的品质控制、完善的售后服务，成为了北京奥运会、上海世博会、广州亚运会产品供应商，同时为中国移动、中国石油、中国银行等大型国企及公安部门、武警部队等军政部门提供各类专业保险柜产品。
      %p 时至今日，全能产品已遍布全国各省、自治区、直辖市，形成了以2000余个销售网点、300余家专卖店为主力的强大营销网络，有超过500万以上的忠实用户。产品远销中东、欧美、非洲、南太平洋等几十个国家和地区，并获得欧盟CE及ROHS等多项国际权威认证，成为多个国际名牌的OEM供应商，是国内最知名的保险柜出口品牌之一。
      %p 立足当下，壮志满怀，展望未来，意气风发。在不断探索创新中，诚信、智慧的全能人，正在努力打造中国安防行业的航空母舰，向服务全球的国际性综合安防集团企业迈进！
    #history.hidden
      %ul
        %li 1935年：安能母公司广东顺德糖厂成立；
        %li 1939年：广东顺德糖厂机械分厂生产保险柜产品，供应华南租界、海关等；
        %li 1995年：公司恢复保险柜产品生产，命名为“全能”品牌；
        %li 1999年：安能公司正式成立；
        %li 1999年：率先推出适用于公、检、法等单位保管枪支弹药的保险柜；
        %li 2000年：首创推出隐形锁电子密码保险柜；
        %li 2000年：率先推出耐火1小时1000度的防火性能保险柜；
        %li 2002年：率先推出应用先进电子技术的电子密码文件保密柜；
        %li 2003年：率先推出应用人体生物特征技术作为开启密码的指纹保险柜；
        %li 2005年：率先批量生产银行ATM柜员机配套的超安全等级的保险柜；
        %li 2006年：率先推出防火防盗于一体的高安全级别的复合类保险柜；
        %li 2008年：首创推出正常操作和预警时可拍照可视频记录的保险柜；
        %li 2008年：率先推出能实现远程监控、实时动态查询的智能化枪弹柜；
        %li 2009年：首创推出人脸识别技术的高安全性保险柜；
        %li 2009年：首创推出3G通讯可视频监控报警保险柜；
        %li 2010年：首创除湿防潮防盗保险柜；
        %li 2011年：首创银行非接触式IC卡电子锁；
        %li 2011年：首创用于网络存储的文件信息加密保护保险柜；
        %li 2011年：率先应用指纹自动扫描技术；
        %li 2012年：率先在国内推出并应用智能物流柜；
    #tao.hidden
      %h3 愿景：
      %p 成为国内保险柜行业第一品牌，赢利能力最强的企业；创国际品牌，成为全球保险柜市场的主要制造商之一。在适当时机，介入安防产品的其他领域，打造一个面向全球市场的综合安防产品制造服务商。
      %h3 使命：
      %p 让人们的工作和生活更加安全愉快。满足消费者的安全需要，满足员工改善生活的需要，满足股东投资价值最大化需要，为社会创造价值。
      %h3 理念：
      %ul
        %li 敬业：作为企业，尊重用户，尊重经销商；作为员工，热爱自己从事的工作和生产的产品。
        %li 勤业：作为企业，不断的创新与改进；作为员工，勤奋工作，投入自己的最大的精力和最多的时间。
        %li 精业：作为企业，成为行业中最专业的制造商；作为员工，成为其本职工作的专家。
        %li 竞业：作为企业，在与同行的竞争中积极进取并成为领先企业；作为员工，在企业团队中成为最优秀的员工。
      %h3 战略：
      %ul
        %li 创新第一：以技术、产品的创新为企业核心竞争力，精益、精巧、个性化的设计，创造出符合用户情感和功能期望的产品，能体现用户生活品味的产品。
        %li 品牌至上：品牌是我们最根深蒂固，不可动摇的东西，我们有足够的信心和耐心去设计最适合消费者使用的产品和最受消费者喜好的品牌！
        %li 品质为本：品质是价值与尊严的起点，是企业赖以生存的命脉。企业经营必须在提高产品质量和服务水平上下功夫。企业不仅产品质量要优异，达到用户的需求，还必须以优异的服务来满足用户的需求；在产品质量上，不仅要在功能和性能上符合标准，还要不断满足用户对功能和性能标准以外的新要求；不仅要满足用户物质上的要求，而且要创造具有魅力质量，使用户获得精神上的享受。
        %li 效率领先：效率领先：第一时间响应客户需求；以最短时间、合理的成本满足客户的需求。
      %h3 企业价值观：
      %p 我们相信，只有符合顾客、员工、股东、供应商以及社会的相关价值理念时,我们的目标、愿景和使命才能实现。
      %h3 对消费者，我们做到：
      %ul
        %li 一切以消费者为中心，及时满足消费者对创新产品的渴望，提供及时快速的服务；
        %li 质量为本，对质量持续不断改进，获得消费者的忠诚；
        %li 通过品牌建设，从情感上和精神上满足消费者的需要。
      %h3 对客户，我们做到：
      %ul
        %li 正直诚信，提供创新、及时、可靠、礼貌和专业的服务；
        %li 与客户建立平等合作的伙伴关系以保证双方的利益；
        %li 在新的、有效的市场营销活动中提供高质量的产品和服务。
      %h3 对员工，我们做到：
      %ul
        %li 认可员工的工作业绩，满足员工改善生活的需求；
        %li 所有的员工都相互信任和尊重；
        %li 文化和思想的多元化，员工的观点和想法被尊重和关注；
        %li 发扬团队精神和对公司忠诚，培养员工积极向上的态度；
        %li 为员工提供持续的改进、创新和挑战现状的工作环境和机制；
        %li 培养员工在任何时候都以努力满足客户为荣的心态。
      %h3 对股东，我们做到：
      %ul
        %li 长期的赢利和增长；
        %li 为股东提供最优的经济价值；
        %li 令人满意的资产回报率；
        %li 在充分的风险评估后做出合理的决策。
      %h3 对供应商，我们做到：
      %ul
        %li 相互信任和尊重，发展互利合作关系；
        %li 协助提供创新和技术进步，达到共同价值的最大化；
        %li 最好的质量，价格，服务。
      %h3 对社会，我们做到：
      %ul
        %li 安全，节能，环保；
        %li 参与社区公益活动；
        %li 承担企业社会责任。
    #honors.hidden
      %h3 全能品质　诚信天下
      %p 全能品牌生产企业广东安能保险柜有限公司，位于经济发展迅速的广东顺德。公司善于把握区域优势，发扬务实创新精神，凭借十多年来的持续发展，现已成为中国大陆领先的保险柜制造企业。公司占地面积三万多平方米，拥有卓越的自主研发团队，是国内产品种类最齐全、最专业的保险柜制造商。所生产的防盗保险柜、防火保险柜、防火防盗保险柜、文件保密柜、酒店客房保险箱等系列产品，在国内外享有良好的市场声誉及较高的市场占有率。“以服务赢得信誉，以质量赢取口碑”，全能凭借优质产品，真诚服务，先后成为了了2008年北京奥运会、2010年上海世博会等国际大型盛事的供应商。
  .block.h50px
