---
layout: default
body_style: page
belongs_to: about
permalink: /honors/
title: 全能荣誉
keywords: 全能保险柜
description: “以服务赢得信誉，以质量赢取口碑”，全能凭借优质保险柜产品，先后成为了2008年北京奥运会、2010年上海世博会等国际大型盛事的供应商。
---
.banner.banner-honors
  .banner-text.banner-text-honors
%article
  .page_nav
    %ul
      %li
        %a{ href: "/about/" } 全能介绍
      %li
        %a{ href: "/history/" } 公司历史
      %li
        %a{ href: "/tao/" } 全能之道
      %li.active
        %a{ href: "/honors/" } 全能荣誉
      %li
        %a{ href: "/360-panoramas/" } 企业360°实景
  .pages.content.center_content
    #honors
      %h4 全能品质　诚信天下
      %p 全能品牌生产企业广东安能保险柜有限公司，位于经济发展迅速的广东顺德。公司善于把握区域优势，发扬务实创新精神，凭借十多年来的持续发展，现已成为中国大陆领先的保险柜制造企业。公司占地面积三万多平方米，拥有卓越的自主研发团队，是国内产品种类最齐全、最专业的保险柜制造商。所生产的防盗保险柜、防火保险柜、防火防盗保险柜、文件保密柜、酒店客房保险箱等系列产品，在国内外享有良好的市场声誉及较高的市场占有率。“以服务赢得信誉，以质量赢取口碑”，全能凭借优质产品，真诚服务，先后成为了了2008年北京奥运会、2010年上海世博会等国际大型盛事的供应商。
  .block.h50px
