---
layout: default
body_style: page
permalink: /cases/
title: 工程案例
keywords: 保险柜
description: 安能保险柜公司成立伊始，就开始了与全球各大安防厂商的合作，积极向用户推广先进的各类安防设备，并提供咨询、安装、培训、维护等技术服务。

---
%article
  .block.h50px
  .page_nav
    %ul#filters
      %li.active
        %a{ href: "#", data: { filter: "*" } } 全部案例
      %li
        %a{ href: "#", data: { filter: ".gold" } } 金库门工程
      %li
        %a{ href: "#", data: { filter: ".hotel" } } 酒店工程
      %li
        %a{ href: "#", data: { filter: ".gun" } } 枪弹工程
      %li
        %a{ href: "#", data: { filter: ".dist" } } 物流工程
  .content.center_content
    #case_container
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/h/w01.jpg", rel: "casesbox", title: "金库" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/w01.jpg", width: 120 }
          .case_title 金库
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/h/w02.jpg", rel: "casesbox", title: "金库门系列" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/w02.jpg", width: 120 }
          .case_title 金库门系列
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/h/w03.jpg", rel: "casesbox", title: "生产一角" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/w03.jpg", width: 120 }
          .case_title 生产一角
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/h/w04.jpg", rel: "casesbox", title: "实例" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/w04.jpg", width: 120 }
          .case_title 实例
      .case_item.gold
        %a{ href: "http://www.qnnsafe.com/images/h/w05.jpg", rel: "casesbox", title: "移动金库" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/w05.jpg", width: 120 }
          .case_title 移动金库

      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s01.jpg", rel: "casesbox", title: "安阳华强建国酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s01.jpg", width: 120 }
          .case_title 安阳华强建国酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s02.jpg", rel: "casesbox", title: "安阳华强建国酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s02.jpg", width: 120 }
          .case_title 安阳华强建国酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s03.jpg", rel: "casesbox", title: "安阳华强建国酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s03.jpg", width: 120 }
          .case_title 安阳华强建国酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s04.jpg", rel: "casesbox", title: "北京益田影人花园酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s04.jpg", width: 120 }
          .case_title 北京益田影人花园酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s05.jpg", rel: "casesbox", title: "北京益田影人花园酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s05.jpg", width: 120 }
          .case_title 北京益田影人花园酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s06.jpg", rel: "casesbox", title: "北京中信国安第一城" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s06.jpg", width: 120 }
          .case_title 北京中信国安第一城
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s07.jpg", rel: "casesbox", title: "北京中信国安第一城" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s07.jpg", width: 120 }
          .case_title 北京中信国安第一城
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s08.jpg", rel: "casesbox", title: "北京中信国安第一城" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s08.jpg", width: 120 }
          .case_title 北京中信国安第一城
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s09.jpg", rel: "casesbox", title: "东莞虎门东方索菲特酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s09.jpg", width: 120 }
          .case_title 东莞虎门东方索菲特酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s10.jpg", rel: "casesbox", title: "东莞虎门东方索菲特酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s10.jpg", width: 120 }
          .case_title 东莞虎门东方索菲特酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s11.jpg", rel: "casesbox", title: "观澜湖高尔夫球会" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s11.jpg", width: 120 }
          .case_title 观澜湖高尔夫球会
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s12.jpg", rel: "casesbox", title: "观澜湖高尔夫球会" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s12.jpg", width: 120 }
          .case_title 观澜湖高尔夫球会
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s13.jpg", rel: "casesbox", title: "杭州华美达酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s13.jpg", width: 120 }
          .case_title 杭州华美达酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s14.jpg", rel: "casesbox", title: "杭州华美达酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s14.jpg", width: 120 }
          .case_title 杭州华美达酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s15.jpg", rel: "casesbox", title: "河北太行国宾馆" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s15.jpg", width: 120 }
          .case_title 河北太行国宾馆
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s16.jpg", rel: "casesbox", title: "河北太行国宾馆" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s16.jpg", width: 120 }
          .case_title 河北太行国宾馆
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s17.jpg", rel: "casesbox", title: "湖州喜来登温泉度假酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s17.jpg", width: 120 }
          .case_title 湖州喜来登温泉度假酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s18.jpg", rel: "casesbox", title: "湖州喜来登温泉度假酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s18.jpg", width: 120 }
          .case_title 湖州喜来登温泉度假酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s20.jpg", rel: "casesbox", title: "三亚半山半岛帆船酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s20.jpg", width: 120 }
          .case_title 三亚半山半岛帆船酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s21.jpg", rel: "casesbox", title: "三亚半山半岛帆船酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s21.jpg", width: 120 }
          .case_title 三亚半山半岛帆船酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s22.jpg", rel: "casesbox", title: "三亚半山半岛帆船酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s22.jpg", width: 120 }
          .case_title 三亚半山半岛帆船酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s23.jpg", rel: "casesbox", title: "三亚福朋喜来登酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s23.jpg", width: 120 }
          .case_title 三亚福朋喜来登酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s24.jpg", rel: "casesbox", title: "三亚福朋喜来登酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s24.jpg", width: 120 }
          .case_title 三亚福朋喜来登酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s25.jpg", rel: "casesbox", title: "深圳观澜格兰云天国际酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s25.jpg", width: 120 }
          .case_title 深圳观澜格兰云天国际酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s26.jpg", rel: "casesbox", title: "深圳观澜格兰云天国际酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s26.jpg", width: 120 }
          .case_title 深圳观澜格兰云天国际酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s27.jpg", rel: "casesbox", title: "温德姆和平国际厦门大酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s27.jpg", width: 120 }
          .case_title 温德姆和平国际厦门大酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s28.jpg", rel: "casesbox", title: "温德姆和平国际厦门大酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s28.jpg", width: 120 }
          .case_title 温德姆和平国际厦门大酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s29.jpg", rel: "casesbox", title: "浙江武义香格里拉酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s29.jpg", width: 120 }
          .case_title 浙江武义香格里拉酒店
      .case_item.hotel
        %a{ href: "http://www.qnnsafe.com/images/h/s30.jpg", rel: "casesbox", title: "浙江武义香格里拉酒店" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/s30.jpg", width: 120 }
          .case_title 浙江武义香格里拉酒店

      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/h/x01.jpg", rel: "casesbox", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/x01.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/h/x02.jpg", rel: "casesbox", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/x02.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/h/x03.jpg", rel: "casesbox", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/x03.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/h/x04.jpg", rel: "casesbox", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/x04.jpg", width: 120 }
          .case_title 枪弹工程
      .case_item.gun
        %a{ href: "http://www.qnnsafe.com/images/h/x05.jpg", rel: "casesbox", title: "枪弹工程" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/x05.jpg", width: 120 }
          .case_title 枪弹工程

      .case_item.dist
        %a{ href: "http://www.qnnsafe.com/images/h/y01.jpg", rel: "casesbox", title: "物流柜系统框架图" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/y01.jpg", width: 120 }
          .case_title 物流柜系统框架图
      .case_item.dist
        %a{ href: "http://www.qnnsafe.com/images/h/y02.jpg", rel: "casesbox", title: "东莞邮政局" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/y02.jpg", width: 120 }
          .case_title 东莞邮政局
      .case_item.dist
        %a{ href: "http://www.qnnsafe.com/images/h/y03.jpg", rel: "casesbox", title: "东莞邮政局" }
          %img{ height: 120, src: "http://www.qnnsafe.com/images/h/150px/y03.jpg", width: 120 }
          .case_title 东莞邮政局

  .block.h50px
