---
layout: default
body_style: page
permalink: /contact/
---
%article
  .block.h50px
  #contact.content.center_content
    %h4 全能保险柜总部
    %ul
      %li 总部地址：广东省佛山市顺德大良街道凤翔工业区德翔路8号
      %li 总部电话：0757-22308180
      %li 传真电话：0757-22308266、0757-22308282
    %h4 全能保险柜国内销售部（负责招商加盟，渠道管理）
    %ul
      %li 联系电话：0757-22308181、0757-22308182
      %li E-mail：sales@qnn.com.cn
    %h4 全能保险柜国内销售部（负责工程订做）
    %ul
      %li 联系电话：0757-22308196、0757-22308186
      %li E-mail：sales@qnn.com.cn
    %h4 全能保险柜出口销售部
    %ul
      %li 联系电话：0757-22308233、0757-22308234、0757-22308235
      %li E-mail：export@qnn.com.cn, export1@qnn.com.cn
    %h4 全能保险柜售后服务（负责产品售后）
    %ul
      %li 全国免费服务热线：400-830-4555
      %li 售后服务热线：0757-22308180
    %h4 全能保险柜市场部（负责媒体咨询，展会）
    %ul
      %li 联系电话：0757-22308195
  .block.h50px
