---
layout: default
body_style: page
permalink: /support/manual/
title: 产品说明书
keywords: 家用保险箱
description: 安能公司为您提供完整保险柜十大品牌的保险柜、保险箱、家用保险柜、家用保险箱等系列产品的使用说明，如有疑问，欢迎拨打全国服务热线咨询。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li.active
        %a{ href: "/support/" } 服务与支持
      %li
        %a{ href: "/support/manual/" } 产品说明书
      %li.active
        %a{ href: "/knowledge/" } 产品知识
      %li
        %a{ href: "/support/clean/" } 清洁保养
  .pages.content.center_content
    #support
      %p 我们相信只有符合消费者、客户、员工、股东、供应商以及我们的社会相关的价值理念时，我们的目标、远景和使命才能实现。
      %p 对消费者我们要做到：
      %p 一切以消费者为中心，及时满足消费者对创新产品的渴望；质量为本，对质量持续不断改进，从而获得忠诚的消费者；应对消费者的需要，提供及时快速服务。
      %p 对客户，我们做到：
      %p 正直诚信，提供创新、及时、可靠、礼貌和专业的服务；与客户建立平等合作的伙伴关系以保证双方的利益；在新的，有效的市场营销活动中提供高质量的产品和服务。
      %p 对社会，我们做到：
      %p 安全、节能、环保；参与社会公益活动；承担社会义务和责任
      %p 全国统一免费服务热线：400-830-4555
      %p 全球标准客户服务系统
      %p 全能郑重承诺本公司生产的保险柜整体可以使用10年以上，1年免费维修、终身维护，免费上门服务，并特设专门的售后服务部，专人接听客户咨询及投诉，售后服务网络遍及全国各大城市，承诺售后服务在1小时做出响应，24小时到达现场维修（市区）。公司本部开设24小时售后服务监督热线电话400-830-4555，0757-22308180随时接受咨询、报修、安装、监督和投诉服务。
      %p 专业、高效的服务网络
      %p 全能在中国有230多家办事处、5000多家营业网店、600家全能专卖店，并授权300多家特约服务机构、全国3000余名专职导购及专业技师为您服务。只要您提出有需求，我们将迅速派遣距离您最近的服务机构人员，为客户解决所有使用中的疑难问题以及为客户现场提供量身定制的系统解决方案，反应更快捷、沟通更方便、服务更专业。
      %p 全能保险柜所属企业：广东安能保险柜制造有限公司
      %p 地址：佛山市顺德区大良德翔路8号
      %p 总机：0757-22308180
      %p 传真：0757-22308266/22308282
      %p 邮箱：sales@qnn.com.cn
      %p 品牌管理中心
      %p 电话：0757-22308198
      %p 邮箱：market@qnn.com.cn
  .block.h50px
