---
permalink: /weixin/
---
!!!
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title 全能保险柜微信产品中心专页-全能保险柜官网
    <meta name="keywords" content="保险柜">
    <meta name="description" content="全能保险柜微信产品中心专页">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/assets/images/qnn-icon-152.png" rel="icon">
    <link rel="apple-touch-icon" href="/assets/images/qnn-icon-152.png">
    <meta name="apple-mobile-web-app-title" content="全能保险柜">
    <meta name="msapplication-TileImage" content="/assets/images/qnn-icon-152.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="robots" content="noindex">
    {% stylesheet weixin/weixin %}
  %body
    .msg-wrapper
      .msg-container
        %a.msg-item{ href: "/" }
          %span.msg-big-img
            %img{ src: "/assets/images/weixin/quanjiafu.jpg" }
            %span.msg-big-img-text 全能家族 全能冠军
        %a.msg-item{ href: "http://www.qnnsafe.com/bw-6960.html" }
          %span.msg-text 【全能风生水起】 中国首款风水保险柜
          %span.msg-img
            %img{ src: "/assets/images/weixin/bw.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/zf-4542.html" }
          %span.msg-text 【全能指点江山】 指点江山，运筹帷幄
          %span.msg-img
            %img{ src: "/images/weixin/zf.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/fg-2940br.html" }
          %span.msg-text 【全能钢将军】 实用为王，储物自如
          %span.msg-img
            %img{ src: "/images/weixin/fg.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/b-4538.html" }
          %span.msg-text 【全能金库】 防盗技术，全球领先
          %span.msg-img
            %img{ src: "/images/weixin/b.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/hg-2740.html" }
          %span.msg-text 【全能新皇冠】 安全典范，生活品味
          %span.msg-img
            %img{ src: "/images/weixin/hg.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/sjb-1630br.html" }
          %span.msg-text 【全能铁管家】 3C认证，品质保证
          %span.msg-img
            %img{ src: "/images/weixin/sjb.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/bmg-7545ab.html" }
          %span.msg-text 【全能文件柜】 精明老板，明智之选
          %span.msg-img
            %img{ src: "/images/weixin/bmg.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/glf-3340.html" }
          %span.msg-text 【全能高尔夫】 精英格调，赏心悦目
          %span.msg-img
            %img{ src: "/images/weixin/glf.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/tgg-2040br.html" }
          %span.msg-text 【全能铁金刚】 睿智沉稳，精英气息
          %span.msg-img
            %img{ src: "/images/weixin/tgg.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/gtx-3345.html" }
          %span.msg-text 【全能钢铁侠】 装甲精良，豪侠气概
          %span.msg-img
            %img{ src: "/images/weixin/bw.jpg" }
        %a.msg-item{ href: "http://www.qnnsafe.com/kl-4045.html" }
          %span.msg-text 【全能可拉】 时尚安全，和谐统一
          %span.msg-img
            %img{ src: "/images/weixin/kl.jpg" }
