#billboard {
  .bb {
    height: 530px;
    position: relative;

    .link a {
      display: block;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      outline: none;
      overflow: hidden;
      text-indent: -9999px;
    }

    .title {
      position: absolute;
      left: 80px;
      top: 75px;
      opacity: 0;
    }

    .subtitle {
      position: absolute;
      left: 80px;
      top: 275px;
      opacity: 0;
    }

    .image {
      position: absolute;
      right: -30px;
      top: 50px;
      opacity: 0;
    }

  }

}
