#finder-filter {
  padding: 30px 15px;
  font-size: 14px;
  a {
    color: blue;
    text-decoration: none;
  }
}

#finder {
  .item {
    width: 108px;
    height: 145px;
    float: left;
    padding: 10px;
    text-align: center;
    a {
      color: #666;
      text-decoration: none;
    }
    img {
      width: 100px;
      height: 100px;
    }
    .item_title {
      display: block;
      text-align: center;
      font-size: 13px;
    }
  }
}
