$max-width: 1000px;

html {
  background: #F2F2F2;
  height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
  font-family: Lobster,Arial,sans-serif;
}

body.page {
  max-width: ($max-width + 30);
  margin: 0 auto;
  border: 1px solid #D9D9D9;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

header, nav, article, footer, .wide {
  margin: 0 auto;
  max-width: $max-width;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  position: relative;
  z-index: 50;
}

header, nav {
  padding-left: 15px;
  padding-right: 15px;
}

a.logo {
  display: block;
  background: url(/assets/images/qnn-logo.png);
  width: 329px;
  height: 50px;
  text-indent: -9999px;
}

nav {
  position: relative;
  background: #fff;
}

#catalog {
  position: absolute;
  top: -500px;
  z-index: 5;
  left: 15px;
  right: 16px;
}

.top_divider {
  position:relative;
  overflow:hidden;
  &:before {
    content: ""; 
    position:absolute; 
    z-index: 1; 
    width: 100%;  
    top: -10px; 
    height: 10px; 
    left: 0%; 
    border-radius: 200px / 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  }
}

footer {
  border-top: 1px solid #CCC;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 20px;
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: #005CE7;
      text-decoration: underline;
    }
  }
  .left {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  .right {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    width: 200px;
    line-height: 30px;
  }
  .clear {
    clear: both;
  }
}

.lang {
margin: 0 2px;
float: right;
display: block;
width: 34px;
height: 34px;
background: url(/assets/images/lang.png) no-repeat 0 0;
text-indent: -9999px;
text-align: left;
}

.lang-en {
background-position: -40px 0;
}

.lang-zh {
background-position: 0 0;
}

.hidden {
  display: none;
}

#newsslider {
  .sliderkit-panels {
    width: $max-width;
  }
  span.date {
    margin-left: 6px;
    font-size: 12px;
    color: #adadad;
  }
}

.block {
  display: block;
}

.h50px {
  height: 50px;
}

.center_content {
  max-width: ($max-width - 200);
  margin: 20px auto;
  padding: 0 15px;
}

.content {
  $line-height: 24px;

  h1, h2, h3, h4, h5, h6 {
    position: relative;
  }

  h1, h2 {
    line-height: 36px;
    margin-bottom: 18px;
  }

  h1, h2, h3, h4 {
    margin-top: 18px;
  }

  h3, h4, h5, h6 {
    line-height: $line-height;
  }

  h1 {
    font-size: 36px;
    top: 5px;
  }

  h2 {
    font-size: 28px;
    top: 8px;
  }

  h3 {
    font-size: 22px;
    top: 1px;
  }

  h4 {
    font-size: 18px;
    top: 2px;
  }

  h5 {
    font-size: 15px;
    top: 4px;
  }

  h6 {
    font-size: 13px;
    top: 5px;
  }

  h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child {
    margin-top: 0;
  }

  p, pre, address {
    font-size: 14px;
    text-indent: 28px;
    line-height: $line-height;
    position: relative;
    top: 5px;
    margin-bottom: 15px;
  }

  small {
    font-size: 11px;
  }

  abbr, code, kbd,
    samp, small, var {
    line-height: $line-height;
  }

  ul, ol, dl {
    font-size: 14px;
    line-height: $line-height;
    position: relative;
    top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: disc;
    margin-left: 30px;
  }

  li ul, li ol, ul ul, ol ol {
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  li h1, li h2, li h3,
    li h4, li h5, li h6,
    li p {
    top: 0;
  }

  form, legend, label {
    font-size: 14px;
    line-height: $line-height;
  }

  legend {
    position: relative;
    top: 5px;
  }

  table {
    font-size: 14px;
  }

  caption {
    font-size: 14px;
    line-height: $line-height;
    position: relative;
  }

  hr {
    position: relative;
    height: 4px;
    margin: 18px 0 14px 0;
  }
}
