$max-width: 1000px;

header, nav, footer {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.logo {
  display: block;
  background: url(/assets/images/qnn-logo.png);
  width: 329px;
  height: 50px;
  text-indent: -9999px;
}
