$max-width: 1000px;

html {
  background: #F2F2F2;
  height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
  font-family: Lobster,Arial,sans-serif;
}

body.page {
  max-width: ($max-width + 30);
  margin: 0 auto;
  border: 1px solid #D9D9D9;
  border-top: none;
  border-bottom: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

header, nav, article, footer {
  margin: 0 auto;
  max-width: $max-width;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  position: relative;
  z-index: 50;
}

header, nav {
  padding-left: 15px;
  padding-right: 15px;
}

a.logo {
  display: block;
  background: url(/assets/images/qnn-logo.png);
  width: 329px;
  height: 50px;
  text-indent: -9999px;
}

nav {
  position: relative;
  background: #fff;
}

#catalog {
  position: absolute;
  top: -500px;
  z-index: 5;
  left: 15px;
  right: 16px;
}

.top_divider {
  position:relative;
  overflow:hidden;
  &:before {
    content: ""; 
    position:absolute; 
    z-index: 1; 
    width: 100%;  
    top: -10px; 
    height: 10px; 
    left: 0%; 
    border-radius: 200px / 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  }
}

footer {
  border-top: 1px solid #CCC;
  margin-top: 30px;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 20px;
  a {
    color: #005CE7;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .left {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  .right {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
  }
  .clear {
    clear: both;
  }
}
