@media only screen and (max-width: 480px) {
  header, nav {
    padding-left: 8px;
    padding-right: 8px;
  }

  header {
    padding-top: 5px;
    padding-bottom: 8px;
  }

  a.logo {
    background: url(/assets/images/qnn-logo-smaller.png) no-repeat 0 0;
    width: 304px;
    height: 46px;
  }

  #promo ul {
    display: block;
    li {
      display: block;
      padding: 2px 0 0;
    }
  }

  #newsslider {
    .left {
      display: none;
    }
    span.date {
      display: none;
    }
  }

  .newslider-minimal .sliderkit-panel{
    width: 320px;
  }

  footer .right {
    float: left;
    padding: 10px 0 0 10px;
  }

  ul.nav {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    li {
      float: left;
      width: 33.3%;
      margin-top: 3px;
      margin-right: -1px;
      a {
        border-left: 1px solid rgba(9, 9, 9, 0.125);
      }
      &:first-child {
        display: block;
        float: none;
        width: 100%;
        border-radius: 4px;
        border-left: 1px solid rgba(9, 9, 9, 0.125);
        border-right: 1px solid rgba(9, 9, 9, 0.125);
        margin-top: 0;
        a {
          border-left: 0;
        }
      }
      &:last-child {
        border-radius: 0;
      }
    }
  }

  #billboard {
    height: 520px;
    .bb {
      height: 520px;
      .title {
        top: 18px !important;
      }
      .subtitle {
        display: none;
      }
      .image {
        top: 170px;
        img {
          width: 280px;
        }
      }
    }
  }
}
