!!!
%html.no-js
  %head
    %meta{ charset: "UTF-8" }
    %title {% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }}-{% endif %}{{ site.title }}{% endif %}
    %meta{ name: 'keywords', content: '{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}' }
    %meta{ content: '{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}', name: 'description' }
    %script{ type: "text/javascript", src: "/assets/vendor/javascripts/jquery-1.10.2.min.js" }
    {% javascript application %}
    {% stylesheet application %}
  %body{ class: "{% if page.body_style %}{{ page.body_style }}{% else %}blank{% endif %}" }
    %header
      %a.logo{ href: "/" } 全能保险柜
    %nav
      %ul.nav
        %li<
          %a{ id: "nav-catalog", href: "/" } 全能产品库
        %li{ class: "{% if page.belongs_to == 'about' %}active{% endif %}" }<
          %a{ id: "nav-about", href: "/about/" } 认识全能
        %li{ class: "{% if page.url contains '/news/' %}active{% endif %}" }<
          %a{ id: "nav-news", href: "/news/" } 新闻中心
        %li{ class: "{% if page.belongs_to == 'cases' %}active{% endif %}" }<
          %a{ id: "nav-cases", href: "/cases/" } 工程案例
        %li{ class: "{% if page.belongs_to == 'support' %}active{% endif %}" }<
          %a{ id: "nav-support", href: "/support/" } 服务与支持
        %li<
          %a{ id: "nav-franchise", href: "/", target: "_blank" } 招商加盟
        %li{ class: "{% if page.url contains '/stores/' %}active{% endif %}" }<
          %a{ id: "nav-stores", href: "/stores/" } 销售网点
        %li{ class: "{% if page.belongs_to == 'contact' %}active{% endif %}" }<
          %a{ id: "nav-contact", href: "/contact/" } 联系我们
      #catalog.catalog
        %ul.line
          %li
            .figure
            %ul.model
              %li<
                %a{ href: "/b-5440.html" } 全能金库
              %li<
                %a{ href: "/bw-6960.html" } 风生水起
              %li<
                %a{ href: "/kl-4045.html" } 可拉珍藏
              %li<
                %a{ href: "/gtx-3345.html" } 钢铁侠
              %li<
                %a{ href: "/glf-3340.html" } 高尔夫
          %li
            .figure
            %ul.model
              %li<
                %a{ href: "/zf-3342.html" } 指点江山
              %li<
                %a{ href: "/hg-2740.html" } 新皇冠
              %li<
                %a{ href: "/sjb-1630br.html" } 铁管家
              %li<
                %a{ href: "/tgg-2040br.html" } 铁金刚
              %li<
                %a{ href: "/fg-2940br.html" } 钢将军
          %li
            .figure
            %ul.model
              %li<
                %a{ href: "/mi-2045uzh.html" } 酒店客房保管箱
              %li<
                %a{ href: "/mg-2043zh" } 酒店大堂保管箱
              %li<
                %a{ href: "/bmg-7545ab.html" } 文件保密柜
              %li<
                %a{ href: "/dg-6950c.html" } 投币式保险柜
              %li<
                %a{ href: "/cw-7348.html" } 藏宝系列
          %li
            .figure
            %ul.model
              %li<
                %a{ href: "/cs-2018d.html" } 安固系列
              %li<
                %a{ href: "/rk-25.html" } 高安全性保险柜
              %li<
                %a{ href: "/if-1500c.html" } 地藏式保险柜
              %li<
                %a{ href: "/jkm(m)-1020-n.html" } 金库门
              %li<
                %a{ href: "/" } 智能枪柜
          %li
            .figure
            %ul.model
              %li<
                %a{ href: "/ws-108.html" } 嵌墙式保险柜
              %li<
                %a{ href: "/" } 枪柜系列
              %li<
                %a{ href: "/cases/" } 金融专业柜
              %li<
                %a{ href: "/cases/" } 订造柜
    {{ content }}
    %footer
      .left
        &copy; 1999-2013 广东安能保险柜制造有限公司 
        %a{ href: "http://www.miitbeian.gov.cn/" }粤ICP备12015444号-1
        %a{ href: "http://www.qnnsafe.com/Sitemap.xml" }Sitemap
        %br
        网站建设维护与优化：
        %a{ href: "http://www.8html.com/" }8HTML    
      .right
        选择你的国家或地区：
        %a{ href: "http://www.qnnsafes.com/", class: "lang lang-en" } English
        %a{ href: "http://www.qnnsafe.com/", class: "lang lang-zh" } 中文
        .clear
      .clear
  /
    Generated on {{ site.time }}, using Jekyll, Haml, Sass, CoffeeScript.
    Source of this website can be found on https://github.com/qnn/qnnsafe.com-v1
