---
layout: default
body_style: page
belongs_to: support
---
%article
  #newsinfo.content.center_content
    %h2.center {{ page.title }}
    %em
      分类：
      {{ page.type }}
      = ' |'
      发表日期：{{ page.date | date:'%Y-%m-%d' }}
  #newscontent.content.center_content
    {{ content }}
  .block.h50px
