---
layout: default
body_style: page
belongs_to: support
---
%article
  .block.h50px
  -# 请同时更改 knowledge/index.haml
  .page_nav
    %ul
      %li
        %a{ href: "/support/" } 服务与支持
      %li
        %a{ href: "/support/manual/" } 产品说明书
      %li.active
        %a{ href: "/knowledge/" } 产品知识
      %li
        %a{ href: "/support/clean/" } 清洁保养
  #newslist.center_content
    %ul
      {% for post in site.categories["knowledge"] %}{% if post.type_eng == page.type_eng %}
      %li
        %em {{ post.date | date:'%Y-%m-%d' }}
        〔{{ post.type }}〕
        %a{ href: '{{ post.url }}' } {{ post.title }}
      {% endif %}{% endfor %}
  .block.h50px
