---
layout: default
body_style: page
title: 新闻中心
---
%article
  .block.h50px
  #newslist.center_content
    %ul
      {% for post in site.categories["news"] %}{% if post.type_eng == page.type_eng %}
      %li
        %em {{ post.date | date:'%Y-%m-%d' }}
        〔{{ post.type }}〕
        %a{ href: '{{ post.url }}' } {{ post.title }}
      {% endif %}{% endfor %}
  .block.h50px
