---
layout: default
body_style: page
---
%article
  #showcase.mi-slider
    %ul
      {% for post in site.categories["products"] reversed %}{% if post.type == page.type %}
      %li{ class: "{% if page.name == post.name %}current{% endif %}" }
        %a{ href: "{{ post.url }}", title: "{{ post.title }}" }
          %img{ src: "http://www.qnnsafe.com/image-pro/{{ post.images[0] }}" }
          %br
          {{ post.name }}
      {% endif %}{% endfor %}
    .nav
  .page_nav.is_pager
    %ul
      %li.active
        %a{ href: "#" } 产品概览
      %li
        %a{ href: "#" } 同系列产品对比
      %li
        %a{ href: "#" } 常见问题
  {% if page.features %}
  .pages.narrow
    #product_details
      {{ page.features | replace:'%PRODIMGS%',site.prodimgs }}
    #compare.hidden
      {{ content }}
    #faq.content.hidden
      {% haml faq.haml %}
  {% else %}
  .pages
    {{ content }}
    #faq.content.narrow.hidden
      {% haml faq.haml %}
  {% endif %}
