---
layout: default
body_style: page
---
%article
  #showcase.mi-slider
    %ul
      %li
        %a{ href: "/gtx-9050.html" }
          %img{ src: "http://test.html9.com/products/gtx-9050-01.jpg" }
          %br
          GTX-9050
      %li
        %a{ href: "/gtx-6845.html" }
          %img{ src: "http://test.html9.com/products/gtx-6845-01.jpg" }
          %br
          GTX-6845
      %li
        %a{ href: "/gtx-5842.html" }
          %img{ src: "http://test.html9.com/products/gtx-5842-01.jpg" }
          %br
          GTX-5842
      %li
        %a{ href: "/gtx-4542.html" }
          %img{ src: "http://test.html9.com/products/gtx-4542-01.jpg" }
          %br
          GTX-4542
      %li
        %a{ href: "/gtx-3345.html" }
          %img{ src: "http://test.html9.com/products/gtx-3345-01.jpg" }
          %br
          GTX-3345
      %li
        %a{ href: "/gtx-15870.html" }
          %img{ src: "http://test.html9.com/products/gtx-ty.jpg" }
          %br
          GTX-15870
    %ul
      %li
        %a{ href: "/gtx-9050.html" }
          %img{ src: "http://test.html9.com/products/gtx-9050-01.jpg" }
          %br
          GTX-9050
      %li
        %a{ href: "/gtx-6845.html" }
          %img{ src: "http://test.html9.com/products/gtx-6845-01.jpg" }
          %br
          GTX-6845
      %li
        %a{ href: "/gtx-5842.html" }
          %img{ src: "http://test.html9.com/products/gtx-5842-01.jpg" }
          %br
          GTX-5842
      %li
        %a{ href: "/gtx-4542.html" }
          %img{ src: "http://test.html9.com/products/gtx-4542-01.jpg" }
          %br
          GTX-4542
      %li
        %a{ href: "/gtx-3345.html" }
          %img{ src: "http://test.html9.com/products/gtx-3345-01.jpg" }
          %br
          GTX-3345
      %li
        %a{ href: "/gtx-15870.html" }
          %img{ src: "http://test.html9.com/products/gtx-ty.jpg" }
          %br
          GTX-15870
    .nav
      %a{ href: "#"} 1
      %a{ href: "#"} 2
  {{ content }}
