---
layout: news_article
type: 行业新闻
type_eng: industry-news

title: 经济危机引发恐惧，保险柜销量飙升
keywords: 保险柜
description: 经济危机使人们不安全感上升，保险箱与保管柜开始得到青睐。店主开始自己保管有价值的货物，另一些则希望更好地保存诸如黄金、现金等安全避险资产。
image: 
---
%p
  据美国有线电视新闻网8月14日报道：经济危机使得人们的不安全感上升，
  %a{href: "http://www.qnnsafe.com/"}> 保险箱
  与贵重物品保管柜开始得到青睐。一些商店店主开始自己保管有价值的货物，另一些人则希望更好地保存诸如黄金、现金等安全避险资产。
%p
  夏洛特港一家家具店表示，其过去一周内平均每天售出13000个
  = succeed "\u{ff0c}\u{662f}\u{4e4b}\u{524d}\u{4e00}\u{5468}\u{65e5}\u{5747}\u{9500}\u{91cf}3500\u{4e2a}\u{7684}\u{4e09}\u{500d}\u{8fd8}\u{591a}\u{3002}\u{4e9a}\u{9a6c}\u{900a}\u{7f51}\u{4e0a}1.2\u{7acb}\u{65b9}\u{82f1}\u{5c3a}\u{7684}\u{68ee}\u{7279}\u{7406}\u{5bc6}\u{7801}\u{4fdd}\u{9669}\u{7bb1}\u{ff0c}\u{552e}\u{4ef7}170\u{7f8e}\u{5143}\u{ff0c}\u{5728}\u{8fc7}\u{53bb}\u{7684}24\u{5c0f}\u{65f6}\u{5185}\u{9500}\u{91cf}\u{589e}\u{957f}44%\u{ff0c}\u{4e00}\u{4e3e}\u{767b}\u{4e0a}\u{4e86}\u{8be5}\u{7f51}\u{7ad9}\u{5468}\u{4e94}\u{6700}\u{70ed}\u{5356}\u{4ea7}\u{54c1}\u{6392}\u{884c}\u{699c}\u{3002}" do
    %a{href: "http://qnn.tmall.com"} 保险箱
%p
  一家专营保管钱币、珠宝、枪支等贵重物品
  = succeed "\u{7684}\u{5bb6}\u{5177}\u{5e97}\u{8d1f}\u{8d23}\u{4eba}\u{6307}\u{51fa}\u{ff0c}\u{8be5}\u{516c}\u{53f8}\u{4fdd}\u{9669}\u{7bb1}\u{9500}\u{91cf}\u{5728}\u{4e09}\u{5e74}\u{524d}\u{7ecf}\u{6d4e}\u{8870}\u{9000}\u{4e4b}\u{521d}\u{5373}\u{5f00}\u{59cb}\u{9010}\u{6e10}\u{5347}\u{9ad8}\u{ff0c}\u{5e76}\u{6307}\u{51fa}\u{968f}\u{7740}\u{7ecf}\u{6d4e}\u{5371}\u{673a}\u{7684}\u{9010}\u{6b65}\u{8513}\u{5ef6}\u{ff0c}\u{4eba}\u{4eec}\u{5f00}\u{59cb}\u{5bf9}\u{7f8e}\u{5143}\u{7684}\u{4e0d}\u{65ad}\u{8d2c}\u{503c}\u{3001}\u{90bb}\u{5c45}\u{76d7}\u{7a83}\u{72af}\u{7f6a}\u{7387}\u{7684}\u{6500}\u{5347}\u{611f}\u{5230}\u{7126}\u{8651}\u{ff0c}\u{751a}\u{81f3}\u{5fe7}\u{5fc3}\u{5fe1}\u{5fe1}\u{4e8e}\u{5176}\u{4ed6}\u{56fd}\u{5bb6}\u{7684}\u{9a9a}\u{4e71}\u{4f1a}\u{4f20}\u{67d3}\u{5230}\u{672c}\u{56fd}\u{3002}" do
    %a{href: "http://qnn.tmall.com"} 保险箱
%p
  尽管经济陷入衰退使得节省开支成为必然，但人们在保护自己有价值的资产方面仍然不惜重本。例如布朗保险箱高端系列产品，从价值450美元的嵌式保险箱到价值12万美元的客户装甲豪华
  = succeed "\u{ff0c}\u{8fc7}\u{53bb}\u{4e09}\u{5468}\u{9500}\u{91cf}\u{589e}\u{957f}\u{4e86}38%\u{3002}" do
    %a{href: "http://qnn.tmall.com"} 保险箱
